@import '../global';

.IconHeaderPC {
  display: flex;
  align-items: center;
  border-radius: calcSize(48);
  margin-right: calcSize(48);
  cursor: pointer;

  &:not(.active) {
    width: calcSize(48);
    height: calcSize(48);

    justify-content: center;

    & svg {
      fill: $ColorMain;
      & path {
        fill: $ColorMain !important;
        stroke: $ColorMain;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      outline: rgba(0, 0, 0, 0.05) calcSize(16) solid;
      outline-offset: 0;
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
      outline: rgba(0, 0, 0, 0.1) calcSize(16) solid;
      outline-offset: 0;
    }
  }
  &.active {
    width: calcSize(217);
    height: calcSize(64);
    background-color: $ColorMain;

    justify-content: space-evenly;

    & svg {
      fill: #fff;
      stroke: #fff;
      & path {
        fill: #fff;
        stroke: #fff;
      }
    }

    & > span {
      @include MyFonts(25, 400);
      line-height: calcSize(25);
      color: #ffffff;
      text-align: center;
    }
  }

  & svg {
    width: calcSize(41.8);
    height: calcSize(34.88);

    & path {
      stroke-opacity: 0.1;
    }
  }
}

.IconAuthPC {
  width: calcSize(40);
  height: calcSize(40);
  cursor: pointer;
}

.IconAuthPC_vector {
  height: calcSize(40);
  width: calcSize(40);
  border-radius: calcSize(40);
  display: flex;
  justify-content: center;
  margin-bottom: calcSize(22);
  cursor: pointer;
  background-color: #dd1a32;

  & svg {
    margin-left: calcSize(3);
    width: calcSize(40);
    height: calcSize(40);
  }
}

.IconAuthPC_done {
  height: calcSize(40);
  width: calcSize(40);
  border-radius: calcSize(10);
  cursor: pointer;
  background-color: #dd1a32;

  & svg {
    height: calcSize(40);
    width: calcSize(40);
  }
}

.IconItemValue {
  width: calcSize(60);
  height: calcSize(60);
}

.IconFormOrder {
  width: calcSize(60);
  height: calcSize(60);
}
