@import '../global';

.itemBannerPC {
  display: flex;
  margin-bottom: calcSize(20);

  .itemNumber {
    width: calcSize(60);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: calcSize(30);
  }

  .itemImg {
    width: calcSize(280);

    & img {
      object-fit: contain;
      image-rendering: auto;
      width: 100%;
      height: auto;
    }
  }

  .itemDesc {
    width: calcSize(600);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    & .desc {
      line-height: calcSize(30);
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    & span {
      height: calcSize(120);
      margin-left: calcSize(40);
      text-align: left;
      display: flex;
      align-items: center;
    }
  }
}

.containerBTNitem {
  width: 100%;

  & > button {
    margin-left: calcSize(30);
    width: calcSize(240);
    border-radius: calcSize(45);
    border: calcSize(3) solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.6) !important;
    height: calcSize(70);

    @include MyFonts(30, 400);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    cursor: pointer;

    &:hover {
      background-color: #f2f2f2;
      border: calcSize(2) solid #cccccc;
    }
    &:target {
      background-color: #f2f2f2;
      border: calcSize(2) solid #cccccc;
    }
    &:active {
      background-color: #f2f2f2;
      border: calcSize(2) solid #cccccc;
    }
  }

  & > div {
    margin-left: calcSize(30);
    width: calcSize(240);
    border-radius: calcSize(45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calcSize(70);
    margin-bottom: 0 !important;

    & > .minus {
      padding: 0;
      margin-left: calcSize(8);
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: #e6e6e6;

      @include MyFonts(50, 300);
      width: calcSize(60);
      height: calcSize(60);
      border-radius: calcSize(40);
      cursor: pointer;
    }
    & > .plus {
      padding: 0;
      margin-right: calcSize(8);
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      border: none;
      background-color: #e6e6e6;

      @include MyFonts(50, 300);
      width: calcSize(60);
      height: calcSize(60);
      border-radius: calcSize(40);
      cursor: pointer;
    }
    & > span {
      display: flex;
      align-items: center !important;
      text-align: center !important;
      margin-left: 0 !important;
      justify-content: center;
      @include MyFonts(40, 400);
    }
  }

  & > span {
    margin-left: calcSize(30);
    color: rgba(0, 0, 0, 0.6) !important;
    height: calcSize(70);
    @include MyFonts(30, 400);
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
}

.BannerFontPC {
  & .ItemTitle {
    @include MyFonts(50, 500);
  }

  & .ItemName {
    @include MyFonts(40, 400);
  }

  & .ItemOther {
    @include MyFonts(30, 400);
  }

  & .ItemSpan {
    @include MyFonts(40, 500);
  }

  & .ItemDesk {
    @include MyFonts(25, 400);
  }

  & .ItemTime {
    @include MyFonts(22, 400);
  }
}
