@use '../../../../shared/global' as *;

.product-grid__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calcSize(2520);
  align-items: flex-start;
  margin: calcSize(32) calcSize(125) calcSize(60);
  row-gap: calcSize(32);
}

@include tablet {
  .product-grid__item {
    width: calc(100vw - 48px);
    max-width: 920px;
    margin: 24px auto 48px;
    gap: 22px;
    justify-content: center;

    & > * {
      flex: 0 0 calc(50% - 11px);
      max-width: calc(50% - 11px);
    }
  }
}

@include mobile {
  .product-grid__item {
    width: calc(100vw - 28px);
    margin: 8px auto 32px;
    gap: 4px;
    justify-content: flex-start;

    & > * {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
