@import '../global';

.IconCartHeaderPC {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calcSize(48);
  height: calcSize(48);
  border-radius: calcSize(48);
  margin-right: calcSize(48);
  cursor: pointer;

  & svg {
    width: calcSize(41.8);
    height: calcSize(34.88);

    fill: $ColorMain;
    & path {
      fill: $ColorMain !important;
      stroke: $ColorMain;
      stroke-opacity: 0.1;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    outline: rgba(0, 0, 0, 0.05) calcSize(16) solid;
    outline-offset: 0;
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.1);
    outline: rgba(0, 0, 0, 0.1) calcSize(16) solid;
    outline-offset: 0;
  }
}

.active {
  background-color: rgba(0, 0, 0, 0.05);
  outline: rgba(0, 0, 0, 0.05) calcSize(16) solid;
  outline-offset: 0;
}

.IconCartHeaderPC_count {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: calcSize(217);
  height: calcSize(64);
  border-radius: calcSize(45);
  cursor: pointer;
  transition: all 0.2s ease 0s;
  background-color: #dd1a32;
  margin-right: calcSize(32);

  & span {
    @include MyFonts(25, 400);
    color: #ffffff;
    text-align: center;
  }

  & svg {
    width: calcSize(41.8);
    height: calcSize(34.88);

    fill: #fff;
    stroke: #fff;
    & path {
      fill: #fff;
      stroke: #fff;
      stroke-opacity: 0.1;
    }
  }
}
