@import '../global';

.MyCatLink {
  border: calcSize(1) solid transparent;
  width: calcSize(190);
  height: calcSize(62);
  margin-right: calcSize(16);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & svg {
    width: calcSize(20);
    height: calcSize(20);
    margin-left: calcSize(4);
    & path {
      stroke: $ColorText;
      stroke-opacity: 1;
    }
  }

  @include MyFonts(32, 400);

  &.bordered {
    width: calcSize(190);
    height: calcSize(62);
    border-radius: calcSize(40);
    border-color: rgba($color: #000000, $alpha: 0.2);
  }
  &:hover {
    color: #da1a32;
    &.bordered {
      border-color: #da1a32;
    }
    & svg path {
      stroke: #da1a32;
      stroke-opacity: 1;
    }
  }
  &:active {
    color: #c7172d;
    &.bordered {
      border-color: #c7172d;
    }
    & svg path {
      stroke: #c7172d;
      stroke-opacity: 1;
    }
  }
}
