@import '../settings.scss';

.tooltip_banner_mobile {
  position: absolute;
  left: $MyScale890_mobile;
  bottom: $MyScale57_3_mobile;
  width: $MyScale180_mobile;
  background-color: #fff;
  border-radius: $MyScale20_mobile;
  display: flex;
  flex-direction: column;
  padding: $MyScale20_mobile;
  white-space: pre-wrap;

  & .tooltip_text_mobile {
    @include font15_300();
  }

  & .tooltip_copy_mobile {
    @include font15_300();
    text-decoration: underline;
    color: #DD1A32 !important;
    text-decoration-thickness: $MyScale1_mobile;
  }

}

.erid_banner_mobile {
  position: absolute;
  right: $MyScale100_mobile;
  bottom: $MyScale20_mobile;
  width: $MyScale140_mobile;
  height: $MyScale30_mobile;
  border-radius: $MyScale30_mobile;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;

  & .erid_text_mobile {
    color: #fff !important;
    @include font18_400();
    margin-left: $MyScale20_mobile;
    font-weight: 300 !important;
  }

  & .erid_svg_mobile {
    width: $MyScale20_mobile;
    height: $MyScale20_mobile;
    margin-left: auto;
    margin-right: $MyScale10_mobile;

    & path {
      fill: #fff;
    }
  }
}

.erid_banner_mobile:hover:after {
  content: '';
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -$MyScale5_mobile;
  width: 0;
  border-top: $MyScale5_mobile solid #fff;
  border-right: $MyScale5_mobile solid transparent;
  border-left: $MyScale5_mobile solid transparent;
  font-size: 0;
  line-height: 0;
}

.BannerMobile {

  & .item_banner_image {
    width: $MyScale1090_mobile;
    margin: $MyScale200_mobile $MyScale40_mobile 0 $MyScale40_mobile;
    height: calc($MyScale1090_mobile / 2);
    border-radius: $MyScale40_mobile;
    background-color: #3faad8;
  }

  & .swiper-pagination {
    bottom: 0 !important;
    top: 0 !important;
    z-index: 3000 !important;
    position: relative !important;
    margin-top: $MyScale20_mobile;
    display: flex;
    justify-content: center;
    & .swiper-pagination-bullet {
      width: $MyScale20_mobile;
      height: $MyScale20_mobile;
      background: rgba(0, 0, 0, 0.1);
      margin-right: $MyScale20_mobile !important;
      margin-left: 0 !important;
      opacity: 1;
    }
    & .swiper-pagination-bullet-active {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

#modalBannerMobile {
  & .MuiDrawer-paper {
    max-height: calc(100% - $MyScale200_mobile);
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;

    & .BannerMobile {
      width: 100%;

      & .ImgItemMobile {
        width: 100%;
        position: relative;

        & img {
          border-radius: $MyScale80_mobile;
          object-fit: contain;
          image-rendering: auto;
          width: 100%;
          height: auto;
        }
        & span {
          height: $MyScale60_mobile;
          width: $MyScale240_mobile;
          color: #fff;
          display: flex;
          align-items: center;
          position: absolute;
          left: $MyScale80_mobile;
          bottom: $MyScale10_mobile;
          & svg {
            width: $MyScale24_mobile;
            height: $MyScale24_mobile;
          }
        }
      }

      & .erid {
        justify-content: flex-start;
        width: 100%;
        margin-left: $MyScale50_mobile;
        margin-top: $MyScale20_mobile;
      }

      & .DescItemMobile {
        max-width: calc(100% - $MyScale100_mobile);
        display: flex;
        flex-direction: column;
        margin-top: $MyScale40_mobile;

        & .FirstItemMobile {
          display: flex;
          flex-direction: column;

          

          & span {
            margin-bottom: $MyScale10_mobile;
          }

          & div {
            & p, li, a, span {
              @include font30_400();
  
              @media (max-width: 800px) {
                @include font40_400();
              }
            }
          }
        }

        & .SecondItemMobile {
          display: flex;
          flex-direction: column;
          margin-bottom: $MyScale60_mobile;

          & .Title {
            margin-bottom: $MyScale30_mobile;
          }

          & .List {
            display: flex;
            flex-direction: column;

            & div {
              display: flex;
              margin-bottom: $MyScale20_mobile;

              .itemNumber {
                width: $MyScale60_mobile;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                margin-top: $MyScale30_mobile;
              }

              .itemImg {
                width: $MyScale280_mobile;

                & img {
                  object-fit: contain;
                  image-rendering: auto;
                  width: 100%;
                  height: auto;
                }
              }

              .itemDesc {
                width: $MyScale600_mobile;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;

                & .ItemName{
                  @include font35_400();
                }

                & .ItemDesk{
                  @include font25_400();
                }

                & span {
                  height: $MyScale120_mobile;
                  margin-left: $MyScale40_mobile;
                  text-align: left;
                  display: flex;
                  align-items: center;
  
                  
                }
              }
            }
          }

          .containerBTNitem{
            width: 100%;
            
            & > button {
              margin-left: $MyScale30_mobile;
              width: $MyScale240_mobile;
              border-radius: $MyScale45_mobile;
              border: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
              color: rgba(0, 0, 0, 0.6) !important;
              height: $MyScale70_mobile;
      
              @include font30_400();
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
      
              cursor: pointer;

              &:hover {
                background-color: #f2f2f2;
                border: $MyScale2_mobile solid #cccccc;
              }
              &:target {
                background-color: #f2f2f2;
                border: $MyScale2_mobile solid #cccccc;
              }
              &:active {
                background-color: #f2f2f2;
                border: $MyScale2_mobile solid #cccccc;
              }
            }

            & > div {
              margin-left: $MyScale30_mobile;
              width: $MyScale240_mobile;
              border-radius: $MyScale45_mobile;
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: $MyScale70_mobile;
              margin-bottom: 0!important;

              & > .minus {
                padding: 0;
                margin-left: 0.2888088vw;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                background-color: #e6e6e6;
      
                @include font50_300();
                width: $MyScale60_mobile;
                height: $MyScale60_mobile;
                border-radius: $MyScale40_mobile;
                cursor: pointer;
              }
              & > .plus {
                padding: 0;
                margin-right: 0.2888088vw;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                border: none;
                background-color: #e6e6e6;
      
                @include font50_300();
                width: $MyScale60_mobile;
                height: $MyScale60_mobile;
                border-radius: $MyScale40_mobile;
                cursor: pointer;
              }
              & > span {
                display: flex;
                align-items: center!important;
                text-align: center!important;
                margin-left: 0!important;
                justify-content: center;
                @include font40_400();
              }
            }

            & > span{
              margin-left: $MyScale30_mobile;
              //width: $MyScale240;
              //border-radius: 1.62455vw;
              //border: $MyScale3 solid rgba(0, 0, 0, 0.2);
              color: rgba(0, 0, 0, 0.6) !important;
              height: $MyScale70_mobile;
      
              @include font30_400();
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
            }
          }

          .containerBTNItemMobile {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 0!important;
  
            & > button {
              width: $MyScale380_mobile;
              height: $MyScale110_mobile;
              border-radius: $MyScale55_mobile;
              margin-left: $MyScale30_mobile;
              background-color: rgba(0, 0, 0, 0.05);
              border: none;
              padding: 0;
              @include font44_400();
              color: rgba(0, 0, 0, 0.60) !important;
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
            }
  
            & > div {
              width: $MyScale380_mobile;
              height: $MyScale110_mobile;
              border-radius: $MyScale55_mobile;
              margin-left: $MyScale30_mobile;
              margin-bottom: 0!important;
              display: flex;
              justify-content: space-between;
              align-items: center;
              background-color: #ffff;
  
              & > .minus {
                padding: 0;
                margin-left: $MyScale10_mobile;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.07);
                border: none;
                @include font55_400();
                width: $MyScale90_mobile;
                height: $MyScale90_mobile;
                border-radius: $MyScale90_mobile;
              }
              & > .plus {
                padding: 0;
                margin-right: $MyScale10_mobile;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.07);
                border: none;
                @include font75_300();
                width: $MyScale90_mobile;
                height: $MyScale90_mobile;
                border-radius: $MyScale90_mobile;
              }
              & > span {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 0!important;
                @include font60_400();
              }
            }
          }

          .containerBTN {
            width: 100%;
            margin-top: $MyScale30_mobile;
            margin-bottom: $MyScale100_mobile;

            & > button {
              width: 100%;
              height: $MyScale110_mobile;
              border-radius: $MyScale55_mobile;
              
              border: $MyScale3 solid rgba(0, 0, 0, 0.2);
              color: rgba(0, 0, 0, 0.6) !important;
              
      
              @include font30_400();
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
      
              cursor: pointer;

              &:hover {
                background-color: #f2f2f2;
                border: $MyScale2 solid #cccccc;
              }
              &:target {
                background-color: #f2f2f2;
                border: $MyScale2 solid #cccccc;
              }
              &:active {
                background-color: #f2f2f2;
                border: $MyScale2 solid #cccccc;
              }
            }
          }
        }
      }
    }
  }
}

.BannerFontMobile {
  & .ItemTitle {
    @include font50_500();
  }

  & .ItemName {
    @include font40_400();
  }

  & .ItemOther {
    @include font30_400();
  }

  & .ItemSpan {
    @include font40_500();
  }

  & .ItemDesk {
    @include font25_400();
  }

  & .ItemTime {
    @include font22_400();
  }
}
