@import '../settings.scss';

.tooltip_banner_mobile {
  position: absolute;
  left: $MyScale890_mobile;
  bottom: $MyScale57_3_mobile;
  width: $MyScale180_mobile;
  background-color: #fff;
  border-radius: $MyScale20_mobile;
  display: flex;
  flex-direction: column;
  padding: $MyScale20_mobile;
  white-space: pre-wrap;

  & .tooltip_text_mobile {
    @include font15_300();
  }

  & .tooltip_copy_mobile {
    @include font15_300();
    text-decoration: underline;
    color: #DD1A32 !important;
    text-decoration-thickness: $MyScale1_mobile;
  }

}

.erid_banner_mobile {
  position: absolute;
  right: $MyScale100_mobile;
  bottom: $MyScale20_mobile;
  width: $MyScale140_mobile;
  height: $MyScale30_mobile;
  border-radius: $MyScale30_mobile;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;

  & .erid_text_mobile {
    color: #fff !important;
    @include font18_400();
    margin-left: $MyScale20_mobile;
    font-weight: 300 !important;
  }

  & .erid_svg_mobile {
    width: $MyScale20_mobile;
    height: $MyScale20_mobile;
    margin-left: auto;
    margin-right: $MyScale10_mobile;

    & path {
      fill: #fff;
    }
  }
}

.erid_banner_mobile:hover:after {
  content: '';
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -$MyScale5_mobile;
  width: 0;
  border-top: $MyScale5_mobile solid #fff;
  border-right: $MyScale5_mobile solid transparent;
  border-left: $MyScale5_mobile solid transparent;
  font-size: 0;
  line-height: 0;
}

.BannerMobile {

  & .item_banner_image {
    width: $MyScale1090_mobile;
    margin: $MyScale200_mobile $MyScale40_mobile 0 $MyScale40_mobile;
    height: calc($MyScale1090_mobile / 2);
    border-radius: $MyScale40_mobile;
    background-color: #3faad8;
  }

  & .swiper-pagination {
    bottom: 0 !important;
    top: 0 !important;
    z-index: 3000 !important;
    position: relative !important;
    margin-top: $MyScale20_mobile;
    display: flex;
    justify-content: center;
    & .swiper-pagination-bullet {
      width: $MyScale20_mobile;
      height: $MyScale20_mobile;
      background: rgba(0, 0, 0, 0.1);
      margin-right: $MyScale20_mobile !important;
      margin-left: 0 !important;
      opacity: 1;
    }
    & .swiper-pagination-bullet-active {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

#modalBannerMobile {
  & .MuiDrawer-paper {
    max-height: calc(100% - $MyScale200_mobile);
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;

    & .BannerMobile {
      width: 100%;

      & .ImgItemMobile {
        width: 100%;
        position: relative;

        & img {
          border-radius: $MyScale80_mobile;
          object-fit: contain;
          image-rendering: auto;
          width: 100%;
          height: auto;
        }
        & span {
          height: $MyScale60_mobile;
          width: $MyScale240_mobile;
          color: #fff;
          display: flex;
          align-items: center;
          position: absolute;
          left: $MyScale80_mobile;
          bottom: $MyScale10_mobile;
          & svg {
            width: $MyScale24_mobile;
            height: $MyScale24_mobile;
          }
        }
      }

      & .erid {
        justify-content: flex-start;
        width: 100%;
        margin-left: $MyScale50_mobile;
        margin-top: $MyScale20_mobile;
      }

      & .DescItemMobile {
        max-width: calc(100% - $MyScale100_mobile);
        display: flex;
        flex-direction: column;
        margin-top: $MyScale40_mobile;

        & .FirstItemMobile {
          display: flex;
          flex-direction: column;

          & span {
            margin-bottom: $MyScale10_mobile;
          }

          & div {
            & p {
              @include font30_400();
            }
          }
        }

        & .SecondItemMobile {
          display: flex;
          flex-direction: column;
          margin-bottom: $MyScale60_mobile;

          & .Title {
            margin-bottom: $MyScale30_mobile;
          }

          & .List {
            display: flex;
            flex-direction: column;

            & div {
              display: flex;
              margin-bottom: $MyScale20_mobile;

              .itemNumber {
                width: $MyScale60_mobile;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                margin-top: $MyScale30_mobile;
              }

              .itemImg {
                width: $MyScale280_mobile;

                & img {
                  object-fit: contain;
                  image-rendering: auto;
                  width: 100%;
                  height: auto;
                }
              }

              .itemDesc {
                width: $MyScale600_mobile;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;

                & span {
                  height: $MyScale120_mobile;
                  margin-left: $MyScale40_mobile;
                  text-align: left;
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

.BannerFontMobile {
  & .ItemTitle {
    @include font50_500();
  }

  & .ItemName {
    @include font40_400();
  }

  & .ItemOther {
    @include font30_400();
  }

  & .ItemSpan {
    @include font40_500();
  }

  & .ItemDesk {
    @include font25_400();
  }

  & .ItemTime {
    @include font22_400();
  }
}
