@import '../settings.scss';

.modalBannerPC {
  & .MuiDialog-paper {
    border-radius: 2.888085vw;
    overflow: visible;
    margin: 8.66425vw 0;
    width: 90.975vw;
    max-width: none !important;
  }
}

.BannerPC {
  & .ImgItem {
    //position: relative;

    // & img {
    //   object-fit: contain;
    //   image-rendering: auto;
    //   width: 100%;
    //   height: auto;
    //   border-radius: 1.444vw;
    // }

    & .Item {
      width: 90.975vw;
      height: 28.881vw;
      background-color: #3faad8;
      border-radius: 2.888085vw;
      position: relative;

      & .Group {
        z-index: 1;
        position: absolute;
        top: 25vw;
        left: 20.289vw;
        width: 31.047vw;
        height: 4vw;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;

        & button {
          background: #ffffff;
          height: 2.888085vw;
          width: 14.441vw;
          border-radius: 1.625vw;
          cursor: pointer;
          display: flex;
          align-items: center;
          margin-right: 2.167vw;

          & span {
            color: #b1b1b1;
            text-decoration: line-through;
            text-decoration-color: #dd1a32;
            margin-right: 0.55vw;
          }
        }

        & span {
          color: #ffffff;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }

  & .DescItem {
    display: flex;
    margin: 2.8881vw 5.7762vw 2.8881vw 3.611vw;
    justify-content: space-between;
    width: 100%;

    & .FirstItem {
      width: 35.3791vw;
      display: flex;
      flex-direction: column;

      & .Title {
        padding-left: 2.1661vw;
        margin-bottom: 1.0831vw;
      }

      & .List {
        display: flex;
        flex-direction: column;

        & div {
          display: flex;
          margin-bottom: 0.7221vw;

          .itemNumber {
            width: 3.1vw;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            padding-top: 1.0831vw;
          }

          .itemImg {
            width: 11.0548vw;

            & img {
              object-fit: contain;
              image-rendering: auto;
              width: 100%;
              height: auto;
            }
          }

          .itemDesc {
            width: 24.536vw;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            & span {
              height: 4.3322vw;
              text-align: left;
              display: flex;
              align-items: center;
              padding-left: 1.444vw;
            }
          }
        }
      }
    }

    & .SecondItem {
      width: 38.9897vw;
      display: flex;
      flex-direction: column;

      & .TextDecor {
        text-decoration: underline;
        color: #dd1a32;
        cursor: pointer;
      }
    }
  }

  & .Line {
    height: 0.3612vw;
    width: 10.8305vw;
    margin-bottom: 1.64vw;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.1805055vw;
  }
}

.BannerFontPC {
  & .ItemTitle {
    @include font50_500();
  }

  & .ItemName {
    @include font40_400();
  }

  & .ItemOther {
    @include font30_400();
  }

  & .ItemSpan {
    @include font40_500();
  }

  & .ItemDesk {
    @include font25_400();
  }

  & .ItemTime {
    @include font22_400();
  }
}
