@import '../settings.scss';

.modalBannerPC {
  & .MuiDialog-paper {
    border-radius: $MyScale80;
    overflow: visible;
    margin: $MyScale240 0;
    width: $MyScale2520;
    max-width: none !important;
  }
}

.BannerPC {
  & .ImgItem {
    //position: relative;

    // & img {
    //   object-fit: contain;
    //   image-rendering: auto;
    //   width: 100%;
    //   height: auto;
    //   border-radius: 1.444vw;
    // }

    & .Item {
      width: $MyScale2520;
      height: $MyScale800;
      background-color: #3faad8;
      border-radius: $MyScale80;
      position: relative;

      & .Group {
        z-index: 5;
        position: absolute;
        left: $MyScale160;
        bottom: $MyScale80;
        width: $MyScale860;
        height: $MyScale80;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & button {
          background: #ffffff;
          height: $MyScale80;
          width: $MyScale400;
          border-radius: $MyScale45;
          cursor: pointer;
          display: flex;
          align-items: center;

          & span {
            text-decoration: line-through;
            text-decoration-color: #dd1a32;
            text-decoration-thickness: $MyScale3;
            margin-right: $MyScale20;
          }
        }

        & .spanButton {
          height: $MyScale80;
          width: $MyScale400;
          color: #fff;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }

  & .DescItem {
    display: flex;
    margin-top: $MyScale80;
    margin-bottom: $MyScale160;
    justify-content: space-between;
    width: $MyScale2260;

    & .FirstItem {
      width: $MyScale980;
      display: flex;
      flex-direction: column;

      & .Title {
        margin-left: $MyScale60;
        margin-bottom: $MyScale30;
      }

      & .List {
        display: flex;
        flex-direction: column;

        & div {
          display: flex;
          margin-bottom: $MyScale20;

          .itemNumber {
            width: $MyScale60;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            margin-top: $MyScale30;
          }

          .itemImg {
            width: $MyScale280;

            & img {
              object-fit: contain;
              image-rendering: auto;
              width: 100%;
              height: auto;
            }
          }

          .itemDesc {
            width: $MyScale600;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            & span {
              height: $MyScale120;
              margin-left: $MyScale40;
              text-align: left;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }

    & .SecondItem {
      width: $MyScale1080;
      display: flex;
      flex-direction: column;

      & .TextDecor {
        text-decoration: underline;
        color: #dd1a32;
        cursor: pointer;
      }
    }
  }
}

.BannerFontPC {
  & .ItemTitle {
    @include font50_500();
  }

  & .ItemName {
    @include font40_400();
  }

  & .ItemOther {
    @include font30_400();
  }

  & .ItemSpan {
    @include font40_500();
  }

  & .ItemDesk {
    @include font25_400();
  }

  & .ItemTime {
    @include font22_400();
  }
}

.swiper-slide {
  cursor: pointer;
}

.swiper-scrollbar {
  display: none;
}

.swiper-pagination {
  bottom: 0 !important;
  top: 0 !important;
  z-index: 3000 !important;
  position: relative !important;
  margin-top: 0.72202166064982vw;
  display: flex;
  justify-content: center;
  & .swiper-pagination-bullet {
    width: 0.72202166064982vw;
    height: 0.72202166064982vw;
    margin-right: 0.72202166064982vw !important;
    margin-left: 0 !important;
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
  }
  & .swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0.3);
  }
}

.swiper-button-prev {
  width: 60px !important;
  height: 24.581vw !important;
  top: 0 !important;
  left: 0 !important;
  padding-left: 1.444043vw !important;
  z-index: 1 !important;
  position: absolute !important;
  margin-top: 0 !important;
}

.swiper-button-next {
  width: 60px !important;
  height: 24.581vw !important;
  top: 0 !important;
  right: 0 !important;
  padding-right: 1.444043vw !important;
  z-index: 1 !important;
  position: absolute !important;
  margin-top: 0 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '' !important;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none !important;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  outline: none !important;
}
