@import '../settings.scss';

.eridBannerPC {
  position: absolute;
  right: $MyScale380;
  bottom: $MyScale40;
  width: $MyScale200;
  height: $MyScale50;
  border-radius: $MyScale50;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;

  & .spanContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: $MyScale30;
    color: #fff;
    line-height: $MyScale10;
  }

  & .text {
    color: #fff !important;
    font-weight: 300 !important;
    margin-left: auto;
  }
}

.spanTitle{
  @include font25_400();
}
.titleDots{
  & > .text{
    @include font25_400();
  }
  & .spanContainer > span{
    @include font25_400();
    color: #fff;
  }
}

.modalBannerPC {
  & .MuiDialog-paper {
    border-radius: $MyScale80;
    overflow: visible;
    margin: $MyScale128 0;
    max-width: none !important;
    width: $MyScale2520;

    .BannerPC {
      position: relative;

      & .iconBTN {
        position: absolute;
        left: -$MyScale80;
        padding: 0;
        background-color: transparent;
        z-index: 50;

        & svg {
          width: $MyScale60;
          height: $MyScale60;
          overflow: visible;
          border-radius: $MyScale30;
          background: rgba(0, 0, 0, 0.5);
        }
      }

      & .ImgItem {
        position: relative;

        & img {
          border-radius: $MyScale80;
          object-fit: contain;
          image-rendering: auto;
          width: 100%;
          height: auto;
        }

        & span {
          left: $MyScale160;
          bottom: $MyScale40;
          position: absolute;
          height: $MyScale80;
          width: $MyScale400;
          color: #fff;
          display: flex;
          align-items: center;
          cursor: pointer;
          & svg {
            width: $MyScale25;
            height: $MyScale25;
          }
        }
      }

      & .erid {
        justify-content: flex-start;
        width: 100%;
        margin-left: $MyScale120;
        margin-top: $MyScale40;
        margin-left: $MyScale160;
      }

      & .DescItem {
        display: flex;
        margin-top: $MyScale60;
        margin-bottom: $MyScale60;
        justify-content: space-between;
        width: $MyScale2260;

        & .FirstItem {
          width: $MyScale980;
          display: flex;
          flex-direction: column;

          & .Title {
            margin-left: $MyScale30;
            margin-bottom: $MyScale30;
          }

          & .List {
            display: flex;
            flex-direction: column;

            & div {
              display: flex;
              margin-bottom: $MyScale20;

              .itemNumber {
                width: $MyScale60;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                margin-top: $MyScale30;
              }

              .itemImg {
                width: $MyScale280;

                & img {
                  object-fit: contain;
                  image-rendering: auto;
                  width: 100%;
                  height: auto;
                }
              }

              .itemDesc {
                width: $MyScale600;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;

                & span {
                  height: $MyScale120;
                  margin-left: $MyScale40;
                  text-align: left;
                  display: flex;
                  align-items: center;
                }
              }
            }
          }

          .containerBTNitem{
            width: 100%;
            
            & > button {
              margin-left: $MyScale30;
              width: $MyScale240;
              border-radius: 1.62455vw;
              border: $MyScale3 solid rgba(0, 0, 0, 0.2);
              color: rgba(0, 0, 0, 0.6) !important;
              height: $MyScale70;
      
              @include font30_400();
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
      
              cursor: pointer;

              &:hover {
                background-color: #f2f2f2;
                border: $MyScale2 solid #cccccc;
              }
              &:target {
                background-color: #f2f2f2;
                border: $MyScale2 solid #cccccc;
              }
              &:active {
                background-color: #f2f2f2;
                border: $MyScale2 solid #cccccc;
              }
            }

            & > div {
              margin-left: $MyScale30;
              width: $MyScale240;
              border-radius: $MyScale45;
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: $MyScale70;
              margin-bottom: 0!important;

              & > .minus {
                padding: 0;
                margin-left: 0.2888088vw;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                background-color: #e6e6e6;
      
                @include font50_300();
                width: $MyScale60;
                height: $MyScale60;
                border-radius: $MyScale40;
                cursor: pointer;
              }
              & > .plus {
                padding: 0;
                margin-right: 0.2888088vw;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                border: none;
                background-color: #e6e6e6;
      
                @include font50_300();
                width: $MyScale60;
                height: $MyScale60;
                border-radius: $MyScale40;
                cursor: pointer;
              }
              & > span {
                display: flex;
                align-items: center!important;
                text-align: center!important;
                margin-left: 0!important;
                justify-content: center;
                @include font40_400();
              }
            }

            & > span{
              margin-left: $MyScale30;
              //width: $MyScale240;
              //border-radius: 1.62455vw;
              //border: $MyScale3 solid rgba(0, 0, 0, 0.2);
              color: rgba(0, 0, 0, 0.6) !important;
              height: $MyScale70;
      
              @include font30_400();
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
            }
          }

          .containerBTN {
            width: 100%;
            
            & > button {
              margin-left: $MyScale30;
              width: $MyScale400;
              border-radius: 1.62455vw;
              border: $MyScale3 solid rgba(0, 0, 0, 0.2);
              color: rgba(0, 0, 0, 0.6) !important;
              height: $MyScale80;
      
              @include font30_400();
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
      
              cursor: pointer;

              &:hover {
                background-color: #f2f2f2;
                border: $MyScale2 solid #cccccc;
              }
              &:target {
                background-color: #f2f2f2;
                border: $MyScale2 solid #cccccc;
              }
              &:active {
                background-color: #f2f2f2;
                border: $MyScale2 solid #cccccc;
              }
            }
          }
        }

        & .SecondItem {
          width: $MyScale1080;
          display: flex;
          flex-direction: column;

          & div {
            & p {
              @include font40_400();
            }
          }
        }
      }
    }
  }
}

.BannerFontPC {
  & .ItemTitle {
    @include font50_500();
  }

  & .ItemName {
    @include font40_400();
  }

  & .ItemOther {
    @include font30_400();
  }

  & .ItemSpan {
    @include font40_500();
  }

  & .ItemDesk {
    @include font25_400();
  }

  & .ItemTime {
    @include font22_400();
  }
}

.swiper{
  margin-top: $MyScale128!important;
}
.swiper-slide {
  cursor: pointer;
}

.swiper-scrollbar {
  display: none;
}

.swiper-pagination {
  bottom: 0 !important;
  top: 0 !important;
  z-index: 3000 !important;
  position: relative !important;
  margin-top: 0.72202166064982vw;
  display: flex;
  justify-content: center;
  & .swiper-pagination-bullet {
    width: 0.72202166064982vw;
    height: 0.72202166064982vw;
    margin-right: 0.72202166064982vw !important;
    margin-left: 0 !important;
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
  }
  & .swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0.3);
  }
}

.swiper-button-prev {
  width: 60px !important;
  height: 24.581vw !important;
  top: 0 !important;
  left: 0 !important;
  padding-left: 1.444043vw !important;
  z-index: 1 !important;
  position: absolute !important;
  margin-top: 0 !important;
}

.swiper-button-next {
  width: 60px !important;
  height: 24.581vw !important;
  top: 0 !important;
  right: 0 !important;
  padding-right: 1.444043vw !important;
  z-index: 1 !important;
  position: absolute !important;
  margin-top: 0 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '' !important;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none !important;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  outline: none !important;
}
