@use "../settings" as *;

.modalCardItemPC {
  & .MuiDialog-paper {
    border-radius: $MyScale32;
    overflow: visible;
    margin: 0;
    width: 70.7585vw;
    max-width: none !important;

    height: 47.6535vw;
  }
}

.modalItemPC {

  & .closeButton {
    position: absolute;
    top: 0;
    left: -$MyScale80;
    padding: 0;
    background-color: transparent;

    & svg {
      width: $MyScale60;
      height: $MyScale60;
      overflow: visible;
      border-radius: $MyScale60;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  & .ImgItem {
    position: relative;
    width: 44.7655vw;
    height: 44.7655vw;
    margin: 1.444045vw;
    
    & img {
      object-fit: contain;
      image-rendering: auto;
      width: 100%;
      height: auto;
    }
  }

  & .FirstItem {
    position: relative;
    overflow-y: hidden;
    width: 47.6535vw;
    height: 47.6535vw;

    & .Table {
      position: absolute;
      background: #ffffff;
      width: 41.8777vw;
      height: 44.7655vw;
      margin: 2.888085vw;
      border-top-left-radius: 1.444045vw;
      border-top-right-radius: 1.444045vw;

      & .Title {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 5.0545vw;
        margin-bottom: 0.72202vw;

        & h2 {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 2.1664vw;
          margin-top: $MyScale80;
        }
      }

      & .List {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;

        & .ValueTitle {
          margin-bottom: 1.66065vw;
          margin-top: 0.3249099vw;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          & h2 {
            height: 2.1666vw;
            width: 24.188vw;
            text-align: center;
          }
        }

        & .SetItem {
          display: flex;
          padding: 1.444045vw 1.805055vw 1.444045vw 3.249096vw;
          height: 8.6642599277978vw;

          & .itemNumber {
            width: 2.1661vw;
            height: 1.0830324909747vw;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 0.72202vw;
          }

          & .itemImg {
            width: 8.6642599277978vw;
            & img {
              object-fit: contain;
              image-rendering: auto;
              width: 100%;
              height: auto;
            }
          }

          & .itemDesc {
            width: 21.661vw;
            display: flex;
            justify-content: flex-start;
            margin-left: 2.166065vw;
            flex-direction: column;

            & span {
              display: flex;
              align-items: center;
              height: 50%;
              text-align: left;
            }
          }
        }

        & .ValueItem {
          display: flex;
          width: 100%;
          min-height: 10.8307vw;

          & .itemNumber {
            width: 2.1661vw;
            height: 1.0830324909747vw;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 1.444045vw;
            margin-top: 1.444045vw;
            padding-left: 1.805055vw;
          }

          & .itemValueColumn {
            display: flex;
            flex-direction: column;
            width: 32.2745vw;
            border: $MyScale3 solid #b2b2b2;
            border-radius: 1.083032vw;

            & .itemValueRowMain {
              width: 100%;
              display: flex;
              align-items: center;
              border-bottom: $MyScale3 solid #b2b2b2;

              & > div:first-child {
                display: flex;
                justify-content: flex-start;
                text-align: left;
                align-items: center;
                border-right: $MyScale3 solid #b2b2b2;
                width: 31.944vw;
                height: 2.6726vw;
                padding-left: 1.083034vw;
                padding-top: 1.263537vw;
                padding-bottom: $MyScale38;
              }

              & > div:last-child {
                width: 8.444vw;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                & span {
                  margin-bottom: 0.2166066vw;
                }
              }
            }

            & .itemValueRow {
              width: 100%;
              display: flex;
              align-items: center;

              & > div:first-child {
                display: flex;
                justify-content: flex-start;
                text-align: left;
                align-items: center;
                border-right: $MyScale3 solid #b2b2b2;
                width: 18.206vw;
                min-height: 4.2245vw;
                padding-left: 1.083034vw;
                padding-top: 0.577616vw;
                padding-bottom: $MyScale15;
                padding-right: 0.72202vw;
              }

              & > div:last-child {
                width: 13.042vw;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                & div {
                  width: 10.8304vw;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;

                  .dot {
                    content: '';
                    border-bottom: $MyScale2 dotted rgba(0, 0, 0, 0.8);
                    flex: 1;
                    margin: 0 0.541515vw;
                    align-items: flex-end;
                    margin-bottom: 0.2166066vw;
                  }
                }
              }
            }
          }
        }

        &::-webkit-scrollbar {
          width: 1.4440433212996vw;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.3);
          border-right: solid 1.0830324909747vw #ffffff;
        }

        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0.2);
          margin-bottom: 8.6642599277978vw;
          border-right: solid 1.0830324909747vw #ffffff;
        }
      }
    }
  }

  & .SecondItem {
    width: 20.217vw;
    margin: 7.2202vw 2.888085vw 7.2202vw 0;
    position: relative;

    height: 33.2131vw;
    display: flex;
    flex-direction: column;
    min-height: 0;

    & h1 {
      margin-bottom: 0.72202vw;
    }

    & .dop {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1.444045vw;
      height: 2.1666vw;

      & .dop_text {
        padding: 0;
        width: 14.4405vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & .first_text {
          @include font25_400();
          border-right: $MyScale1 solid rgba(0, 0, 0, 0.6);
          padding-right: 1.444045vw;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-decoration: underline;
          color: #dd1a32 !important;
        }

        & .second_text {
          @include font25_400();
          border-right: $MyScale1 solid rgba(0, 0, 0, 0.6);
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        & .third_text {
          @include font25_400();
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }

      & .dop_icon {
        width: $MyScale60;
        height: $MyScale60;
      }

    }

    & .desc {
      flex: 1 1 auto;
      min-height: 0;
      overflow-y: auto;
      display: block;

      margin-bottom: calc(#{$MyScale80} + 1.444045vw);
      box-sizing: border-box;
      padding-right: 1.0830324909747vw;

      &::-webkit-scrollbar { width: 1.4440433212996vw; }
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.3);
        border-right: solid 1.0830324909747vw #ffffff;
      }
      &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.2);
        border-right: solid 1.0830324909747vw #ffffff;
      }
    
    }

    .containerBTN {
      width: 100%;
      position: absolute;
      bottom: 0;

      & > button {
        border: $MyScale3 solid rgba(0, 0, 0, 0.2);
        width: $MyScale400;
        border-radius: 1.62455vw;
        color: rgba(0, 0, 0, 0.6) !important;
        height: $MyScale80;
        padding: 0;

        @include font30_400();
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;

        &:hover {
          background-color: #f2f2f2;
          border: $MyScale2 solid #cccccc;
        }
        &:target {
          background-color: #f2f2f2;
          border: $MyScale2 solid #cccccc;
        }
        &:active {
          background-color: #f2f2f2;
          border: $MyScale2 solid #cccccc;
        }
      }
      & > div {
        width: $MyScale394;
        border-radius: 1.62455vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $MyScale74;
        border: $MyScale3 solid rgba(0, 0, 0, 0.2);

        & > .minus {
          padding: 0;
          margin-left: 0.2888088vw;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background-color: #e6e6e6;
          mix-blend-mode: multiply;
          @include font50_300();
          width: 2.1661vw;
          height: 2.1661vw;
          border-radius: 1.444045vw;
        }
        & > .plus {
          padding: 0;
          margin-right: 0.2888088vw;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          border: none;
          background-color: #e6e6e6;
          mix-blend-mode: multiply;
          @include font50_300();
          width: 2.1661vw;
          height: 2.1661vw;
          border-radius: 1.444045vw;
        }
        & > span {
          display: flex;
          align-items: center;
          justify-content: center;
          @include font40_400();
        }
      }
    }
  }
  

}

.ModalFontPC {
  & .ItemTitleStart {
    @include font50_400();
  }
  & .ItemTitleSet {
    @include font40_400();
  }
  & .ItemName {
    @include font40_400();
  }
  & .ItemDesk {
    @include font25_400();
    color: rgba(0, 0, 0, 0.6) !important;
  }
  & .ItemTitleValue {
    @include font22_400();
  }
  & .ItemDescStart {
    @include font30_400();
    color: rgba(0, 0, 0, 0.6) !important;
  }
}

.hidddenText5 {
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.CardItemPC.active {
  & > div {
    background-color: rgba(242, 242, 242, 0.5) !important;
    & img {
      mix-blend-mode: multiply;
    }
  }
}

.ContainerCardItemPC {
  width: 90.975vw !important;
  align-items: center;
  margin: 0 $MyScale125 !important;
  // transition: all 0.5s ease-in-out;

  .CardItemPC {
    width: $MyScale600;
    padding: 0 !important;
    height: $MyScale1016;
    margin-bottom: $MyScale32;
    
    @media (min-width: 801px) and (max-width: 1000px) {
      width: calc($MyScale600 * 2);
      height: calc($MyScale1016 * 2);
    }

    & > div {
      background-color: #fff;
      border-radius: $MyScale32;
      mix-blend-mode: multiply;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      & .imgItem {
        position: relative;
        width: 100%;

        & img {
          width: 100%;
          height: auto;
          position: initial;
        }
      }

      & .CardNameItem {
        height: $MyScale96;
        @include font44_500;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 $MyScale32;

        @media (min-width: 801px) and (max-width: 1000px) {
          height: calc($MyScale96 * 2);
          padding: 0 $MyScale64;
        }
      }

      & .dop_text {
        padding: 0;
        height: $MyScale64;
        width: $MyScale300;
        display: flex;
        align-items: center;

        @media (min-width: 801px) and (max-width: 1000px) {
          height: calc($MyScale64 * 2);
          width: calc($MyScale300 * 2);
        }

        & .first_text {
          @include font22_400();
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgba(0, 0, 0, 0.4);
        }
        & .second_text {
          @include font22_400();
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgba(0, 0, 0, 0.4);
        }
        & .third_text {
          @include font22_400();
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgba(0, 0, 0, 0.4);
        }

        & .divider {
          height: $MyScale20;
          width: $MyScale1;
          background-color: rgba(0, 0, 0, 0.4);

          @media (min-width: 801px) and (max-width: 1000px) {
            height: calc($MyScale20 * 2);
            width: calc($MyScale1 * 2);
          }
        }
      }

      .desc_text {
        padding: 0 $MyScale32;
        height: $MyScale96;
        color: rgba(0, 0, 0, 0.6) !important;
        @include font26_400();
        text-align: center;
        line-height: $MyScale33;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @media (min-width: 801px) and (max-width: 1000px) {
          height: calc($MyScale64 * 3);
          padding: 0 $MyScale64;
          line-height: calc($MyScale33 * 2);
        }
      }

      .containerBTN {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $MyScale32;
        width: $MyScale384;
        height: $MyScale96;

        @media (min-width: 801px) and (max-width: 1000px) {
          width: calc($MyScale384 * 2);
          height: calc($MyScale96 * 2);
          margin-top: calc($MyScale32 * 2);
        }

        & > button {
          width: 100%;
          height: 100%;
          border-radius: $MyScale48;
          border: none;
          background-color: rgba(0, 0, 0, 0.05);
          color: rgba(0, 0, 0, 0.8) !important;
          padding: 0;
          @include font32_400();
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;

          @media (min-width: 801px) and (max-width: 1000px) {
            border-radius: calc($MyScale48 * 2);
          }

          &:hover{
            background-color: rgba(0, 0, 0, 0.07) !important;
          }
        }
        & > div {
          width: 100%;
          height: 100%;
          border-radius: $MyScale48;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #ffff;

          @media (min-width: 801px) and (max-width: 1000px) {
            border-radius: calc($MyScale48 * 2);
          }

          & > .minus {
            padding: 0;
            margin-left: $MyScale8;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: $MyScale40;
            background-color:rgba(0, 0, 0, 0.05);
            border: none;
            @include font44_400();
            width: $MyScale80;
            height: $MyScale80;

            @media (min-width: 801px) and (max-width: 1000px) {
              margin-left: calc($MyScale8 * 2);
              border-radius: calc($MyScale40 * 2);
              width: calc($MyScale80 * 2);
              height: calc($MyScale80 * 2);
            }

            &:hover{
              background-color: rgba(0, 0, 0, 0.07) !important;
            }
          }
          & > .plus {
            padding: 0;
            margin-right: $MyScale8;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            cursor: pointer;
            background-color:rgba(0, 0, 0, 0.05);
            border: none;
            @include font60_300();
            width: $MyScale80;
            height: $MyScale80;
            border-radius: $MyScale40;

            @media (min-width: 801px) and (max-width: 1000px) {
              margin-right: calc($MyScale8 * 2);
              border-radius: calc($MyScale40 * 2);
              width: calc($MyScale80 * 2);
              height: calc($MyScale80 * 2);
            }

            &:hover{
              background-color: rgba(0, 0, 0, 0.07) !important;
            }
          }
          & > span {
            display: flex;
            align-items: center;
            justify-content: center;
            @include font44_400();
          }
        }
      }
    }
  }
}
