@import '../settings.scss';

.filterPC {
  width: $MyScale2520;
  border-radius: $MyScale40;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: $MyScale32;
  margin-left: $MyScale125;
  display: flex;
  padding: $MyScale40 0;

  & .search_clear{
    display: flex;
    align-items: center;
    
    & .tag {
      height: $MyScale70 !important;
      width: fit-content;
      border-radius: 100px;
      //background-color: #fff;
      padding: 0 $MyScale38;
      cursor: pointer;
      border: $MyScale3 solid transparent;

      margin-top: $MyScale40;
      margin-left: $MyScale60;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(221, 26, 50);
      & span {
        height: $MyScale40;
        @include font30_400();
        //color: rgba(0, 0, 0, 0.9) !important;
        color: #fff!important;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  & .filterTag {
    width: $MyScale1684;
    display: flex;
    flex-direction: column;
    margin: $MyScale20 0;

    & > div:first-child {
      display: flex;
      flex-wrap: wrap;
      margin-left: $MyScale60;
      margin-right: $MyScale144;
      gap: $MyScale20;

      & .tag {
        border-radius: $MyScale32;
        background-color: #fff;
        padding: $MyScale10 $MyScale38;
        cursor: pointer;
        border: $MyScale3 solid transparent;

        & span {
          height: $MyScale40;
          @include font30_400();
          color: rgba(0, 0, 0, 0.9) !important;

          display: flex;
          justify-content: center;
          align-items: center;
          &:hover{
            color: #dd1a32 !important;
          }
        }
      }
      & .tag_ {
        border-radius: $MyScale32;
        background-color: #fff;
        padding: $MyScale10 $MyScale38;
        cursor: pointer;
        border: $MyScale3 solid transparent;

        & span {
          height: $MyScale40;
          @include font30_400();
          color: #fff !important;

          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
        }
      }

      & .tag.active {
        border: $MyScale3 solid rgba(0, 0, 0, 0.4);
        //background-color: rgba(0, 0, 0, 0.025);
        & span{
          color: #dd1a32!important;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-right: $MyScale10;
        & svg{
          width: $MyScale50;
          height: $MyScale40;
          padding-left: $MyScale15;

          fill: rgba(0, 0, 0, 0.9);
          color: rgba(0, 0, 0, 0.9);
          stroke: rgba(0, 0, 0, 0.9);
          & path{
            fill: rgba(0, 0, 0, 0.9);
            color: rgba(0, 0, 0, 0.9);
            stroke: rgba(0, 0, 0, 0.9);
          }
        }
      }
    }

    & .inputSearch {
      margin-top: $MyScale40;
      margin-left: $MyScale60;
      width: $MyScale1480 !important;

      & .MuiInputBase-root.MuiOutlinedInput-root {
        width: $MyScale1480 !important;
        height: $MyScale80 !important;
        border-radius: $MyScale40;
        background-color: #fff;

        & input {
          padding: 0 !important;
          width: $MyScale1200;
          margin-left: $MyScale16;
          @include font30_400();
        }

        & fieldset {
          border: none;
          padding: 0;
        }

        & svg {
          width: $MyScale48;
          height: $MyScale48;
          //margin-left: $MyScale16;
        }
      }
    }
  }

  & .filterDivider {
    background-color: rgba(0, 0, 0, 0.2);
    width: $MyScale2;
  }

  & .filterBadge {
    width: $MyScale834;
    display: flex;
    align-items: flex-start;
    margin: $MyScale20 0;

    & > div {
      display: flex;
      flex-wrap: wrap;
      margin-left: $MyScale60;
      margin-right: $MyScale188;
      gap: $MyScale20;

      & div.tag {
        border-radius: $MyScale32;
        cursor: pointer;

        & span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: $MyScale176;
          height: $MyScale64;

          color: #fff !important;
          @include font22_400();
          text-transform: uppercase;
        }
      }
    }
  }
}

.filterMobile {
  position: absolute;
  left: $MyScale40_mobile;
  width: $MyScale1020_mobile;
  border-radius: $MyScale40_mobile;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: $MyScale60_mobile $MyScale10_mobile $MyScale60_mobile
    $MyScale60_mobile;
  opacity: 0;
  animation: ani 0.5s forwards;
  margin: $MyScale20_mobile 0;

  & .filterBadge {
    display: flex;
    margin-bottom: $MyScale60_mobile;

    & div {
      display: flex;
      flex-wrap: wrap;
      column-gap: $MyScale30_mobile;
      row-gap: $MyScale40_mobile;

      & .tag {
        border-radius: $MyScale48_mobile;

        & span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: $MyScale264_mobile;
          height: $MyScale96_mobile;

          color: #fff !important;
          @include font30_400();
          text-transform: uppercase;
        }
      }
    }
  }

  & .filterDivider {
    background-color: rgba(0, 0, 0, 0.2);
    width: $MyScale970_mobile;
    height: $MyScale2_mobile;
  }

  & .filterTag {
    display: flex;
    //margin-top: $MyScale60_mobile;
    flex-direction: column;

    & .tags {
      display: flex;
      flex-wrap: wrap;
      column-gap: $MyScale30_mobile;
      row-gap: $MyScale40_mobile;

      & .tag {
        border: $MyScale3_mobile solid transparent;
        border-radius: $MyScale48_mobile;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        

        & span {
          display: flex;
          align-items: center;
          justify-content: center;
          height: $MyScale96_mobile;
          border-radius: $MyScale48_mobile;
          @include font40_400();
          padding: 0 $MyScale63_mobile;
          color: rgba(0, 0, 0, 0.9) !important;
        }

        &.active {
          border: $MyScale3_mobile solid rgba(0, 0, 0, 0.4);
          //background-color: rgba(0, 0, 0, 0.025);

          justify-content: space-around;
          padding-right: $MyScale10;

          & span {
            padding-right: 0;
            padding-left: $MyScale30_mobile;;
          }
          & span{
            color: #dd1a32!important;
          }
          & svg{
            width: $MyScale70_mobile;
            height: $MyScale70_mobile;
            padding-left: $MyScale10_mobile;
  
            fill: rgba(0, 0, 0, 0.9);
            color: rgba(0, 0, 0, 0.9);
            stroke: rgba(0, 0, 0, 0.9);
            & path{
              fill: rgba(0, 0, 0, 0.9);
              color: rgba(0, 0, 0, 0.9);
              stroke: rgba(0, 0, 0, 0.9);
            }
          }

        }
      }
      & .search_clear.tag{
        background-color: rgb(221, 26, 50);
        & span{
          color: #fff !important;
          background-color: rgb(221, 26, 50)!important;
        }
      }
      & .tag_ {
        border: $MyScale3_mobile solid transparent;
        border-radius: $MyScale48_mobile;

        & span {
          display: flex;
          align-items: center;
          justify-content: center;
          height: $MyScale96_mobile;
          border-radius: $MyScale48_mobile;
          //background-color: #fff;
          @include font40_400();
          padding: 0 $MyScale63_mobile;
          color: #fff !important;
          text-transform: uppercase;
        }

        &.active {
          border: $MyScale3_mobile solid rgba(0, 0, 0, 0.4);
          //background-color: rgba(0, 0, 0, 0.025);
          & span{
            color: #dd1a32!important;
          }
        }
      }
    }

    & .inputSearch {
      margin-top: $MyScale60_mobile;
      width: $MyScale970_mobile;

      & .MuiInputBase-root.MuiOutlinedInput-root {
        width: $MyScale970_mobile;
        height: $MyScale100_mobile !important;
        border-radius: $MyScale48_mobile;
        background-color: #fff;

        & input {
          padding: 0 !important;
          width: $MyScale800_mobile;
          @include font40_400();
        }

        & fieldset {
          border: none;
          padding: 0;
        }

        & svg {
          width: $MyScale48_mobile;
          height: $MyScale48_mobile;
        }
      }
    }
  }
}

@keyframes ani {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
