@import '../settings.scss';

.filterPC {
  width: $MyScale2520;
  border-radius: $MyScale40;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: $MyScale32;
  margin-left: $MyScale125;
  display: flex;
  padding: $MyScale40 0;

  & .filterTag {
    width: $MyScale1684;
    display: flex;
    flex-direction: column;
    margin: $MyScale20 0;

    & > div:first-child {
      display: flex;
      flex-wrap: wrap;
      margin-left: $MyScale60;
      margin-right: $MyScale144;
      gap: $MyScale20;

      & .tag {
        border-radius: $MyScale32;
        background-color: #fff;
        padding: $MyScale10 $MyScale38;
        cursor: pointer;
        border: $MyScale2 solid transparent;

        & span {
          height: $MyScale40;
          @include font30_400();
          color: rgba(0, 0, 0, 0.9) !important;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      & .tag.active {
        border: $MyScale2 solid rgba(0, 0, 0, 0.6);
      }
    }

    & .inputSearch {
      margin-top: $MyScale40;
      margin-left: $MyScale60;
      width: $MyScale1480 !important;

      & .MuiInputBase-root.MuiOutlinedInput-root {
        width: $MyScale1480 !important;
        height: $MyScale80 !important;
        border-radius: $MyScale40;
        background-color: #fff;

        & input {
          padding: 0 !important;
          width: $MyScale1200;
          margin-left: $MyScale16;
          @include font30_400();
        }

        & fieldset {
          border: none;
          padding: 0;
        }

        & svg {
          width: $MyScale48;
          height: $MyScale48;
          //margin-left: $MyScale16;
        }
      }
    }
  }

  & .filterDivider {
    background-color: rgba(0, 0, 0, 0.2);
    width: $MyScale2;
  }

  & .filterBadge {
    width: $MyScale834;
    display: flex;
    align-items: flex-start;
    margin: $MyScale20 0;

    & > div {
      display: flex;
      flex-wrap: wrap;
      margin-left: $MyScale60;
      margin-right: $MyScale188;
      gap: $MyScale20;

      & div.tag {
        border-radius: $MyScale32;
        cursor: pointer;

        & span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: $MyScale176;
          height: $MyScale64;

          color: #fff !important;
          @include font22_400();
          text-transform: uppercase;
        }
      }
    }
  }
}

.filterMobile {
  position: absolute;
  left: $MyScale40_mobile;
  width: $MyScale1020_mobile;
  border-radius: $MyScale40_mobile;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: $MyScale60_mobile $MyScale10_mobile $MyScale60_mobile
    $MyScale60_mobile;
  opacity: 0;
  animation: ani 0.5s forwards;
  margin: $MyScale20_mobile 0;

  & .filterBadge {
    display: flex;
    margin-bottom: $MyScale60_mobile;

    & div {
      display: flex;
      flex-wrap: wrap;
      column-gap: $MyScale30_mobile;
      row-gap: $MyScale40_mobile;

      & .tag {
        border-radius: $MyScale48_mobile;

        & span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: $MyScale264_mobile;
          height: $MyScale96_mobile;

          color: #fff !important;
          @include font30_400();
          text-transform: uppercase;
        }
      }
    }
  }

  & .filterDivider {
    background-color: rgba(0, 0, 0, 0.2);
    width: $MyScale970_mobile;
    height: $MyScale2_mobile;
  }

  & .filterTag {
    display: flex;
    margin-top: $MyScale60_mobile;
    flex-direction: column;

    & .tags {
      display: flex;
      flex-wrap: wrap;
      column-gap: $MyScale30_mobile;
      row-gap: $MyScale40_mobile;

      & .tag {
        border: $MyScale2_mobile solid transparent;
        border-radius: $MyScale48_mobile;

        & span {
          display: flex;
          align-items: center;
          justify-content: center;
          height: $MyScale96_mobile;
          border-radius: $MyScale48_mobile;
          background-color: #fff;
          @include font40_400();
          padding: 0 $MyScale63_mobile;
          color: rgba(0, 0, 0, 0.9) !important;
        }

        &.active {
          border: $MyScale2_mobile solid rgba(0, 0, 0, 0.6);
        }
      }
    }

    & .inputSearch {
      margin-top: $MyScale60_mobile;
      width: $MyScale970_mobile;

      & .MuiInputBase-root.MuiOutlinedInput-root {
        width: $MyScale970_mobile;
        height: $MyScale100_mobile !important;
        border-radius: $MyScale48_mobile;
        background-color: #fff;

        & input {
          padding: 0 !important;
          width: $MyScale800_mobile;
          @include font40_400();
        }

        & fieldset {
          border: none;
          padding: 0;
        }

        & svg {
          width: $MyScale48_mobile;
          height: $MyScale48_mobile;
        }
      }
    }
  }
}

@keyframes ani {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
