@import '../settings.scss';

.CardItemPC.active{
  & > div{
    background-color: rgba(242, 242, 242, 0.5)!important;
    & img {
      z-index: -1!important;
      position: relative!important;
    }
  }
  
}

.CardItemPC {
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column !important;
  align-items: stretch;
  justify-content: space-between;
  

  & > div{
    background-color: #fff;
    padding: 30px 16px;
    border-radius: 1.3vw;

    & img {
      /*max-width: 100%;
        width: auto;
        padding: 0px 1.2vw;*/
      width: 100%;
      height: auto;
      position: initial;
    }
  }
  
  & .CardNameItem {
    @include font40_400();
    text-align: center;
    flex: 1;
    margin-top: 0.3vw;
  }
  & .dop_text {
    padding: 0;
    height: 20px;
    width: 66.67%;
    margin-left: 16.665%;
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    margin-bottom: 20px;

    & .first_text {
      @include font20_400();
      height: 20px;
      border-right: 1px solid #dadada;
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & .second_text{
      @include font20_400();
      height: 20px;
      border-right: 1px solid #dadada;
      display: flex; 
      align-items: center; 
      justify-content: center;
    }
    & .third_text{
      @include font20_400();
      height: 20px;
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .desc_text{
    height: 5.9vw;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    overflow: hidden;
    @include font25_400();
  }
  .containerBTN{
    display: flex;
    align-items: center;
    justify-content: center;
    & > button{
      width: 50%;
      border-radius: 45px;

      @media (max-width: 1280px) {
        height: 30px;
        border: 2px solid #cccccc;
      }
      @media (min-width: 1281px) {
        height: 2.9vw;
        border: 2px solid #cccccc;
      }

      @include font30_400();
      text-transform: initial;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      
      &:hover {
        background-color: #f2f2f2;
        border: 2px solid #cccccc;
      }
      &:target {
        background-color: #f2f2f2;
        border: 2px solid #cccccc;
      }
      &:active {
        background-color: #f2f2f2;
        border: 2px solid #cccccc;
      }
    }
    & > div{
      width: 50%;
      border-radius: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffff;
    
      height: 2.9vw;
      
    
      & > .minus {
        padding: 0;
        margin-left: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #f2f2f2;
        border:none;
    
        @include font50_300();
        width: 2vw;
        height: 2vw;
        border-radius: 40px;
      }
      & > .plus {
        padding: 0;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #f2f2f2;
        border:none;
    
        @include font50_300();
        width: 2vw;
        height: 2vw;
        border-radius: 40px;
      }
      & > span {
        display: flex;
        align-items: center;
        justify-content: center;
        @include font40_400();
      }
    }
  }

  // &:hover img {
  //   transform: translate(0, 5px);
  //   -webkit-transform: translate(0, 5px);
  //   -o-transform: translate(0, 5px);
  //   -moz-transform: translate(0, 5px);

  //   transition: all 0.2s ease-in-out;
  //   -webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
  //   -moz-transition: all 0.2s ease-in-out; /** Firefox **/
  //   -o-transition: all 0.2s ease-in-out; /** Opera **/
  // }

}

.ModalItemButtonCartPC.openPC {
  
}
