@import '../settings.scss';

.modalCardItemPC {
  & .MuiDialog-paper {
    border-radius: 40px;
    overflow: visible;
    margin: 0 !important;
    width: calc(70.75% - 64px) !important;
    max-width: none !important;
  }
}

.modalItemPC {
  & .FirstItem {
    width: 55%;
    margin: 2% 2.5% 2% 4.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: hidden;
    border-radius: 40px;
    background: #ffffff;

    height: 700px;

    & img {
      object-fit: contain;
      image-rendering: auto;
      width: 100%;
      height: auto;
    }

    & .Table {
      position: absolute;
      background: #ffffff;

      & .Title {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 160px;

        & div {
          min-height: 4px;
          width: 100px;
          margin-bottom: 5%;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 10px;
        }

        & h2 {
          text-align: center;
        }
      }

      & .List {
        height: 500px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;

        & div {
          width: 85%;
          display: flex;

          .itemNumber {
            width: 5%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
          }

          .itemDesc {
            width: 65%;
            display: flex;
            justify-content: flex-start;
            margin-left: 10%;
            flex-direction: column;

            & span {
              margin-bottom: 3%;
              text-align: left;
            }
          }

          .itemValue {
            width: 95%;
            flex-direction: column;
            align-items: center;
            border: 2px solid #b2b2b2;
            border-radius: 20px;
            margin-left: 5%;

            .itemValueRow {
              width: 100%;
              justify-content: center;
              align-items: center;

              & > div:first-child {
                justify-content: flex-start;
                text-align: left;
                align-items: center;
                padding: 5%;
                border-right: 2px solid #b2b2b2;
              }

              & > div:last-child {
                justify-content: center;
                align-items: center;
                flex-direction: column;

                & div {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;

                  .dot {
                    content: '';
                    border-bottom: 1px dotted #aaa;
                    flex: 1;
                    margin: 0 5%;
                    align-items: flex-end;
                    margin-bottom: 2%;
                  }
                }
              }
            }
          }
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.3);
          border-radius: 10px;
        }
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0.2);
          border-radius: 10px;
        }
      }
    }
  }

  & .SecondItem {
    width: 32%;
    min-height: 400px;
    padding-left: 2.25%;
    margin-right: 5.5%;
    margin-top: 6%;
    margin-bottom: 6%;
    position: relative;

    & div {
      display: flex;
      align-items: center;
      padding: 0;
      justify-content: space-between;
      width: 100%;

      & .dop_text {
        padding: 0;
        height: 40px;
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;

        & .first_text {
          @include font25_400();
          height: 20px;
          border-right: 1px solid #cccccc;
          padding-right: 10%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-decoration: underline;
          color: #dd1a32 !important;
          cursor: pointer;
        }

        & .second_text {
          @include font25_400();
          height: 20px;
          border-right: 1px solid #cccccc;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        & .third_text {
          @include font25_400();
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }

    .containerBTN {
      justify-content: flex-start;
      position: absolute;
      bottom: 0;

      & > button {
        width: 85%;
        border-radius: 45px;
        border: 2px solid rgba(0, 0, 0, 0.2);

        height: 2.9vw;

        @include font30_400();
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;

        &:hover {
          background-color: #f2f2f2;
          border: 2px solid #cccccc;
        }
        &:target {
          background-color: #f2f2f2;
          border: 2px solid #cccccc;
        }
        &:active {
          background-color: #f2f2f2;
          border: 2px solid #cccccc;
        }
      }
      & > div {
        width: 50%;
        border-radius: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffff;

        height: 2.9vw;

        & > .minus {
          padding: 0;
          margin-left: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          background-color: #f2f2f2 !important;
          border: none;

          @include font50_300();
          width: 2vw;
          height: 2vw;
          border-radius: 40px;
        }
        & > .plus {
          padding: 0;
          margin-right: 8px;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          cursor: pointer;
          background-color: #f2f2f2 !important;
          border: none;

          @include font50_300();
          width: 2vw;
          height: 2vw;
          border-radius: 40px;
        }
        & > span {
          display: flex;
          align-items: center;
          justify-content: center;
          @include font40_400();
        }
      }
    }
  }
}

.ModalFontPC {
  & .ItemTitleStart {
    @include font50_500();
    color: #000000cc !important;
  }
  & .ItemTitleSet {
    @include font40_400();
    color: rgba(0, 0, 0, 0.8);
  }
  & .ItemDesk {
    @include font25_400();
    color: rgba(0, 0, 0, 0.6);
  }
  & .ItemTitleValue {
    @include font22_400();
    color: rgba(0, 0, 0, 0.8);
  }
  & .ItemDescStart {
    @include font30_400();
    color: rgba(0, 0, 0, 0.6) !important;
  }
}



.CardItemPC.active {
  & > div {
    background-color: rgba(242, 242, 242, 0.5) !important;
    & img {
      mix-blend-mode: multiply;
    }
  }
}

.CardItemPC {
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column !important;
  align-items: stretch;
  justify-content: space-between;

  & > div {
    background-color: #fff;
    padding: 30px 16px;
    border-radius: 1.3vw;

    & img {
      /*max-width: 100%;
        width: auto;
        padding: 0px 1.2vw;*/
      width: 100%;
      height: auto;
      position: initial;
    }
  }

  & .CardNameItem {
    @include font40_400();
    text-align: center;
    flex: 1;
    margin-top: 0.3vw;
  }
  & .dop_text {
    padding: 0;
    height: 20px;
    width: 66.67%;
    margin-left: 16.665%;
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    margin-bottom: 20px;

    & .first_text {
      @include font20_400();
      height: 20px;
      border-right: 1px solid #dadada;
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & .second_text {
      @include font20_400();
      height: 20px;
      border-right: 1px solid #dadada;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & .third_text {
      @include font20_400();
      height: 20px;
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .desc_text {
    height: 5.9vw;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    overflow: hidden;
    @include font25_400();
  }
  .containerBTN {
    display: flex;
    align-items: center;
    justify-content: center;
    & > button {
      width: 50%;
      border-radius: 45px;

      @media (max-width: 1280px) {
        height: 30px;
        border: 2px solid #cccccc;
      }
      @media (min-width: 1281px) {
        height: 2.9vw;
        border: 2px solid #cccccc;
      }

      @include font30_400();
      text-transform: initial;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      &:hover {
        background-color: #f2f2f2;
        border: 2px solid #cccccc;
      }
      &:target {
        background-color: #f2f2f2;
        border: 2px solid #cccccc;
      }
      &:active {
        background-color: #f2f2f2;
        border: 2px solid #cccccc;
      }
    }
    & > div {
      width: 50%;
      border-radius: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffff;

      height: 2.9vw;

      & > .minus {
        padding: 0;
        margin-left: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #f2f2f2;
        border: none;

        @include font50_300();
        width: 2vw;
        height: 2vw;
        border-radius: 40px;
      }
      & > .plus {
        padding: 0;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #f2f2f2;
        border: none;

        @include font50_300();
        width: 2vw;
        height: 2vw;
        border-radius: 40px;
      }
      & > span {
        display: flex;
        align-items: center;
        justify-content: center;
        @include font40_400();
      }
    }
  }

  // &:hover img {
  //   transform: translate(0, 5px);
  //   -webkit-transform: translate(0, 5px);
  //   -o-transform: translate(0, 5px);
  //   -moz-transform: translate(0, 5px);

  //   transition: all 0.2s ease-in-out;
  //   -webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
  //   -moz-transition: all 0.2s ease-in-out; /** Firefox **/
  //   -o-transition: all 0.2s ease-in-out; /** Opera **/
  // }
}

// .ModalItemButtonCartPC.openPC {
// }
