@import '../settings.scss';

.modalCardItemPC {
  & .MuiDialog-paper {
    border-radius: 1.444045vw;
    overflow: visible;
    margin: 0;
    width: 70.7585vw;
    max-width: none !important;
  }
}

.modalItemPC {
  & .ImgItem {
    position: relative;
    width: 44.7655vw;
    height: 44.7655vw;
    margin: 1.444045vw;
    & img {
      object-fit: contain;
      image-rendering: auto;
      width: 100%;
      height: auto;
    }
  }

  & .FirstItem {
    position: relative;
    overflow-y: hidden;
    width: 47.6535vw;
    height: 47.6535vw;

    & .Table {
      position: absolute;
      background: #ffffff;
      width: 41.8777vw;
      height: 44.7655vw;
      margin: 2.888085vw;
      border-top-left-radius: 1.444045vw;
      border-top-right-radius: 1.444045vw;

      & .Title {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 5.0545vw;
        margin-bottom: 0.72202vw;

        & div {
          height: 0.3612vw;
          width: 5.4157vw;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 0.1805055vw;
          margin-top: 0.72202vw;
          margin-bottom: 1.805055vw;
        }

        & h2 {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 2.1664vw;
        }
      }

      & .List {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;

        & .ValueTitle {
          margin-bottom: 1.66065vw;
          margin-top: 0.3249099vw;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          & h2 {
            height: 2.1666vw;
            width: 24.188vw;
            text-align: center;
          }
        }

        & .SetItem {
          display: flex;
          padding: 1.444045vw 1.805055vw 1.444045vw 3.249096vw;
          height: 8.6642599277978vw;

          & .itemNumber {
            width: 2.1661vw;
            height: 1.0830324909747vw;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 0.72202vw;
          }

          & .itemImg {
            width: 8.6642599277978vw;
            & img {
              object-fit: contain;
              image-rendering: auto;
              width: 100%;
              height: auto;
            }
          }

          & .itemDesc {
            width: 21.661vw;
            display: flex;
            justify-content: flex-start;
            margin-left: 2.166065vw;
            flex-direction: column;

            & span {
              display: flex;
              align-items: center;
              height: 50%;
              text-align: left;
            }
          }
        }

        & .ValueItem {
          display: flex;
          width: 100%;
          height: 10.8307vw;

          & .itemNumber {
            width: 2.1661vw;
            height: 1.0830324909747vw;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 1.444045vw;
            margin-top: 1.444045vw;
            padding-left: 1.805055vw;
          }

          & .itemValueColumn {
            display: flex;
            flex-direction: column;
            width: 32.2745vw;
            border: $MyScale3 solid #b2b2b2;
            border-radius: 1.083032vw;

            & .itemValueRowMain {
              width: 100%;
              display: flex;
              align-items: center;
              border-bottom: 3px solid #b2b2b2;

              & > div:first-child {
                display: flex;
                justify-content: flex-start;
                text-align: left;
                align-items: center;
                border-right: 3px solid #b2b2b2;
                width: 31.944vw;
                height: 2.6726vw;
                padding-left: 1.083034vw;
                padding-top: 1.263537vw;
                padding-bottom: 1.407944vw;
              }

              & > div:last-child {
                width: 8.444vw;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                & span {
                  margin-bottom: 0.2166066vw;
                }
              }
            }

            & .itemValueRow {
              width: 100%;
              display: flex;
              align-items: center;

              & > div:first-child {
                display: flex;
                justify-content: flex-start;
                text-align: left;
                align-items: center;
                border-right: 3px solid #b2b2b2;
                width: 18.206vw;
                height: 4.2245vw;
                padding-left: 1.083034vw;
                padding-top: 0.577616vw;
                padding-bottom: 0.361012vw;
                padding-right: 0.72202vw;
              }

              & > div:last-child {
                width: 13.042vw;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                & div {
                  width: 10.8304vw;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;

                  .dot {
                    content: '';
                    border-bottom: 2px dotted rgba(0, 0, 0, 0.8);
                    flex: 1;
                    margin: 0 0.541515vw;
                    align-items: flex-end;
                    margin-bottom: 0.2166066vw;
                  }
                }
              }
            }
          }
        }

        &::-webkit-scrollbar {
          width: 1.4440433212996vw;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.3);
          border-right: solid 1.0830324909747vw #ffffff;
        }

        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0.2);
          margin-bottom: 8.6642599277978vw;
          border-right: solid 1.0830324909747vw #ffffff;
        }
      }
    }
  }

  & .SecondItem {
    width: 20.217vw;
    margin: 7.2202vw 2.888085vw 7.2202vw 0;
    position: relative;

    & h1 {
      margin-bottom: 0.72202vw;
    }

    & .dop {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1.444045vw;
      height: 2.1666vw;

      & .dop_text {
        padding: 0;
        width: 14.4405vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & .first_text {
          @include font25_400();
          border-right: 1px solid rgba(0, 0, 0, 0.6);
          padding-right: 1.444045vw;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-decoration: underline;
          color: #dd1a32 !important;
        }

        & .second_text {
          @include font25_400();
          border-right: 1px solid rgba(0, 0, 0, 0.6);
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        & .third_text {
          @include font25_400();
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }

      & .dop_icon {
        width: 2.1661vw;
        height: 2.1661vw;
      }

      & .desc {
        width: 100%;
      }
    }

    .containerBTN {
      width: 100%;
      position: absolute;
      bottom: 0;

      & > button {
        width: 14.4405vw;
        border-radius: 1.62455vw;
        border: $MyScale3 solid rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.6) !important;
        height: 2.8885vw;

        @include font30_400();
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;

        &:hover {
          background-color: #f2f2f2;
          border: $MyScale2 solid #cccccc;
        }
        &:target {
          background-color: #f2f2f2;
          border: $MyScale2 solid #cccccc;
        }
        &:active {
          background-color: #f2f2f2;
          border: $MyScale2 solid #cccccc;
        }
      }
      & > div {
        // width: 10.8305vw;
        width: 14.4405vw;
        border-radius: 1.62455vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2.8885vw;

        & > .minus {
          padding: 0;
          margin-left: 0.2888088vw;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background-color: #e6e6e6;

          @include font50_300();
          width: 2.1661vw;
          height: 2.1661vw;
          border-radius: 1.444045vw;
        }
        & > .plus {
          padding: 0;
          margin-right: 0.2888088vw;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          border: none;
          background-color: #e6e6e6;

          @include font50_300();
          width: 2.1661vw;
          height: 2.1661vw;
          border-radius: 1.444045vw;
        }
        & > span {
          display: flex;
          align-items: center;
          justify-content: center;
          @include font40_400();
        }
      }
    }
  }
}

.ModalFontPC {
  & .ItemTitleStart {
    @include font50_400();
  }
  & .ItemTitleSet {
    @include font40_400();
  }
  & .ItemDesk {
    @include font25_400();
    color: rgba(0, 0, 0, 0.6) !important;
  }
  & .ItemTitleValue {
    @include font22_400();
  }
  & .ItemDescStart {
    @include font30_400();
    color: rgba(0, 0, 0, 0.6) !important;
  }
}

.hidddenText5 {
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.CardItemPC.active {
  & > div {
    background-color: rgba(242, 242, 242, 0.5) !important;
    & img {
      mix-blend-mode: multiply;
    }
  }
}

.Container {
  width: 90.975vw !important;
  align-items: center;
  margin: 0 4.5126353790614vw !important;

  .CardItemPC {
    width: 21.660649819495vw;
    padding: 0 !important;

    & > div {
      background-color: #fff;
      border-radius: 1.4440433212996vw;
      mix-blend-mode: multiply;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      & img {
        width: 100%;
        height: auto;
        position: initial;
      }

      & .CardNameItem {
        width: 100%;
        height: 3.6101083032491vw;
        @include font40_400();
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      & .dop_text {
        padding: 0;
        height: 1.4440433212996vw;
        width: 14.440433212996vw;
        display: flex;
        align-items: center;
        justify-content: center;

        & .first_text {
          @include font20_400();
          border-right: 1px solid rgba(0, 0, 0, 0.6);
          flex: 3;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        & .second_text {
          @include font20_400();
          border-right: 1px solid rgba(0, 0, 0, 0.6);
          display: flex;
          align-items: center;
          justify-content: center;
        }
        & .third_text {
          @include font20_400();
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .desc_text {
        width: 100%;
        height: 3.6101083032491vw;
        margin-top: 0.36101083032491vw;
        color: rgba(0, 0, 0, 0.6) !important;
        @include font25_400();
        text-align: center;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .containerBTN {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.72202166064982vw;
        width: 10.830324909747vw;
        height: 2.8880866425993vw;

        & > button {
          width: 100%;
          height: 100%;
          border-radius: 1.62455vw;
          border: $MyScale3 solid rgba(0, 0, 0, 0.2);
          color: rgba(0, 0, 0, 0.6) !important;

          @include font30_400();
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;

          &:hover {
            background-color: #f2f2f2;
            border: $MyScale2 solid #cccccc;
          }
          &:target {
            background-color: #f2f2f2;
            border: $MyScale2 solid #cccccc;
          }
          &:active {
            background-color: #f2f2f2;
            border: $MyScale2 solid #cccccc;
          }
        }
        & > div {
          width: 100%;
          height: 100%;
          border-radius: 1.62455vw;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #ffff;

          & > .minus {
            padding: 0;
            margin-left: 0.36101083032491vw;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: rgba(242, 242, 242, 0.5);
            border: none;
            @include font50_300();
            width: 2.1661vw;
            height: 2.1661vw;
            border-radius: 4.3321299638989vw;
          }
          & > .plus {
            padding: 0;
            margin-right: 0.36101083032491vw;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            cursor: pointer;
            background-color: rgba(242, 242, 242, 0.5);
            border: none;
            @include font50_300();
            width: 2.1661vw;
            height: 2.1661vw;
            border-radius: 4.3321299638989vw;
          }
          & > span {
            display: flex;
            align-items: center;
            justify-content: center;
            @include font40_400();
          }
        }
      }
    }
    // &:hover img {
    //   transform: translate(0, 5px);
    //   -webkit-transform: translate(0, 5px);
    //   -o-transform: translate(0, 5px);
    //   -moz-transform: translate(0, 5px);

    //   transition: all 0.2s ease-in-out;
    //   -webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
    //   -moz-transition: all 0.2s ease-in-out; /** Firefox **/
    //   -o-transition: all 0.2s ease-in-out; /** Opera **/
    // }
  }
}
