@import '../settings.scss';

.menuCatMobile {
  flex-direction: column;
  z-index: 1100 !important;
  right: 0;
  left: 0;
  top: $MyScale200_mobile;
  background-color: #fff;
  display: flex;

  .menuCat {
    display: flex;
    justify-content: space-between;
    margin: $MyScale50_mobile $MyScale40_mobile 0 $MyScale40_mobile;
    height: $MyScale100_mobile;
    overflow: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    .Cat {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $MyScale220_mobile;
      border-radius: $MyScale20_mobile;
      background-color: rgba(0, 0, 0, 0.05);

      & span {
        display: flex;
        align-items: center;
        text-align: center;
        @include font44_400();
      }
    }

    .activeCat,
    .active {
      background: #dd1a32;

      & span {
        display: flex;
        align-items: center;
        text-align: center;
        @include font44_500();
        color: #fff !important;
      }
    }

    & .filterSVG {
      width: $MyScale100_mobile;
      height: $MyScale100_mobile;
      border-radius: $MyScale20_mobile;
      background-color: rgba(0, 0, 0, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        width: $MyScale51_mobile;
        height: $MyScale51_mobile;

        & path {
          fill: rgba(0, 0, 0, 0.8);
        }
      }
    }

    & .activeFilter {
      background-color: #dd1a32;

      & svg {
        & path {
          fill: #fff;
        }
      }
    }
  }

  .menuCatDopContainer {
    width: 100%;
    position: relative;
    height: $MyScale100_mobile;
    margin-bottom: $MyScale30_mobile;
    transition: all 0.1s ease 0s;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background-color: transparent;
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    .menuCatDop {
      width: 100%;
      display: flex;
      height: 100%;
      position: absolute;
      overflow-x: auto;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background-color: transparent;
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        background: transparent;
      }

      .CatDop {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $MyScale20_mobile;
        background-color: rgba(0, 0, 0, 0.05);

        & span {
          display: flex;
          align-items: center;
          text-align: center;
          @include font44_400();
        }
      }

      .activeCatDop,
      .active {
        background: rgba(0, 0, 0, 0.1);

        & span {
          display: flex;
          align-items: center;
          text-align: center;
          @include font44_500();
        }
      }
    }
  }
}

.blockShadowMenuCatMobile {
  z-index: 1000;
  width: 100%;
  height: $MyScale80_mobile;
  margin-bottom: -$MyScale80_mobile;
  position: fixed;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(115, 115, 115, 0.1) 0%,
    rgba(83, 92, 84, 0) 100%
  );
  mix-blend-mode: multiply;
  transition: all 0.1s ease 0s;
}
