@import '../settings.scss';

.menuCatMobile {
  flex-direction: column;
  z-index: 1100 !important;
  position: sticky;
  //position: fixed;
  //right: 0;
  //left: 0;
  //width: 100%;
  top: $MyScale200_mobile;
  background-color: #fff;
  transform: translate3d(0,0,0);
  transform-style: preserver-3d;
  backface-visibility: hidden;

  .menuCat {
    display: flex;
    justify-content: space-between;
    margin: $MyScale50_mobile $MyScale40_mobile 0 $MyScale40_mobile;
    height: $MyScale100_mobile;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
    }

    .Cat {
      display: flex;
      align-items: center;
      justify-content: center;
      //width: $MyScale250_mobile;
      padding-left: $MyScale40_mobile;
      padding-right: $MyScale40_mobile;
      border-radius: $MyScale20_mobile;
      margin-right: $MyScale20_mobile;
      background-color: rgba(0, 0, 0, 0.05);

      &:last-child{
        margin-right: 0!important;
      }

      & span {
        display: flex;
        align-items: center;
        text-align: center;
        @include font44_400();
      }
    }

    .activeCat, .active {
      background: #dd1a32;

      & span {
        display: flex;
        align-items: center;
        text-align: center;
        @include font44_500();
        color: #fff !important;
      }
    }
  }

  .menuCatDopContainer {
    width: 100%;
    position: relative;
    height: $MyScale100_mobile;
    margin-bottom: $MyScale30_mobile;
    transition: all 0.1s ease 0s;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background-color: transparent;
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    .menuCatDop {
      width: 100%;
      display: flex;
      height: 100%;
      position: absolute;
      overflow-x: auto;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background-color: transparent;
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        background: transparent;
      }

      .CatDop {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $MyScale20_mobile;
        background-color: rgba(0, 0, 0, 0.05);

        & span {
          display: flex;
          align-items: center;
          text-align: center;
          @include font44_400();
        }
      }

      .activeCatDop, .active {
        background: rgba(0, 0, 0, 0.10);
  
        & span {
          display: flex;
          align-items: center;
          text-align: center;
          @include font44_500();
        }
      }
    }
  }

}

.blockShadowMenuCatMobile {
  z-index: 1000;
  width: 100%;
  height: $MyScale80_mobile;
  margin-bottom: -$MyScale80_mobile;
  position: fixed;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(115, 115, 115, 0.1) 0%,
    rgba(83, 92, 84, 0) 100%
  );
  mix-blend-mode: multiply;
  transition: all 0.1s ease 0s;
}
