@import '../settings.scss';

.menuCatMobile {
  flex-direction: column;
  z-index: 1100 !important;
  position: sticky;
  top: $MyScale200_mobile;
  background-color: #fff;

  .menuCat {
    display: flex;
    justify-content: space-between;
    margin: $MyScale50_mobile $MyScale55_mobile 0 $MyScale55_mobile;
    height: $MyScale100_mobile;

    .Cat {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $MyScale250_mobile;
      border-radius: $MyScale20_mobile;
      background-color: rgba(0, 0, 0, 0.05);

      & span {
        display: flex;
        align-items: center;
        text-align: center;
        @include font44_400();
      }
    }

    .activeCat {
      background: #dd1a32;

      & span {
        display: flex;
        align-items: center;
        text-align: center;
        @include font44_500();
        color: #fff !important;
      }
    }
  }

  .menuCatDopContainer {
    width: 100%;
    position: relative;
    height: $MyScale100_mobile;
    margin-bottom: $MyScale30_mobile;

    .menuCatDop {
      width: 100%;
      display: flex;
      height: 100%;
      position: absolute;
      overflow-x: auto;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      .CatDop {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $MyScale20_mobile;
        background-color: rgba(0, 0, 0, 0.05);

        & span {
          display: flex;
          align-items: center;
          text-align: center;
          @include font44_400();
        }
      }

      .activeCatDop {
        background: rgba(0, 0, 0, 0.10);
  
        & span {
          display: flex;
          align-items: center;
          text-align: center;
          @include font44_500();
        }
      }
    }
  }

}

.blockShadowMenuCatMobile {
  z-index: 1000;
  width: 100%;
  height: $MyScale80_mobile;
  margin-bottom: -$MyScale80_mobile;
  position: sticky;
  background: linear-gradient(
    180deg,
    rgba(115, 115, 115, 0.1) 0%,
    rgba(83, 92, 84, 0) 100%
  );
  mix-blend-mode: multiply;
  transition: all 0.1s ease 0s;
}
