VK_CLIENT_SECRET=
VK_CLIENT_ID=

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=

SENTRY_ORG=mister-jaco-llc
SENTRY_PROJECT=jacofood
SENTRY_AUTH_TOKEN=

NEXT_PUBLIC_SENTRY_CUSTOM_MONITORING_ENABLED=false
NEXT_PUBLIC_RECOMMENDATIONS_ENABLED=false

NEXT_PUBLIC_YANDEX_TOKEN_SUGGEST=''
NEXT_PUBLIC_YANDEX_TOKEN_MAP=''
NEXT_PUBLIC_YANDEX_TOKEN_FIREBASE=''

# NEXT_PUBLIC_YANDEX_IMG = 'https://yacdn.jacofood.ru/'
# NEXT_PUBLIC_VK_IMG = 'https://cdnimg.jacofood.ru/'
NEXT_PUBLIC_YANDEX_IMG = 'https://mainimg.jacofood.ru/'
NEXT_PUBLIC_VK_IMG = 'https://mainimg.jacofood.ru/'
NEXT_PUBLIC_YANDEX_STORAGE = 'https://topimg.jacofood.ru/'

# openssl rand -base64 32 в терминале для получения secret

TRACKING_API_ENDPOINT=https://apichef.jacochef.ru/api/first-visit
# TRACKING_API_ENDPOINT=http://127.0.0.1:8000/api/first-visit
TRACKING_API_TOKEN=''

# Экспериментальная форма отзывов: маршрут /{city}/feedback-experiment
CLIENT_FEEDBACK_EXPERIMENT_ENABLED=false
CLIENT_FEEDBACK_EXPERIMENT_USE_MOCKS=true
