@use "../settings" as *;

.dataTimePickerPC {
  & .MuiDialog-paper {
    overflow: visible;
    margin: 0 !important;
    max-width: none !important;
    border-radius: $MyScale40;
    width: $MyScale1000;
    height: $MyScale900;

    & .ContainerDataPickerPC {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .closeButton {
        position: absolute;
        top: 0;
        left: -$MyScale80;
        padding: 0;
        background-color: transparent;

        & svg {
          width: $MyScale60;
          height: $MyScale60;
          overflow: visible;
          border-radius: $MyScale60;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      & .pikerLogin {
        height: $MyScale60;
        margin-top: $MyScale80;
        margin-bottom: $MyScale140;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font50_500();
      }

      .sandbox__carousel {
        position: relative;
        display: flex;
        flex-direction: row;
      }

      .embla_button {
        cursor: pointer;
        position: absolute;
        left: $MyScale240;
        height: $MyScale60;
        width: $MyScale60;

        & svg {
          height: 100%;
          width: 100%;
        }
      }

      .embla {
        --slide-size: 33.33%;
      }

      .embla_time {
        --slide-size: 100%;
      }

      .embla__viewport {
        overflow: hidden;
      }

      .embla__container {
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        touch-action: pan-x;
        height: $MyScale300;
      }

      .embla__slide {
        flex: 0 0 var(--slide-size);
        min-width: 0;
        position: relative;
        @include font50_500();
        display: flex;
        align-items: center;
      }

      .btnDataTime {
        width: $MyScale560;
        height: $MyScale80;
        border-radius: $MyScale40;
        margin-top: $MyScale160;
        padding: 0;
        text-transform: lowercase;

        span {
          display: flex;
          align-items: center;
          text-align: center;
          @include font30_400();
          color: #fff!important;
          text-transform: capitalize;
        }
      }

      .divBackground {
        position: absolute;
        width: $MyScale760;
        height: $MyScale100;
        background: rgba(0, 0, 0, 0.05);
        border-radius: $MyScale40;
        pointer-events: none;
        left: $MyScale100;
        top: $MyScale380;
      }
    }
  }
}

@include tablet-only {
  .dataTimePickerPC {
    & .MuiDialog-paper {
      border-radius: tablet-vw(40);
      width: tablet-vw(1000);
      height: tablet-vw(900);

      & .ContainerDataPickerPC {
        & .closeButton {
          left: -tablet-vw(80);

          & svg {
            width: tablet-vw(60);
            height: tablet-vw(60);
            border-radius: tablet-vw(60);
          }
        }

        & .pikerLogin {
          height: tablet-vw(60);
          margin-top: tablet-vw(80);
          margin-bottom: tablet-vw(140);
        }

        .embla_button {
          height: tablet-vw(60);
          width: tablet-vw(60);
        }

        .embla__container {
          height: tablet-vw(300);
          width: tablet-vw(360) !important;
        }

        .btnDataTime {
          width: tablet-vw(560);
          height: tablet-vw(80);
          border-radius: tablet-vw(40);
          margin-top: tablet-vw(160);
        }

        .divBackground {
          width: tablet-vw(760);
          height: tablet-vw(100);
          border-radius: tablet-vw(40);
          left: tablet-vw(100);
          top: tablet-vw(380);
        }
      }
    }
  }
}
