@import '../settings';

#simple-popover {
  top: 8.6643vw;
  & .MuiPaper-root.MuiPopover-paper{
    top: 0!important;
    max-height: 100%!important;
  }
  &
    > div.MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded
    > div {
    width: 41.876vw;
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 2.89vw;
    padding-right: 4.5126vw;
  }
  & .SpacePromoRoot {
    display: flex;
    flex-direction: row;
    width: 21.661vw;
    & input{
        height: 3.72vw;
        padding-left: 2.166vw;
        padding-right: 2.166vw;
        @include font40_500();
    }
    & fieldset{
      border-radius: 3.72vw;
      border-width: 2px;
    }
  }

  & .InCart {
    width: 100%;
    margin-top: 2.888vw;
    & div.MuiButtonGroup-root.MuiButtonGroup-contained {
      width: 100%;
      & > button {
        width: 100%;
        background-color: #f9bc23;
        border-radius: 60px;
        height: 4.3323vw;
        @include font40_500();
        text-transform: initial;
      }
      & > button:hover {
        background-color: #cf9f37;
      }
      & > button:target {
        background-color: #cf9f37;
      }
      & > button:active {
        background-color: #cf9f37;
      }
    }
  }
  & .TableMini {
    width: inherit;
    & tbody {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      display: table-caption;
      width: 100%;
      padding-right: 20px;
      & tr {
        border-bottom: 1px solid rgba(27, 27, 31, 0.1);
        padding-bottom: 5px;
        padding-top: 5px;
        display: block;
        & img {
          height: 7.221vw;
          width: 7.221vw;
        }
      }
    }
    & tfoot {
      & > tr {
        height: 4.3322vw;
        & td:first-child {
          @include font50_500();
        }
        & td:last-child {
          & > div:not(.originPrice) {
            display: flex;
            justify-content: flex-end;
            @include font50_500();
          }
          & > .originPrice {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @include fonsNew(1.25rem, $Roboto);
            font-weight: 500;
            color: rgba(27, 27, 31, 0.2) !important;

            & > span {
              position: relative;
              width: fit-content;
              &:before {
                border-bottom: 2px solid $colorMain;
                position: absolute;
                content: '';
                width: 120%;
                height: 50%;
                left: -10%;
              }
            }
          }
        }
      }
    }

    & .TableMiniName > span {
      @include font40_500();
      text-transform: initial;
    }
    & .TableMiniPrice {
      text-align: center;
      @include font40_500();
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    & .CellPic {
      width: 17.2%;
    }
    & .CellName {
      width: 32.8%;
      padding-right: 10px;
      padding-left: 10px;
    }
    & .CellButton {
      width: 25.9%;
    }
    & .CellButtonPrize {
      width: 43.1%;
    }
    & .CellPrice,
    .CellPrice2 {
      width: 17.2%;
    }
    & .CellPrice2 {
      & > div:first-child {
        width: 100%;
        & > div {
          position: relative;
          width: fit-content;
          color: rgba(27, 27, 31, 0.2) !important;
          &::before {
            border-bottom: 2px solid #cc0033;
            position: absolute;
            content: '';
            width: 120%;
            height: 50%;
            left: -10%;
          }
        }
      }
    }
  }
  
  & div.MuiPaper-root.MuiPopover-paper {
    border-radius: 0;
  }
}

.MiniActionsCartButton {
  width: 10.8304vw;
  height: 4.26vw;
  border-radius: 300px;
  border: 1px solid #f9bc23;
  background-color: rgba(249,188,35,0.1) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > .minus {
    width: 2.1661vw;
    height: 2.1661vw;
    padding: 0;
    //padding-bottom: 0.1vw;
    margin-left: 1.083vw;
    @include font35_400();
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9bc23;
    border: 1px solid #f9bc23;
    border-radius: 60px;
    cursor: pointer;
  }
  & > span {
    @include font40_500();
  }
  & > .plus {
    width: 2.8881vw;
    height: 2.8881vw;
    padding: 0;
    //padding-bottom: 0.25vw;
    margin-right: 0.722vw;
    @include font60_300();
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9bc23;
    border: 1px solid #f9bc23;
    border-radius: 60px;
    cursor: pointer;
  }
  & > button:hover {
    background-color: #cf9f37;
    border: 1px solid #cf9f37;
  }
  & > button:target {
    background-color: #cf9f37;
    border: 1px solid #cf9f37;
  }
  & > button:active {
    background-color: #cf9f37;
    border: 1px solid #cf9f37;
  }
  
}
