@import '../settings';

#simple-popover {
  z-index: 1100;
  margin-top: $MyScale128;

  & .MuiBackdrop-root.MuiModal-backdrop {
    background: rgba(0, 0, 0, 0.6);
  }

  & .MuiPaper-root.MuiPopover-paper {
    top: 0 !important;
    height: 100%;
    max-height: 100% !important;
    border-radius: 0;
    width: 36.101083032491vw;
    border-top: 0.072202166064982vw solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  &
    > div.MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded
    > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 1.0830324909747vw;
    }

    &::-webkit-scrollbar-thumb {
      background: #979696;
      border-right: solid 0.72202166064982vw #ffffff;
    }

    &::-webkit-scrollbar-track {
      margin-top: 1.4440433212996vw;
      background: #d9d9d9;
      border-right: solid 0.72202166064982vw #ffffff;
    }

    .dopText_accordion {
      background: rgba(0, 0, 0, 0.05);
      border-radius: $MyScale20;
      text-align: center;
      @include font30_400();
      margin: $MyScale20 $MyScale35 0 $MyScale40;
      box-shadow: unset;
      
      & .MuiButtonBase-root.MuiAccordionSummary-root {
        height: $MyScale120;
        padding-left: $MyScale80;

        & p {
          @include font30_400();
        }

        & svg {
          width: $MyScale60;
          height: $MyScale60;
        }

      }

      & .MuiAccordionDetails-root {
        padding: $MyScale20 $MyScale60 $MyScale60;
      }
    }

    .dopText {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.05);
      border-radius: $MyScale20;
      text-align: center;
    }

    tr.dopText {
      padding: 0 $MyScale180 !important;
      height: $MyScale200 !important;
      & th {
        @include font30_400();
      }
    }

    span.dopText {
      @include font30_400();
      margin: $MyScale20 $MyScale35 0 $MyScale40;
      padding: $MyScale40;
    }

    & .TableMini {
      margin: 0.72202166064982vw 1.2635379061372vw 1.0830324909747vw
        1.4440433212996vw;
      border-spacing: 0;
      display: flex;
      flex-direction: column;

      & tbody {
        overflow: hidden;
        display: flex;
        flex-direction: column;

        & tr {
          //border-bottom: 0.072202166064982vw solid rgba(0, 0, 0, 0.1);
          display: flex;
          align-items: center;
          padding: 0 0.72202166064982vw 0.72202166064982vw 0.72202166064982vw;
          height: 5.7761732851986vw;

          & img {
            height: 5.7761732851986vw;
            width: 5.7761732851986vw;
          }
        }
      }

      & .CellPic {
        height: 5.7761732851986vw;
        width: 5.7761732851986vw;
        padding: 0;
        margin-right: 1.4440433212996vw;
      }

      & .CellName {
        width: 14.440433212996vw;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 4.6931407942238vw;
        justify-content: space-between;
        margin-right: 0.54151624548736vw;

        & .spanName {
          @include font30_400();
          height: 2.8880866425993vw;
          display: flex;
          align-items: flex-end;
        }

        & div {
          display: flex;

          & .spanCount:not(.promoInfo) {
            @include font30_400();
            color: rgba(0, 0, 0, 0.4);
            height: 1.4440433212996vw;
            display: flex;
            align-items: center;
            margin-right: 0.72202166064982vw;
          }

          & .spanCount.promoInfo {
            @include font30_400();
            color: rgba(0, 0, 0, 0.4);
            height: 1.4440433212996vw;
            display: flex;
            align-items: center;
            margin-right: 0.72202166064982vw;
            text-decoration-thickness: 0.10830324909747vw !important;
            text-decoration: line-through;
            text-decoration-color: rgba(221, 26, 50, 0.8);
            white-space: nowrap;
          }

          & .spanPromo {
            @include font30_400();
            color: #dd1a32;
            height: 1.4440433212996vw;
            display: flex;
            align-items: center;
            white-space: nowrap;
          }
        }
      }

      & .CellButton {
        width: 8.5198555956679vw;
        height: 2.7436823104693vw;
        padding: 0;
        border-radius: 1.6245487364621vw;
        border: 0.072202166064982vw solid rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > .minus {
          width: 2.1660649819495vw;
          height: 2.1660649819495vw;
          padding: 0;
          margin-left: 0.36101083032491vw;
          @include font44_400();
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2.1660649819495vw;
          cursor: default;
          border: none;
        }
        & > .minus:not([disabled]):hover,
        .plus:not([disabled]):hover {
          background-color: rgba(0, 0, 0, 0.07) !important;
          cursor: pointer;
        }

        & > span {
          @include font44_400();
        }

        & > .plus {
          width: 2.1660649819495vw;
          height: 2.1660649819495vw;
          padding: 0;
          margin-right: 0.36101083032491vw;
          @include font60_300();
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2.1660649819495vw;
          cursor: default;
          border: none;
        }
      }

      & tfoot {
        margin: 1.4440433212996vw 0.72202166064982vw 1.0830324909747vw
          1.0830324909747vw;

        & tr {
          height: 2.1660649819495vw;
          display: flex;
          justify-content: space-between;

          & td:first-child {
            @include font40_500();
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          & td:last-child {
            & > div:not(.promoInfo) {
              justify-content: flex-end;
              @include font50_500();
              display: flex;
              align-items: center;
              height: 2.1660649819495vw;
            }

            & > div.promoInfo {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              height: 2.1660649819495vw;
              @include font40_500();
              color: rgba(0, 0, 0, 0.4);
              text-decoration-thickness: 0.10830324909747vw !important;
              text-decoration: line-through;
              text-decoration-color: rgba(221, 26, 50, 0.8);
            }
          }
        }
      }
    }
  }

  & .SpacePromoRoot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: $MyScale50;
    margin-right: $MyScale55;

    & div:first-child {
      width: $MyScale400 !important;

      & .MuiInputBase-root.MuiOutlinedInput-root {
        display: flex;
        align-items: center;
        height: $MyScale80;
        border: none;
        border-radius: 0;
        padding: 0;

        & .MuiInputAdornment-root {
          width: $MyScale20;
          margin-right: $MyScale30;
          
          & .circleInput {
            width: $MyScale20 !important;
            height: $MyScale20;
            border-radius: $MyScale10;
            background: #76ec3f;
          }
        }

        & input {
          width: $MyScale300;
          margin-left: $MyScale40;
          display: flex;
          align-items: center;
          padding: 0;
          @include font30_400();
          &::placeholder {
            color: rgba(0, 0, 0, 0.4);
          }
        }
        
        & fieldset {
          border: $MyScale3 solid rgba(0, 0, 0, 0.2);
          border-radius: $MyScale40;
          padding: 0;
        }
      }
    }

    & div:last-child {
      width: 10.830324909747vw;
      justify-content: flex-end;
      @include font50_500();
      display: flex;
      align-items: center;
    }
  }

  & .DescPromo {
    display: flex;
    align-items: center;
    margin: 0.36101083032491vw 2.1660649819495vw 1.0830324909747vw
      2.5270758122744vw;
    min-height: 1.4440433212996vw;
    & span {
      @include font22_400();
    }
  }

  & .InCart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6.1371841155235vw;
    & button {
      text-transform: lowercase;
      height: 2.8880866425993vw;
      width: 20.216606498195vw;
      background-color: #dd1a32;
      border-radius: 1.4440433212996vw;
      padding: 0;
      cursor: pointer;
      & span {
        @include font30_400();
        color: #ffffff !important;
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}

.blockShadowBasket {
  right: 0;
  top: $MyScale128;
  z-index: 1150;
  width: 36.101083032491vw;
  height: 1.4440433212996vw;
  position: fixed;
  background: linear-gradient(
    180deg,
    rgba(115, 115, 115, 0.1) 0%,
    rgba(83, 92, 84, 0) 100%
  );
  mix-blend-mode: multiply;
  transition: all 0.1s ease 0s;
}
