@import '../settings.scss';

.modalOpenCity {
  & .MuiDialog-paper {
    border-radius: 30px;
    overflow: visible;
    margin: 0 !important;
    width: calc(100% - 64px) !important;
    max-width: none !important;
  }
}

.modalCity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24.55%;
  background: linear-gradient(
    to bottom,
    #ededed 0%,
    #ededed 33%,
    #fff 33%,
    #fff 100%
  );
  padding: 40px 60px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 800px) {
    width: calc(100% - 40px);
    padding: 10px 20px;
  }
  & .loginIMG {
    height: 180px;
    padding: 90px 110px 50px 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    & > img {
      height: 100%;
      width: auto;
    }
  }
  & .loginHeader {
    height: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    & h2 {
      @include fonsNew(2rem, $Roboto);
      font-weight: 400;
    }
  }
  & .loginCity {
    margin-bottom: 60px;
    display: flex;
    align-content: center;
    text-align: center;
    & h1 {
      @include fonsNew(3.5rem, $Roboto);
      font-weight: 700;
      line-height: 3rem;
    }
  }
  & button.active {
    width: 100%;
    height: 60px;
    border-radius: 120px;
    background-color: #dd1a32;
    text-transform: lowercase;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & span {
      @include fonsNew(1.25rem, $Roboto);
      font-weight: 400;
      color: #ffffff;
      &:first-letter {
        text-transform: uppercase;
      }
    }
    &:hover {
      background-color: #a91b2c;
    }
  }
  & button.chooseCity {
    width: 100%;
    height: 60px;
    border-radius: 120px;
    white-space: nowrap;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0.2);
    text-transform: lowercase;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & span {
      @include fonsNew(1.25rem, $Roboto);
      font-weight: 400;
      color: #000000cc;
      &:first-letter {
        text-transform: uppercase;
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

#chooseCityModal {
  & div.MuiPaper-root.MuiMenu-paper {
    border-radius: 20px;
    width: 23.5%;
    background: #ececec;
    box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.2);
    & ul {
      width: 100%;
      & li {
        width: 100%;
        justify-content: center;
        @include fonsNew(1.25rem, $Roboto);
        font-weight: 400;
        &:hover {
          background-color: #ffffff;
          color: #dd1a32;
        }
      }
    }
    @media (max-width: 800px) {
      width: calc(100% - 100px);
      margin-top: 60px;
    }
  }
}
#chooseCityModal{
  & div.MuiPaper-root.MuiMenu-paper{
    border-radius: 20px;
    width: 300px;
    & ul{
      padding: 0;
    }
  }
}