@import '../settings.scss';

#modalVKMobileMain {
  & .MuiDrawer-paper {
    min-height: 123.07692307692vw;
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
    background: linear-gradient(#ededed 0%, #ededed 28%, #fff 28%, #fff 100%);
    overflow: hidden;

    .ContainerMain {
      margin: $MyScale180_mobile $MyScale260_mobile $MyScale580 $MyScale260_mobile;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .loginIMG {
        height: $MyScale300_mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $MyScale60_mobile;
        & img {
          height: 100%;
          width: auto;
        }
      }

      & .loginHeader {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & span {
          @include font50_500();
        }
        & a{
          @include font50_500();
          text-decoration: underline;
          color: rgb(82, 82, 82);
        }
      }

      & .buttons {
        padding: 0;
        width: $MyScale650_mobile;
        height: $MyScale120_mobile;
        border-radius: $MyScale60_mobile;
        background-color: rgb(0, 119, 255);
        margin-bottom: $MyScale40_mobile;
        margin-top: $MyScale80_mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
        
        @include font50_500();
        color: #ffffff !important;
          
      }
    }

    .ContainerMain_1 {
      margin: $MyScale180_mobile $MyScale130_mobile $MyScale580 $MyScale130_mobile;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .loginIMG {
        height: $MyScale300_mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $MyScale60_mobile;
        & img {
          height: 100%;
          width: auto;
        }
      }

      & .loginHeader {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & span {
          @include font50_500();
        }
        & a{
          @include font50_500();
          text-decoration: underline;
          color: rgb(82, 82, 82);
        }
      }

      & .buttons {
        padding: 0;
        width: $MyScale650_mobile;
        height: $MyScale120_mobile;
        border-radius: $MyScale60_mobile;
        background-color: rgb(0, 119, 255);
        margin-bottom: $MyScale40_mobile;
        margin-top: $MyScale80_mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
        
        @include font50_500();
        color: #ffffff !important;
          
      }
    }
  }
}

#modalCityMobileMain {
  & .MuiDrawer-paper {
    height: 123.07692307692vw;
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
    background: linear-gradient(#ededed 0%, #ededed 28%, #fff 28%, #fff 100%);
    overflow: hidden;

    .ContainerMain {
      margin: $MyScale180_mobile $MyScale260_mobile $MyScale580 $MyScale260_mobile;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .loginIMG {
        height: $MyScale300_mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $MyScale60_mobile;
        & img {
          height: 100%;
          width: auto;
        }
      }

      & .loginHeader {
        height: 10.25641025641vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & span {
          @include font50_500();
        }
      }

      & .loginCity {
        width: 93.162393162393vw;
        display: flex;
        justify-content: center;
        & span {
          line-height: 10.25641025641vw;
          @include font120_700();
          text-align: center;
          display: flex;
          align-content: center;
          justify-content: center;
          flex-wrap: wrap;
        }
      }

      & .buttons {
        padding: 0;
        width: 55.555555555556vw;
        height: 10.25641025641vw;
        border-radius: 5.1282051282051vw;
        background-color: #dd1a32;
        text-transform: lowercase;
        margin-bottom: 3.4188034188034vw;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        & span {
          @include font50_500();
          color: #ffffff !important;
          &:first-letter {
            text-transform: uppercase;
          }
        }
      }

      & .choose {
        border: 0.25641025641026vw solid rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        margin-bottom: 0;
        background-color: #fff;
        & span {
          color: rgba(0, 0, 0, 0.8) !important;
        }
      }
    }
  }
}

#modalCityMobileList {
  & .MuiDrawer-paper {
    max-height: $MyScale1320_mobile;
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
    overflow-y: auto;

    .ContainerList {
      margin: $MyScale40_mobile $MyScale125_mobile $MyScale232_mobile
        $MyScale125_mobile;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .Line {
        height: $MyScale10_mobile;
        width: $MyScale150_mobile;
        background: rgba(0, 0, 0, 0.2);
        border-radius: $MyScale5_mobile;
        margin-bottom: $MyScale80_mobile;
      }

      & .loginHeader {
        height: $MyScale120_mobile;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $MyScale26_mobile;
        & span {
          @include font75_700();
        }
      }

      & ul {
        width: 100%;
        padding: 0;
        & li {
          height: $MyScale163_mobile;
          border-bottom: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
          padding: 0;
          & span {
            margin-left: $MyScale40_mobile;
            display: flex;
            align-items: center;
            height: 100%;
            @include font50_500();
          }
        }
      }
    }
  }
}
