@use "../settings" as *;

.modalVKPCMain{
  & .MuiDialog-paper {
    overflow: visible;
    margin: 0 !important;
    max-width: none !important;
    border-radius: $MyScale38;

    .MuiDialogContent-root {
      padding: 0;
      border-radius: $MyScale38;
      background: linear-gradient(#ededed 0%, #ededed 25%, #fff 25%, #fff 100%);
      width: $MyScale680;
      min-height: $MyScale800;
      overflow: hidden;

      .modalCityPC {
        margin: $MyScale60 $MyScale140 $MyScale80 $MyScale140;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .closeButton {
          position: absolute;
          top: 0;
          left: -$MyScale80;
          padding: 0;
          background-color: transparent;

          & svg {
            width: $MyScale60;
            height: $MyScale60;
            overflow: visible;
            border-radius: $MyScale60;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }

        & .loginIMG {
          height: $MyScale200;
          display: flex;
          align-items: center;
          justify-content: center;
          & > img {
            height: 100%;
            width: auto;
          }
        }

        & .loginHeader {
          //height: $MyScale60;
          width: 100%;
          margin-bottom: $MyScale40;
          & span {
            @include font32_400();
          }
          & a {
            @include font32_400();
            text-decoration: underline;
            color: rgb(82, 82, 82);
          }
        }

        

        & .buttons {
          padding: 0;
          width: $MyScale400;
          height: $MyScale80;
          border-radius: $MyScale40;
          background-color: rgb(0, 119, 255);
          margin-bottom: $MyScale20;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          
          @include font32_400();
          color: #ffffff!important;
          
        }
      }

      .modalCityPC_1 {
        margin: $MyScale60 $MyScale70 $MyScale80 $MyScale70;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .closeButton {
          position: absolute;
          top: 0;
          left: -$MyScale80;
          padding: 0;
          background-color: transparent;

          & svg {
            width: $MyScale60;
            height: $MyScale60;
            overflow: visible;
            border-radius: $MyScale60;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }

        & .loginIMG {
          height: $MyScale200;
          display: flex;
          align-items: center;
          justify-content: center;
          & > img {
            height: 100%;
            width: auto;
          }
        }

        & .loginHeader {
          //height: $MyScale60;
          width: 100%;
          margin-bottom: $MyScale40;
          & span {
            @include font32_400();
          }
          & a {
            @include font32_400();
            text-decoration: underline;
            color: rgb(82, 82, 82);
          }
        }

        

        & .buttons {
          padding: 0;
          width: $MyScale400;
          height: $MyScale80;
          border-radius: $MyScale40;
          background-color: rgb(0, 119, 255);
          margin-bottom: $MyScale20;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          
          @include font32_400();
          color: #ffffff!important;
          
        }
      }
    }
  }
}

.modalOpenCityPC {
  & .MuiDialog-paper {
    overflow: visible;
    margin: 0 !important;
    max-width: none !important;
    border-radius: 1.4440433212996vw;
    .MuiDialogContent-root {
      padding: 0;
      border-radius: 1.4440433212996vw;
      background: linear-gradient(#ededed 0%, #ededed 25%, #fff 25%, #fff 100%);
      width: 24.548736462094vw;
      height: 28.880866425993vw;
      overflow: hidden;

      .modalCityPC {
        margin: 2.1660649819495vw 5.0541516245487vw 2.8880866425993vw
          5.0541516245487vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .closeButton {
          position: absolute;
          top: 0;
          left: -$MyScale80;
          padding: 0;
          background-color: transparent;

          & svg {
            width: $MyScale60;
            height: $MyScale60;
            overflow: visible;
            border-radius: $MyScale60;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }

        & .loginIMG {
          height: 7.2202166064982vw;
          display: flex;
          align-items: center;
          justify-content: center;
          & > img {
            height: 100%;
            width: auto;
          }
        }

        & .loginHeader {
          height: 2.1660649819495vw;
          width: 100%;
          margin-bottom: 0.72202166064982vw;
          & span {
            display: flex;
            align-items: center;
            justify-content: center;
            @include font40_400();
          }
        }

        & .loginCity {
          width: 18.050541516245vw;
          display: flex;
          justify-content: center;
          & span {
            line-height: 2.7075812274368vw;
            @include font75_700();
            text-align: center;
            display: flex;
            align-content: flex-end;
            justify-content: center;
            flex-wrap: wrap;
          }
        }

        & .buttons {
          padding: 0;
          width: 14.440433212996vw;
          height: 2.8880866425993vw;
          border-radius: 1.4440433212996vw;
          background-color: #dd1a32;
          text-transform: lowercase;
          margin-bottom: 0.72202166064982vw;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &:not(.choose) > span {
            @include font30_400();
            color: #ffffff!important;
            &:first-letter {
              text-transform: uppercase;
            }
          }
          &.choose > span {
            @include font30_400();
            &:first-letter {
              text-transform: uppercase;
            }
          }
        }

        & .choose {
          border: 0.10830324909747vw solid rgba(0, 0, 0, 0.2);
          white-space: nowrap;
          margin-bottom: 0;
          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
          & span {
            color: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }
  }
}

#chooseCityModal {
  & div.MuiPaper-root.MuiMenu-paper {
    margin-top: $MyScale20;
    border-radius: 0.72202166064982vw;
    width: 14.440433212996vw;
    background: #ececec;
    box-shadow: 0.36101083032491vw 0.36101083032491vw 1.0830324909747vw
      0.18050541516245vw rgba(0, 0, 0, 0.2);
    & ul {
      width: 100%;
      padding: 0;
      & li {
        padding: 0;
        width: 100%;
        height: 2.8880866425993vw;
        justify-content: center;
        @include font30_400();
        &:hover {
          background-color: #ffffff;
          color: #dd1a32;
        }
      }
    }
  }
}
