@use "../settings" as *;

.headerMobile {
  z-index: 1200 !important;
  background-color: #fff !important;
  box-shadow: none !important;
  height: $MyScale200_mobile;
  overflow: hidden;

  & > div {
    padding: 0 !important;
    margin: $MyScale40_mobile $MyScale80_mobile !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 0!important;

    & a {
      text-decoration: none;
      width: $MyScale500_mobile;
      height: $MyScale120_mobile;
      display: flex;

      & img {
        align-self: center;
        width: 100%;
        height: auto;
      }

      & svg {
        height: 100%!important;
        width: 100%!important;
      }
    }

    & svg {
      height: $MyScale45_mobile;
      width: $MyScale90_mobile;
    }

    & svg.BurgerActive path {
      stroke: #dd1a32;
    }
  }
}

#headerMenuCat {
  z-index: 1100;

  & .MuiBackdrop-root.MuiModal-backdrop {
    background: linear-gradient(
      transparent 30%,
      rgba(0, 0, 0, 0.5) 70%
    ) !important;
    mix-blend-mode: multiply !important;
  }

  & .MuiDrawer-paper {
    margin-top: $MyScale200_mobile;
    background-color: #ffffff;
    //height: $MyScale1260_mobile;
    height: auto;
    border-radius: 0 0 $MyScale80_mobile $MyScale80_mobile;
    border-top: $MyScale2_mobile solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .LinkList {
      padding: 0;
      margin-top: $MyScale80_mobile;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: $MyScale100_mobile;

      & li {
        width: $MyScale920_mobile;
        height: $MyScale160_mobile;
        padding: 0;
        margin-bottom: $MyScale10_mobile;

        & a, div {
          border-radius: $MyScale40_mobile;
          width: 100%;
          height: 100%;
          text-decoration: none;
          display: flex;
          align-items: center;

          & svg {
            margin-left: $MyScale50_mobile;
            height: $MyScale100_mobile;
            width: $MyScale100_mobile;
            margin-right: $MyScale50_mobile;
          }

          & .otherSVG {
            margin-left: $MyScale40_mobile;
            height: $MyScale120_mobile;
            width: $MyScale120_mobile;
            margin-right: $MyScale40_mobile;
          }

          & span {
            display: flex;
            align-items: center;
            @include font50_500();
            height: $MyScale40_mobile;
            width: $MyScale540_mobile;
          }

          & .count {
            width: $MyScale80_mobile;
            height: $MyScale80_mobile;
            border-radius: $MyScale80_mobile;
            background: #dd1a32;
            margin-left: $MyScale60_mobile;
            @include font44_400();
            color: #ffffff !important;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          & .profile {
            width: $MyScale80_mobile;
            height: $MyScale80_mobile;
            border-radius: $MyScale80_mobile;
            background: #F86F6F;
            margin-left: $MyScale60_mobile;
            @include font32_400();
            color: #ffffff !important;
            display: flex;
            align-items: center;
            justify-content: center;

            & svg {
              width: $MyScale40_mobile;
              height: $MyScale40_mobile;
              margin: 0;

              & path {
                fill: #fff;
              }
            }
          }
        }
      }
    }

    & .Line {
      height: $MyScale10_mobile;
      width: $MyScale150_mobile;
      background: rgba(0, 0, 0, 0.2);
      border-radius: $MyScale5_mobile;
      margin-bottom: $MyScale40_mobile;
    }
  }
}

/* как минимум один механизм ввода устройства включает в себя указывающее устройство ограниченной точности */
// @media (any-pointer: coarse) {
//   /* ... */
// }
/* как минимум один механизм ввода устройства включает в себя указывающее устройство высокой точности */
// @media (any-pointer: fine) {
//   /* ... */
// }
/* устройство не имеет указывающего устройства */
// @media (any-pointer: none) {
//   /* ... */
// }
// /* смартфоны, устройства с сенсорным экраном, с которым работают пальцами */
// @media (hover: none) and (pointer: coarse) {
//   /* ... */
// }
// /* устройства с сенсорным экраном, с которым работают стилусом */
// @media (hover: none) and (pointer: fine) {
//   /* ... */
// }
// /* контроллер Nintendo Wii, Microsoft Kinect */
// @media (hover: hover) and (pointer: coarse) {
//   /* ... */
// }
// /* мышь, тачпад */
// @media (hover: hover) and (pointer: fine) {
//   /* ... */
// }
