@import '../settings';

html:not([data-scroll='0']) .blockShadow {
  width: 100%;
  height: 2.8880866425993vw;
  position: fixed;
  top: $MyScale128;
  background: linear-gradient(
    180deg,
    rgba(115, 115, 115, 0.1) 0%,
    rgba(83, 92, 84, 0) 100%
  );
  mix-blend-mode: multiply;
  transition: all 0.5s ease 0s;
  z-index: 1;
}

.blockShadow {
  width: 100%;
  height: 0;
  position: fixed;
  top: $MyScale128;
  background: linear-gradient(
    180deg,
    rgba(115, 115, 115, 0.1) 0%,
    rgba(83, 92, 84, 0) 100%
  );
  mix-blend-mode: multiply;
  transition: all 0.1s ease 0s;
}

.headerNew {
  position: fixed;
  z-index: 1200 !important;
  background-color: #fff !important;
  height: $MyScale128;
  box-shadow: none !important;
  width: 100%;

  & .profileHeaderPC{
    width: $MyScale64!important;
    height: $MyScale64!important;
    position: relative;
  }
  & .accountLogin.accountMain{
    width: $MyScale64!important;
    height: $MyScale64!important;
    border-radius: $MyScale48;
    display: flex;
    align-items: center;
    justify-content: center;
    & > span{
      @include font25_400();
      color: #fff!important;
    }
    & path{
      fill: #fff;
    }
    

    & .count_promo_order{
      width: $MyScale15!important;
      height: $MyScale15!important;
      border-radius: 100px;
      background-color: #dd1a32;
      position: absolute;
      top: -$MyScale2;
      right: -$MyScale5;
      border: $MyScale5 solid white;
      //box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* тень для точки */
    }
  }

  & a {
    text-decoration: none;
  }

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $MyScale128;
    min-height: $MyScale128;
    padding: 0 !important;
    //margin-top: $MyScale32;
    //margin-bottom: $MyScale32;
    margin-left: $MyScale125;
    margin-right: $MyScale125;

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    & .logoHeaderPC {
      width: $MyScale373_55;
      height: $MyScale112;
      margin-right: $MyScale20;
      display: flex;
      margin-left: $MyScale32;
      cursor: pointer;

      & img {
        width: auto;
        height: auto;
      }
    }

    & .headerCat {
      width: $MyScale192;
      height: $MyScale64;
      line-height: $MyScale40;
      margin-right: $MyScale16;
      display: flex;
      align-items: center;
      justify-content: center;

      & span {
        @include font32_400();
        cursor: pointer;
        white-space: nowrap;
        display: flex;
        text-align: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

        & svg {
          width: $MyScale20;
          height: $MyScale20;
          margin-top: $MyScale8;
          margin-left: $MyScale8;
          & path {
            stroke: $colorText;
            stroke-opacity: 1;
          }
        }

        &:hover {
          color: #dd1a32;
          & svg path {
            stroke: #dd1a32;
            stroke-opacity: 1;
          }
        }
      }
    }

    & .headerCat.link {
      width: $MyScale192;
      height: $MyScale64;
      border-radius: $MyScale100;
      border: $MyScale2 solid rgba(0, 0, 0, 0.2);
      cursor: pointer;
      &:hover {
        border: $MyScale2 solid $colorMain;
        & span {
          color: $colorMain;
        }
      }
    }

    & .filterHeaderPC.active, .profileHeaderPC.active1,
    .burgerHeaderPC.active,
    .mapHeaderPC.active,
    .basketCat.min.active {
      background-color: rgba(0, 0, 0, 0.05);
      outline: $MyScale16 solid rgba(0, 0, 0, 0.05) ;
      outline-offset: 0;
    }

    & .profileHeaderPC.active{
      background-color: rgba(0, 0, 0, 0.05);
      outline: $MyScale10 solid rgba(0, 0, 0, 0.05) ;
      outline-offset: 0;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        outline: rgba(0, 0, 0, 0.1) $MyScale10 solid;
        outline-offset: 0;
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.1);
        outline: rgba(0, 0, 0, 0.1) $MyScale10 solid;
        outline-offset: 0;
      }
    }

    & .filterHeaderPC, .profileHeaderPC,
    .burgerHeaderPC,
    .mapHeaderPC {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $MyScale48;
      height: $MyScale48;
      border-radius: $MyScale48;
      margin-right: $MyScale48;
      cursor: pointer;

      & .filter_svg {
        width: $MyScale35;
        height: $MyScale35;
      }

      & .profile_svg {
        width: $MyScale30;
        height: $MyScale28_53;
      }
      & .burger_svg {
        width: $MyScale38_49;
        height: $MyScale34_49;
      }
      & .map_svg {
        width: $MyScale30_19;
        height: $MyScale38_02;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        outline: rgba(0, 0, 0, 0.05) $MyScale16 solid;
        outline-offset: 0;
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.1);
        outline: rgba(0, 0, 0, 0.1) $MyScale16 solid;
        outline-offset: 0;
      }
    }

    & .activeProfileCat {
      width: $MyScale80;
      height: $MyScale80;
      border-radius: $MyScale80;
      background: #6fbef8;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: $MyScale40;

      & a {
        & span {
          @include font30_400();
          color: #ffffff;
        }
      }
    }

    & .basketCat {
      margin-right: $MyScale32;
    }

    & .basketCat.max {
      width: $MyScale217;
      height: $MyScale64;
      background-color: #dd1a32;
      border-radius: $MyScale45;

      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease 0s;

      & span {
        @include font25_400();
        color: #ffffff!important;
        text-align: center;
      }

      & svg {
        width: $MyScale41_8;
        height: $MyScale34_88;
        fill: #fff;
        stroke: #fff;
        & path {
          fill: #fff;
          stroke: #fff;
          stroke-opacity: 0.1;
        }
      }
    }
    & .basketCat.min {
      width: $MyScale48;
      height: $MyScale48;
      border-radius: $MyScale100;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.2s ease 0s;
      display: flex;
      justify-content: center;
      align-items: center;

      & svg {
        width: $MyScale41_8;
        height: $MyScale34_88;

        fill: $colorMain;
        & path {
          fill: $colorMain !important;
          stroke: $colorMain;
          stroke-opacity: 0.1;
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        outline: rgba(0, 0, 0, 0.05) $MyScale16 solid;
        outline-offset: 0;
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.1);
        outline: rgba(0, 0, 0, 0.1) $MyScale16 solid;
        outline-offset: 0;
      }
    }

    & .chooseCity {
      text-align: center;
      width: $MyScale160;
      @include font32_400();
      cursor: pointer;
      margin-right: $MyScale51;
      &:hover {
        color: $colorMain;
      }
    }

    & .link.activeCat {
      border-color: #dd1a32;
    }

    & .activeCat {
      & span {
        color: #dd1a32;
        & svg path {
          stroke: #dd1a32;
          stroke-opacity: 1;
        }
      }
    }

    & .activeCatSvg {
      & svg path {
        stroke: #dd1a32;
        stroke-opacity: 1;
      }
    }

    & .activeCatMap {
      & svg path:first-child {
        fill: #dd1a32;
        fill-opacity: 1;
      }
      & p {
        color: #dd1a32;
      }
    }
  }
}

#chooseHeaderCat {
  & div.MuiPaper-root.MuiMenu-paper {
    border-radius: $MyScale20;
    width: $MyScale400;
    background: #fff;
    box-shadow: $MyScale10 $MyScale20 $MyScale30 $MyScale5 rgba(0, 0, 0, 0.2);
    margin-top: $MyScale40;

    & ul {
      padding: 0;
      margin: $MyScale10;

      & li {
        padding: 0;
        min-height: $MyScale80;
        border-radius: $MyScale10;

        &:hover {
          background-color: rgba(0, 0, 0, 0.03);
        }

        & a {
          width: 100%;
          height: 100%;
          text-decoration: none;

          & span {
            width: 100%;
            min-height: $MyScale80;
            display: flex;
            align-items: center;
            justify-content: center;
            @include font30_400();
            white-space: break-spaces;
            text-align: center;

            &:hover {
              color: #dd1a32;
            }
          }
        }
      }
    }
  }
}
