@import '../settings';

html:not([data-scroll='0']) .blockShadow {
  //box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  

  width: 100%;
  height: 50px;
  position: fixed;
  top: 135px;
  background: linear-gradient(180deg, rgba(115, 115, 115, 0.1) 0%, rgba(83, 92, 84, 0) 100%);
  mix-blend-mode: multiply;
  transition: all 0.5s ease 0s;
}

.blockShadow{
  width: 100%;
  height: 0px;
  position: fixed;
  top: 135px;
  background: linear-gradient(180deg, rgba(115, 115, 115, 0.1) 0%, rgba(83, 92, 84, 0) 100%);
  mix-blend-mode: multiply;
  transition: all 0.1s ease 0s;
}

.headerNew {
  z-index: 1200 !important;
  background-color: #fff !important;
  
  box-shadow: none;
  
  & a{
    text-decoration: none;
  }
  & img {
    width: 15vw;
    height: auto;
  }
  & > div {
    padding: 0px !important;
    margin: 0px !important;

    @media (min-width: 0px) {
      height: 100px;
      min-height: 9vw;
    }

    & .headerCat {
      @include font40_400();
      border-radius: 15px;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        color: $colorMain;
        & p {
          color: $colorMain;
        }
        & svg.MapPointIcon path:first-child {
          fill: $colorMain;
          fill-opacity: 1;
        }
        & svg:not(.MapPointIcon) path {
          fill: $colorMain;
          fill-opacity: 1;
        }
        & svg.BurgerIcon path{
          stroke: $colorMain;
        }
      }
      
      & p {
        @include font40_400();
        padding-left: 10px;
      }
    }

    

  }
}

#chooseHeaderCat, #chooseHeaderDoc {
  & div.MuiPaper-root.MuiMenu-paper {
    border-radius: 10px;
    width: 12%;
    background: #ececec;
    box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.2);
    & ul {
      width: 100%;
      padding: 0;
      & li {
        width: 100%;
        &:hover {
          background-color: #ffffff;
        }
        & a {
          width: 100%;
          min-width: max-content;
          text-decoration: none;
          & span {
            width: 100%;
            display: block;
            text-align: center;
            @include font30_400();
            &:hover {
              color: $colorMain;
            }
          }

          display: block;
          text-align: center;
          @include font30_400();
          &:hover {
            color: $colorMain;
          }
        }
      }
    }
    // @media (max-width: 800px) {
    //   width: calc(100% - 100px);
    //   margin-top: 60px;
    // }
  }
}
