@import '../settings';

html:not([data-scroll='0']) .blockShadow {
  //box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);

  width: 100%;
  height: 50px;
  position: fixed;
  top: 9vw;
  background: linear-gradient(
    180deg,
    rgba(115, 115, 115, 0.1) 0%,
    rgba(83, 92, 84, 0) 100%
  );
  mix-blend-mode: multiply;
  transition: all 0.5s ease 0s;
  z-index: 2;
}

.blockShadow {
  width: 100%;
  height: 0px;
  position: fixed;
  top: 135px;
  background: linear-gradient(
    180deg,
    rgba(115, 115, 115, 0.1) 0%,
    rgba(83, 92, 84, 0) 100%
  );
  mix-blend-mode: multiply;
  transition: all 0.1s ease 0s;
}

.headerNew {
  z-index: 1200 !important;
  background-color: #fff !important;

  box-shadow: none !important;

  & a {
    text-decoration: none;
  }
  & img {
    width: 15vw;
    height: auto;
  }
  & > div {
    padding: 0px !important;
    margin: 0px !important;

    @media (min-width: 0px) {
      height: 100px;
      min-height: 9vw;
    }

    & .headerCat {
      @include font40_400();
      border-radius: 15px;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        color: $colorMain;
        & p {
          color: $colorMain;
        }
        & svg.MapPointIcon path:first-child {
          fill: $colorMain;
          fill-opacity: 1;
        }
        & svg:not(.MapPointIcon) path {
          fill: $colorMain;
          fill-opacity: 1;
        }
        & svg.BurgerIcon path {
          stroke: $colorMain;
        }
      }

      & p {
        @include font40_400();
        padding-left: 10px;
      }
    }
  }
}

#chooseHeaderCat,
#chooseHeaderDoc {
  & div.MuiPaper-root.MuiMenu-paper {
    border-radius: 10px;
    width: 12%;
    background: #ececec;
    box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.2);
    & ul {
      width: 100%;
      padding: 0;
      & li {
        width: 100%;
        &:hover {
          background-color: #ffffff;
        }
        & a {
          width: 100%;
          min-width: max-content;
          text-decoration: none;
          & span {
            width: 100%;
            display: block;
            text-align: center;
            @include font30_400();
            &:hover {
              color: $colorMain;
            }
          }

          display: block;
          text-align: center;
          @include font30_400();
          &:hover {
            color: $colorMain;
          }
        }
      }
    }
    // @media (max-width: 800px) {
    //   width: calc(100% - 100px);
    //   margin-top: 60px;
    // }
  }
}

///
#simple-popover {
  &
    > div.MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded
    > div {
    width: 700px;
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  & .SpacePromoRoot {
    display: flex;
    flex-direction: row;
    & .DescPromo {
      width: calc(100% - 352px);
      padding-left: 20px;
      display: flex;
      align-items: center;
      & span {
        @include fonsNew(0.95rem, $Roboto);
        font-weight: 300;
        line-height: 1;
        color: #dd1932;
      }
    }
    & .DescPromoPrice {
      width: calc(100% - 352px);
      padding-left: 20px;
      @include fonsNew(1.25rem, $Roboto);
      font-weight: 500;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  & .InCart {
    width: 100%;
    margin-top: 20px;
    & div.MuiButtonGroup-root.MuiButtonGroup-contained {
      width: 100%;
      & > button {
        width: 100%;
        background-color: #f9bc23;
        border-radius: 60px;
        height: 60px;
        @include font50_500();
        text-transform: initial;
      }
      & > button:hover {
        background-color: #cf9f37;
      }
      & > button:target {
        background-color: #cf9f37;
      }
      & > button:active {
        background-color: #cf9f37;
      }
    }
  }
  & .TableMini {
    width: inherit;
    & tbody {
      overflow-y: auto;
      overflow-x: hidden;
      height: 450px;
      display: table-caption;
      width: 100%;
      padding-right: 20px;
      & tr {
        border-bottom: 1px solid rgba(27, 27, 31, 0.1);
        padding-bottom: 5px;
        padding-top: 5px;
        display: block;
        & img {
          height: auto;
          width: 100%;
        }
      }
    }
    & tfoot {
      height: 60px;
      & > tr {
        height: 60px;
      }
      & td:first-child {
        @include font50_500();
      }
      & td:last-child {
        & > div:not(.originPrice) {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          @include font50_500();
        }
        & > .originPrice {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          @include fonsNew(1.25rem, $Roboto);
          font-weight: 500;
          color: rgba(27, 27, 31, 0.2) !important;

          & > span {
            position: relative;
            width: fit-content;
            &:before {
              border-bottom: 2px solid $colorMain;
              position: absolute;
              content: '';
              width: 120%;
              height: 50%;
              left: -10%;
            }
          }
        }
      }
    }

    & .TableMiniName > span {
      @include font40_400();
      text-transform: initial;
    }
    & .TableMiniPrice {
      text-align: center;
      @include font40_400();
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    & .CellPic {
      width: 17.2%;
    }
    & .CellName {
      width: 32.8%;
      padding-right: 10px;
      padding-left: 10px;
    }
    & .CellButton {
      width: 25.9%;
    }
    & .CellButtonPrize {
      width: 43.1%;
    }
    & .CellPrice,
    .CellPrice2 {
      width: 17.2%;
    }
    & .CellPrice2 {
      & > div:first-child {
        width: 100%;
        & > div {
          position: relative;
          width: fit-content;
          color: rgba(27, 27, 31, 0.2) !important;
          &::before {
            border-bottom: 2px solid #cc0033;
            position: absolute;
            content: '';
            width: 120%;
            height: 50%;
            left: -10%;
          }
        }
      }
    }
  }
  & .SpacePromo {
    padding: 0px 10px 0px 20px;
    display: flex;
    align-items: center;
    height: 58px;
    border-radius: 60px;
    border: 1px solid rgba(27, 27, 31, 0.1);
    width: 300px;
    & > div:first-child {
      width: calc(100% - 27px);
    }
    & input {
      @include font40_400();
      color: rgba(27, 27, 31, 0.5);
    }
    & .promoIndicator {
      width: 20px;
      height: 20px;
      border-radius: 60px;
      margin: 0;
      padding: 0;
      background-color: transparent;
      &.true {
        background-color: rgb(118, 236, 63);
      }
      &.false {
        background-color: rgb(221, 25, 50);
      }
    }
  }
  & div.MuiPaper-root.MuiPopover-paper {
    border-radius: 0;
  }
}

.MiniActionsCartButton {
  width: 100%;
  & > div {
    width: 100%;
    height: 48px;
    border-radius: 60px;
    border: 1px solid #f9bc23;
    background-color: rgba(249,188,35,0.1) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > .minus {
      width: 30px;
      height: 30px;
      padding: 0;
      margin-left: 10px;
      //padding-top: 0.9px;
      @include font40_400();
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f9bc23;
      border: 1px solid #f9bc23;
      border-radius: 60px;
      cursor: pointer;
    }
    & > span {
      @include font40_400();
    }
    & > .plus {
      width: 38px;
      height: 38px;
      padding: 0;
      margin-right: 6px;
      @include font50_500();
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f9bc23;
      border: 1px solid #f9bc23;
      border-radius: 60px;
      cursor: pointer;
    }
    & > button:hover {
      background-color: #cf9f37;
      border: 1px solid #cf9f37;
    }
    & > button:target {
      background-color: #cf9f37;
      border: 1px solid #cf9f37;
    }
    & > button:active {
      background-color: #cf9f37;
      border: 1px solid #cf9f37;
    }
  }
}
