@import '../settings';

.class123 {
  & > div {
    box-shadow: none !important;
    border: 0 !important;
    outline: none !important;
  }
}

.modalLoginStart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.22vw;
  background-color: #ffffff;
  padding: 2.54vw 3.63vw 1.08vw 3.63vw;
  border-radius: 1.83vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 800px) {
    width: calc(100% - 40px);
    padding: 10px 20px;
  }

  & .err {
    & div {
      background: #fdeff1 !important;
      border: 3px solid rgba(221, 26, 50, 0.5) !important;
    }
  }

  & .inputLogin {
    width: 100% !important;
    height: 2.89vw;
    margin-bottom: 20px;

    & .Mui-focused .MuiOutlinedInput-notchedOutline {
      border-width: 0px !important;
    }

    & fieldset {
      border-width: 0px !important;
    }

    & div {
      border: 3px solid rgba(0, 0, 0, 0.2);
      border-radius: 120px;
      height: 100%;
      &:hover,
      &:focus-within {
        border: 3px solid rgba(221, 26, 50, 0.5) !important;
      }

      & div {
        border: unset !important;
        &:focus-within,
        &:hover,
        &:focus,
        &:active {
          border: unset !important;
        }
      }

      & input {
        height: 90%;
        padding: 0;
        width: 100%;
        padding-left: 30px;
        letter-spacing: 1px;
        border-radius: 120px;
        color: $colorText !important;
      }
    }

    & label,
    span,
    input {
      @include font40_400();
    }
  }

  & .loginHeader {
    margin-bottom: 1.27vw;
    & h2 {
      @include font50_500();
    }
  }

  & .loginLosePWD {
    display: flex;
    align-items: center;
    & span {
      text-decoration: underline;
      @include font22_400();
      cursor: pointer;
      color: rgba(0, 0, 0, 0.3) !important;
      &:hover {
        color: $colorMain !important;
      }
    }
  }

  & .loginLogin {
    width: 14.445vw;
    height: 2.89vw;
    border-radius: 120px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 12px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & span {
      @include font30_400();
      color: #ffffff;
    }
  }
  & .loginLoginYa {
    width: 14.445vw;
    height: 2.89vw;
    border-radius: 120px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 12px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #000;
    & span {
      @include font30_400();
      color: #ffffff;
    }
    & svg{
      width: 1.3vw;
      height: 1.3vw;
      margin-right: 0.5vw;
    }
  }

  & .loginCreate {
    width: 75%;
    margin-bottom: 2.53vw;
    cursor: pointer;
    & span {
      text-decoration: underline;
      @include font30_400();
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $colorMain !important;
      }
    }
  }

  & .loginSMS {
    display: flex;
    align-items: center;
    justify-content: center;
    
    & span {
      text-decoration: underline;
      @include font22_400();
      cursor: pointer;
      color: rgba(0, 0, 0, 0.3);
      &:hover {
        color: $colorMain;
      }
    }
  }
  & .loginOR{
    & > span {
      @include font30_400();
    }
  }
  & .loginErr {
    width: 90% !important;
    height: 6.3vw;
    background: #fdeff1;
    border: 3px solid rgba(221, 26, 50, 0.5);
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    & > span {
      @include font30_400();
    }
  }
}

.modalLoginCreateNew {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.22vw;
  background-color: #ffffff;
  padding: 2.54vw 3.63vw 1.08vw 3.63vw;
  border-radius: 1.83vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 800px) {
    width: calc(100% - 40px);
    padding: 10px 20px;
  }

  & .loginHeader {
    height: 60px;
    width: 100% !important;
    margin-bottom: 1.27vw;
    & h2 {
      text-align: center;
      @include font50_500();
    }
  }

  & .loginInfo {
    height: 80px;
    width: 100% !important;
    & h2 {
      text-align: center;
      @include font30_400();
    }
  }

  & .inputLogin {
    width: 100% !important;
    height: 60px;
    margin-bottom: 20px;

    & .Mui-focused .MuiOutlinedInput-notchedOutline {
      border-width: 0px !important;
    }

    & fieldset {
      border-width: 0px !important;
    }

    & div {
      border: 3px solid rgba(0, 0, 0, 0.2);
      border-radius: 120px;
      height: 100%;
      &:hover,
      &:focus-within {
        border: 3px solid rgba(221, 26, 50, 0.5) !important;
      }

      & div {
        border: unset !important;
        &:focus-within,
        &:hover,
        &:focus,
        &:active {
          border: unset !important;
        }
      }

      & input {
        height: 90%;
        padding: 0;
        width: 100%;
        padding-left: 30px;
        letter-spacing: 1px;
        border-radius: 120px;
        color: rgba(0, 0, 0, 0.8) !important;
      }
    }

    & label,
    span,
    input {
      @include font40_400();
    }
  }

  & .loginSubHeader {
    height: 98px;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & span {
      text-align: center;
      @include fonsNew(0.75rem, $Roboto);
    }
  }

  & .loginLogin {
    width: 75%;
    height: 60px;
    border-radius: 120px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & span {
      @include font30_400();
      color: #ffffff;
    }
  }

  & .loginCreate {
    width: 75%;
    height: 60px;
    margin-bottom: 30px;
    cursor: pointer;
    & span {
      text-decoration: underline;
      @include font30_400();
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $colorMain !important;
      }
    }
  }

  & .loginData {
    height: 80px;
    width: 100% !important;
    & span {
      text-decoration: underline;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      @include font22_400();
    }
  }

  & .loginErr {
    width: 90% !important;
    height: 57px;
    background: #fdeff1;
    border: 3px solid rgba(221, 26, 50, 0.5);
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    & > span {
      @include font30_400();
    }
  }
}

.modalLoginSMSCode {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.22vw;
  background-color: #ffffff;
  padding: 2.54vw 3.63vw 1.08vw 3.63vw;
  border-radius: 1.83vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 800px) {
    width: calc(100% - 40px);
    padding: 10px 20px;
  }

  & .loginHeader {
    width: 100% !important;
    margin-bottom: 1.27vw;
    & h2 {
      text-align: center;
      @include font50_500();
    }
  }

  & .loginSubHeader1 {
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    & span {
      text-align: center;
      @include font30_400();
    }
  }

  & .loginErr {
    width: 90% !important;
    height: 57px;
    background: #fdeff1;
    border: 3px solid rgba(221, 26, 50, 0.5);
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    & > span {
      @include font30_400();
    }
  }

  & .loginSubHeader2 {
    height: 40px;
    margin-bottom: 30px;
    & span {
      text-align: center;
      @include font40_400();
    }
  }

  & .loginSubHeader3 {
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    & span {
      text-decoration: underline;
      text-align: center;
      color: $colorMain !important;
      @include font30_400();
    }
  }

  & .active {
    border: 3px solid rgba(221, 26, 50, 0.5) !important;
  }

  & .disable {
    & input[disabled] {
      pointer-events: none;
    }
  }

  & .loginAutCode {
    margin-bottom: 20px;
    & > div {
      display: flex;
      flex-direction: row;
      & input {
        width: 88px;
        height: 88px;
        padding: 0;
        text-align: center;
        margin-right: 12px;
        text-transform: uppercase;
        @include font50_500();
        border: 3px solid rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        background: #fff;
        background-clip: padding-box;
        &:focus {
          appearance: none;
          outline: 0;
        }
        &:hover,
        &:focus,
        &:active {
          border: 3px solid rgba(221, 26, 50, 0.5) !important;
        }
      }
    }
  }

  & .loginTimer {
    height: 51px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorMain !important;
    & span {
      text-align: center;
      color: $colorMain !important;
      @include font30_400();
    }
  }

  & .loginSend {
    width: 75%;
    height: 60px;
    border-radius: 120px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & span {
      @include font30_400();
      color: #ffffff;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  & .loginPrev {
    width: 75%;
    height: 50px;
    margin-bottom: 60px;
    cursor: pointer;
    & span {
      text-decoration: underline;
      @include font30_400();
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $colorMain !important;
      }
    }
  }
}

.modalLoginCreate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.22vw;
  background-color: #ffffff;
  padding: 2.54vw 3.63vw 1.08vw 3.63vw;
  border-radius: 1.83vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 800px) {
    width: calc(100% - 40px);
    padding: 10px 20px;
  }

  & .loginHeader {
    width: 100% !important;
    margin-bottom: 2.54vw;
    & h2 {
      text-align: center;
      @include font50_500();
    }
  }
  & .loginSubHeader{
    width: 100% !important;
    margin-bottom: 1.27vw;
    & h3 {
      text-align: center;
      @include font30_400();
    }
  }

  & .inputLogin {
    width: 100% !important;
    height: 2.89vw;
    padding-bottom: 3.25vw;
    & .Mui-focused .MuiOutlinedInput-notchedOutline {
      border-width: 0px !important;
    }

    & fieldset {
      border-width: 0px !important;
    }

    & div {
      border: 3px solid rgba(0, 0, 0, 0.2);
      border-radius: 120px;
      height: 100%;
      &:hover,
      &:focus-within {
        border: 3px solid rgba(221, 26, 50, 0.5) !important;
      }

      & div {
        border: unset !important;
        &:focus-within,
        &:hover,
        &:focus,
        &:active {
          border: unset !important;
        }
      }

      & input {
        height: 90%;
        padding: 0;
        width: 100%;
        padding-left: 30px;
        letter-spacing: 1px;
        border-radius: 120px;
        color: $colorText !important;
      }
    }

    & label,
    span,
    input {
      @include font40_400();
    }
  }

  & .loginErr {
    width: 90% !important;
    height: 57px;
    background: #fdeff1;
    border: 3px solid rgba(221, 26, 50, 0.5);
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    & > span {
      @include font30_400();
    }
  }

  & .loginLogin {
    width: 14.445vw;
    height: 2.89vw;
    border-radius: 120px;
    background-color: rgba(0, 0, 0, 0.2);
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & span {
      @include font30_400();
      color: #ffffff;
    }
  }

  & .loginCreate {
    width: 75%;
    height: 60px;
    margin-bottom: 30px;
    cursor: pointer;
    & span {
      text-decoration: underline;
      @include font30_400();
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $colorMain !important;
      }
    }
  }
}

.modalLoginReset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.22vw;
  background-color: #ffffff;
  padding: 2.54vw 3.63vw 1.08vw 3.63vw;
  border-radius: 1.83vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 800px) {
    width: calc(100% - 40px);
    padding: 10px 20px;
  }

  & .inputLogin {
    width: 100% !important;
    height: 60px;
    margin-bottom: 20px;

    & .Mui-focused .MuiOutlinedInput-notchedOutline {
      border-width: 0px !important;
    }

    & fieldset {
      border-width: 0px !important;
    }

    & div {
      border: 3px solid rgba(0, 0, 0, 0.2);
      border-radius: 120px;
      height: 100%;
      &:hover,
      &:focus-within {
        border: 3px solid rgba(221, 26, 50, 0.5) !important;
      }

      & div {
        border: unset !important;
        &:focus-within,
        &:hover,
        &:focus,
        &:active {
          border: unset !important;
        }
      }

      & input {
        height: 90%;
        padding: 0;
        width: 100%;
        padding-left: 30px;
        letter-spacing: 1px;
        border-radius: 120px;
        color: $colorText !important;
      }
    }

    & label,
    span,
    input {
      @include font40_400();
    }
  }

  & .loginHeader {
    margin-bottom: 1.27vw;
    & h2 {
      @include font50_500();
    }
  }

  & .loginLogin {
    width: 75%;
    height: 60px;
    border-radius: 120px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & span {
      @include font30_400();
      color: #ffffff;
    }
  }

  & .loginCreate {
    width: 75%;
    height: 60px;
    margin-bottom: 30px;
    cursor: pointer;
    & span {
      text-decoration: underline;
      @include font30_400();
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $colorMain !important;
      }
    }
  }

  & .loginSubHeader {
    height: 113px;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & span {
      text-align: center;
      @include fonsNew(0.75rem, $Roboto);
    }
  }

  & .loginErr {
    width: 90% !important;
    height: 57px;
    background: #fdeff1;
    border: 3px solid rgba(221, 26, 50, 0.5);
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    & > span {
      @include font30_400();
    }
  }
}

.modalLoginError {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.22vw;
  background-color: #ffffff;
  padding: 2.54vw 3.63vw 1.08vw 3.63vw;
  border-radius: 1.83vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 800px) {
    width: calc(100% - 40px);
    padding: 10px 20px;
  }
  & img {
    height: 100%;
    width: auto;
  }
  & .InnerBorder {
    border: 1px solid $colorMain;
    border-radius: 10px;
    padding: 20px;
  }
  & .loginHeader {
    height: 60px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    & h2 {
      text-align: center;
      @include font50_500();
    }
  }
  & .loginSubHeader1 {
    margin-bottom: 30px;
    text-align: center;
    & span {
      @include font30_400();
    }
  }
  & .loginSubHeader2 {
    margin-bottom: 80px;
    text-align: center;
    & span {
      @include font30_400();
    }
  }
}

.modalLoginFinish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.22vw;
  background-color: #ffffff;
  padding: 2.54vw 3.63vw 1.08vw 3.63vw;
  border-radius: 1.83vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 800px) {
    width: calc(100% - 40px);
    padding: 10px 20px;
  }
  & img {
    height: 100%;
    width: auto;
  }
  & .loginIMG {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .loginHeader {
    margin-bottom: 1.27vw;
    display: flex;
    align-items: flex-end;
    & h2 {
      @include font50_500();
    }
  }
  & .loginSubHeader1 {
    height: 80px;
    margin-bottom: 30px;
    text-align: center;
    & span {
      @include font30_400();
    }
  }
  & .loginSubHeader2 {
    height: 60px;
    margin-bottom: 40px;
    text-align: center;
    & span {
      @include font22_400();
    }
    & a {
      color: $colorText !important;
    }
  }
  & .loginLogin {
    width: 75%;
    height: 60px;
    border-radius: 120px;
    background-color: $colorMain;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    & span {
      @include font30_400();
      color: #ffffff;
    }
  }

  & .loginCreate {
    width: 75%;
    height: 60px;
    border-radius: 120px;
    background-color: #ffffff;
    border: 1px solid #dd1a32;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    & span {
      @include font30_400();
    }
  }
}
