@import '../settings';

.modalAuthPC {
  & .MuiDialog-paper {
    overflow: visible;
    margin: 0 !important;
    max-width: none !important;
    border-radius: $MyScale40;
    width: $MyScale680;
    height: $MyScale800;

    & .ContainerModalAuthPC {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .closeButton {
        position: absolute;
        height: $MyScale60;
        width: $MyScale60;
        padding: 0;
        left: -$MyScale80;

        & svg {
          height: 100%;
          width: 100%;
        }
      }

      & .authLogin {
        height: $MyScale60;
        margin-top: $MyScale60;
        margin-bottom: $MyScale50;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font50_500();
      }

      .modalLoginStartPC {
        width: $MyScale620;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .checkSVG {
          height: $MyScale40;
          width: $MyScale40;
          cursor: pointer;
        }

        & .loginErr {
          height: $MyScale40;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: $MyScale15;
          & > span {
            @include font22_400();
            color: #dd1a32 !important;
          }
        }

        & .inputLogin {
          width: $MyScale620;
          height: $MyScale60;
          display: flex;
          flex-direction: row;
          justify-content: center;

          & .MuiInputBase-root.MuiInput-root:after {
            border-bottom: $MyScale2 solid rgba(0, 0, 0, 0.4);
          }

          & .MuiInputBase-root.MuiInput-root:before {
            border-bottom: $MyScale2 solid rgba(0, 0, 0, 0.2);
          }

          & .MuiInputBase-root.MuiInput-root {
            width: $MyScale480;

            & input {
              padding: 0;
              height: $MyScale40;
              margin-bottom: $MyScale20;
              margin-left: $MyScale40;
              @include font40_400();
            }

            & > input::placeholder {
              transform: translate3d(0, -$MyScale4, 0);
              @include font30_400();
              color: rgba(0, 0, 0, 0.4) !important;
            }

            & svg {
              width: $MyScale40;
              height: $MyScale40;
              margin-bottom: $MyScale20;
            }
          }
        }

        & .resetText {
          width: $MyScale340;
          height: $MyScale80;
          @include font22_400();
          text-align: center;
          margin-bottom: $MyScale45;
        }

        & .startInputBox {
          width: $MyScale620;
          display: flex;
          position: relative;
          height: $MyScale60;
          padding-top: $MyScale40;
          margin-bottom: $MyScale10;

          & .eye_icon {
            right: 0;
            bottom: 0;
            position: absolute;
            width: $MyScale60;
            height: $MyScale70;
            z-index: 5;

            & svg {
              width: $MyScale60;
              height: $MyScale60;
            }
          }
        }

        & .loginLosePWD {
          display: flex;
          align-items: center;
          height: $MyScale40;
          margin-bottom: $MyScale20;
          cursor: pointer;
          & span {
            text-decoration: underline;
            @include font22_400();
            color: rgba(0, 0, 0, 0.4) !important;
          }
        }

        & .loginLogin {
          width: $MyScale400;
          height: $MyScale80;
          border-radius: $MyScale40;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          & span {
            @include font30_400();
            color: #ffffff !important;
          }
        }

        & .loginOR {
          height: $MyScale40;
          & > span {
            @include font22_400();
          }
        }

        & .loginLoginYa {
          width: $MyScale400;
          height: $MyScale60;
          border-radius: $MyScale30;
          margin-bottom: $MyScale30;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #000;
          cursor: pointer;
          & span {
            @include font22_400();
            color: #ffffff !important;
          }
          & svg {
            width: $MyScale36;
            height: $MyScale36;
            margin-right: $MyScale12;
          }
        }

        & .loginSMS {
          height: $MyScale40;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          & span {
            text-decoration: underline;
            @include font22_400();
            cursor: pointer;
            color: rgba(0, 0, 0, 0.4) !important;
          }
        }
      }

      .modalLoginCreatePC {
        width: $MyScale480;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .loginInfo {
          height: $MyScale80;
          margin-bottom: $MyScale28;
          display: flex;
          align-items: center;
          & h2 {
            @include font30_400();
          }
        }

        & .inputLogin {
          width: $MyScale480;
          height: $MyScale67;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: $MyScale80;

          & .MuiInputBase-root.MuiInput-root:after {
            border-bottom: $MyScale2 solid rgba(0, 0, 0, 0.4);
          }

          & .MuiInputBase-root.MuiInput-root:before {
            border-bottom: $MyScale2 solid rgba(0, 0, 0, 0.2);
          }

          & .MuiInputBase-root.MuiInput-root {
            width: $MyScale480;

            & input {
              padding: 0;
              height: $MyScale50;
              margin-bottom: $MyScale17;
              margin-left: $MyScale40;
              @include font40_400();
            }

            & > input::placeholder {
              transform: translate3d(0, -$MyScale4, 0);
              @include font30_400();
              color: rgba(0, 0, 0, 0.4) !important;
            }

            & .vectorInput {
              width: $MyScale60;
              height: $MyScale60;
              border-radius: $MyScale60;
              background: rgba(0, 0, 0, 0.1);
              display: flex;
              align-items: center;
              margin-bottom: $MyScale17;

              & svg {
                width: $MyScale50;
                height: $MyScale50;
                margin-left: $MyScale7;
              }
            }
          }
        }

        & .loginData {
          display: flex;
          flex-direction: column;
          align-items: center;

          & .data {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: $MyScale40;
            width: $MyScale455;

            & span:first-child {
              height: $MyScale40;
              width: $MyScale40;
              border-radius: $MyScale10;

              & svg {
                height: $MyScale40;
                width: $MyScale40;
              }
            }

            & span:last-child {
              height: $MyScale40;
              width: $MyScale395;
              @include font18_400();
              line-height: normal;

              & a {
                color: #dd1a32;
              }
            }
          }
        }
      }

      .modalLoginSMSCodePC {
        width: $MyScale580;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .loginSubHeader {
          height: $MyScale60;
          margin-bottom: $MyScale12;

          & span {
            @include font40_400();
          }
        }

        & .loginLine {
          width: $MyScale360;
          height: $MyScale6;
          margin-bottom: $MyScale27;
          border-radius: $MyScale3;

          & span {
            border-radius: $MyScale3;
            height: $MyScale6;
          }
        }

        & .loginSubHeader2 {
          height: $MyScale80;
          margin-bottom: $MyScale28;
          display: flex;
          align-items: center;

          & span {
            @include font30_400();
          }
        }

        & .loginAutCode {
          height: $MyScale77;
          width: $MyScale480;
          border-bottom: $MyScale2 solid rgba(0, 0, 0, 0.4);
          display: flex;
          align-items: flex-end;
          justify-content: center;
          position: relative;
          margin-bottom: $MyScale40;

          & > div {
            display: flex;
            flex-direction: row;
            margin-bottom: $MyScale22;

            & input {
              width: $MyScale50;
              height: $MyScale50;
              padding: 0;
              @include font50_500();
              border: none;
              background-clip: padding-box;

              &:focus {
                appearance: none;
                outline: 0;
              }
            }

            & > input::placeholder {
              text-align: center;
              font-size: $MyScale80;
              transform: translate3d(0, $MyScale13, 0);
              color: rgba(0, 0, 0, 0.2) !important;
            }
          }

          & .vectorInput {
            position: absolute;
            width: $MyScale60;
            height: $MyScale60;
            border-radius: $MyScale60;
            background: rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            right: 0;
            margin-bottom: $MyScale17;

            & svg {
              width: $MyScale50;
              height: $MyScale50;
              margin-left: $MyScale7;
            }
          }
        }

        & .loginTimer {
          height: $MyScale40;
          margin-bottom: $MyScale60;

          & span {
            @include font30_400();
            color: rgba(0, 0, 0, 0.4) !important;
          }
        }

        & .loginPrev {
          height: $MyScale40;
          cursor: pointer;

          & span {
            text-decoration: underline;
            @include font30_400();
          }
        }
      }

      .modalLoginPwdPC {
        width: $MyScale620;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .checkSVG {
          height: $MyScale40;
          width: $MyScale40;
          cursor: pointer;
        }

        & .loginSubHeader {
          width: $MyScale500;
          text-align: center;
          height: $MyScale80;
          margin-bottom: $MyScale50;

          & span {
            line-height: $MyScale40;
            @include font30_400();
          }
        }

        & .inputLogin {
          width: $MyScale620;
          height: $MyScale60;
          display: flex;
          flex-direction: row;
          justify-content: center;

          & .MuiInputBase-root.MuiInput-root:after {
            border-bottom: $MyScale2 solid rgba(0, 0, 0, 0.4);
          }

          & .MuiInputBase-root.MuiInput-root:before {
            border-bottom: $MyScale2 solid rgba(0, 0, 0, 0.2);
          }

          & .MuiInputBase-root.MuiInput-root {
            width: $MyScale480;

            & input {
              padding: 0;
              height: $MyScale40;
              margin-bottom: $MyScale20;
              margin-left: $MyScale20;
              @include font40_400();
            }

            & > input::placeholder {
              transform: translate3d(0, -$MyScale4, 0);
              @include font30_400();
              color: rgba(0, 0, 0, 0.4) !important;
            }

            & svg {
              width: $MyScale40;
              height: $MyScale40;
              margin-bottom: $MyScale20;
            }
          }

          & .MuiInputAdornment-root {
            margin: 0;
          }

          & .groupCheckPass {
            width: $MyScale20;
            display: flex;
            flex-direction: column;
            & span {
              width: $MyScale20;
              height: $MyScale10;
              margin-bottom: $MyScale3;
            }
          }
        }

        & .createInputBox {
          width: $MyScale620;
          display: flex;
          position: relative;
          height: $MyScale60;

          & .eye_icon {
            right: 0;
            bottom: 0;
            position: absolute;
            width: $MyScale60;
            height: $MyScale70;
            z-index: 5;

            & svg {
              width: $MyScale60;
              height: $MyScale60;
            }
          }
        }

        & .inputLoginRepeat {
          width: $MyScale620;
          height: $MyScale60;
          display: flex;
          flex-direction: row;
          justify-content: center;

          & .MuiInputBase-root.MuiInput-root:after {
            border-bottom: $MyScale2 solid rgba(0, 0, 0, 0.4);
          }

          & .MuiInputBase-root.MuiInput-root:before {
            border-bottom: $MyScale2 solid rgba(0, 0, 0, 0.2);
          }

          & .MuiInputBase-root.MuiInput-root {
            width: $MyScale480;

            & input {
              padding: 0;
              height: $MyScale40;
              margin-bottom: $MyScale20;
              margin-left: $MyScale40;
              @include font40_400();
            }

            & > input::placeholder {
              transform: translate3d(0, -$MyScale4, 0);
              @include font30_400();
              color: rgba(0, 0, 0, 0.4) !important;
            }

            & svg {
              width: $MyScale40;
              height: $MyScale40;
              margin-bottom: $MyScale20;
            }
          }
        }

        & .repeatInputBox {
          width: $MyScale620;
          display: flex;
          position: relative;
          height: $MyScale60;
          padding-top: $MyScale40;
        }

        & .loginLogin {
          width: $MyScale400;
          height: $MyScale80;
          border-radius: $MyScale40;
          margin-top: $MyScale70;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          & span {
            @include font30_400();
            color: #ffffff !important;
          }
        }
      }

      .modalLoginFinishPC {
        width: $MyScale580;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .loginSVG {
          width: $MyScale120;
          height: $MyScale120;
          margin-bottom: $MyScale40;
          svg {
            width: 100%;
            height: 100%;
          }
        }

        & .loginSubHeader {
          width: $MyScale580;
          text-align: center;
          height: $MyScale160;
          margin-bottom: $MyScale40;
          display: flex;
          flex-direction: column;

          & span {
            line-height: $MyScale40;
            @include font30_400();
          }
        }

        & .loginLogin {
          text-decoration: none;
          width: $MyScale400;
          height: $MyScale80;
          border-radius: $MyScale40;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #dd1a32;
          cursor: pointer;
          & span {
            @include font30_400();
            color: #ffffff !important;
          }
        }
      }
    }
  }
}
