@import '../settings';

.modalAuthMobile {
  & .MuiDialog-paper, .MuiDrawer-paper {
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none !important;
    max-height: calc(100% - $MyScale200_mobile);
    height: $MyScale1871_mobile;

    .ContainerModalAuthMobile {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .Line {
        height: $MyScale10_mobile;
        width: $MyScale150_mobile;
        background: rgba(0, 0, 0, 0.2);
        border-radius: $MyScale5_mobile;
        margin-bottom: $MyScale80_mobile;
        margin-top: $MyScale40_mobile;
      }

      & .authLogin {
        height: $MyScale120_mobile;
        margin-bottom: $MyScale30_mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font75_700();
      }

      & .stack {
        flex-direction: row;
        align-items: center;
        width: $MyScale840_mobile;
        margin-bottom: $MyScale30_mobile;
      }

      .modalLoginStartMobile {
        width: $MyScale1000_mobile;
        padding-bottom: $MyScale551_mobile;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .loginErr {
          width: $MyScale800_mobile;
          height: $MyScale50_mobile;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin-bottom: $MyScale30_mobile;
          & > span {
            line-height: $MyScale40_mobile;
            @include font40_400();
            color: #dd1a32 !important;
          }
        }

        & .inputLogin {
          width: $MyScale760_mobile;
          height: $MyScale160_mobile;
          display: flex;
          flex-direction: row;
          justify-content: center;

          & .MuiInputBase-root.MuiInput-root:after {
            border-bottom: $MyScale2_mobile solid rgba(0, 0, 0, 0.4);
          }

          & .MuiInputBase-root.MuiInput-root:before {
            border-bottom: $MyScale2_mobile solid rgba(0, 0, 0, 0.2);
          }

          & .MuiInputBase-root.MuiInput-root {
            width: $MyScale760_mobile;
            height: 100%;
            display: flex;
            align-items: center;

            & input {
              padding: 0;
              height: $MyScale100_mobile;
              margin-left: $MyScale60_mobile;
              @include font75_700();
            }

            & > input::placeholder {
              transform: translate3d(0, -$MyScale10_mobile, 0);
              @include font40_400();
              color: rgba(0, 0, 0, 0.4) !important;
            }

            & svg {
              width: $MyScale60_mobile;
              height: $MyScale60_mobile;
            }
          }
        }

        & .resetText {
          width: $MyScale760_mobile;
          height: $MyScale160_mobile;
          @include font40_400();
          text-align: center;
          margin-top: $MyScale30_mobile;
        }

        & .startInputBox {
          width: $MyScale1000_mobile;
          display: flex;
          position: relative;

          & .eye_icon {
            right: 0;
            position: absolute;
            width: $MyScale80_mobile;
            height: $MyScale80_mobile;
            align-self: center;
            z-index: 5;

            & svg {
              height: 100%;
              width: 100%;
            }
          }
        }

        & .loginLosePWD {
          display: flex;
          align-items: center;
          height: $MyScale60_mobile;
          margin-top: $MyScale20_mobile;
          & span {
            text-decoration: underline;
            @include font40_400();
            color: rgba(0, 0, 0, 0.4) !important;
          }
        }

        & .loginLogin {
          width: $MyScale650_mobile;
          height: $MyScale120_mobile;
          border-radius: $MyScale60_mobile;
          margin-top: $MyScale40_mobile;
          margin-bottom: $MyScale10_mobile;
          display: flex;
          align-items: center;
          justify-content: center;
          & span {
            @include font50_500();
            color: #ffffff !important;
          }
        }

        & .loginOR {
          height: $MyScale60_mobile;
          margin-bottom: $MyScale10_mobile;
          & > span {
            @include font40_400();
          }
        }

        & .loginLoginYa {
          width: $MyScale650_mobile;
          height: $MyScale120_mobile;
          border-radius: $MyScale60_mobile;
          margin-bottom: $MyScale50_mobile;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #000;
          & span {
            @include font40_500();
            color: #ffffff !important;
          }
          & svg {
            width: $MyScale65_mobile;
            height: $MyScale65_mobile;
            margin-right: $MyScale20_mobile;
          }
        }

        & .loginSMS {
          height: $MyScale60_mobile;
          display: flex;
          align-items: center;
          justify-content: center;

          & span {
            text-decoration: underline;
            @include font40_400();
            color: rgba(0, 0, 0, 0.4) !important;
          }
        }
      }

      .modalLoginCreateMobile {
        width: $MyScale760_mobile;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .loginInfo {
          height: $MyScale60_mobile;
          margin-bottom: $MyScale30_mobile;
          display: flex;
          align-items: center;
          & h2 {
            @include font50_500();
          }
        }

        & .inputLogin {
          width: $MyScale760_mobile;
          height: $MyScale160_mobile;
          display: flex;
          flex-direction: row;
          justify-content: center;

          & .MuiInputBase-root.MuiInput-root:after {
            border-bottom: $MyScale2_mobile solid rgba(0, 0, 0, 0.4);
          }

          & .MuiInputBase-root.MuiInput-root:before {
            border-bottom: $MyScale2_mobile solid rgba(0, 0, 0, 0.2);
          }

          & .MuiInputBase-root.MuiInput-root {
            width: $MyScale760_mobile;
            height: 100%;
            display: flex;
            align-items: center;

            & input {
              padding: 0;
              height: $MyScale100_mobile;
              @include font75_700();
            }

            & > input::placeholder {
              transform: translate3d(0, -$MyScale10_mobile, 0);
              @include font40_400();
              color: rgba(0, 0, 0, 0.4) !important;
            }

            & svg {
              width: $MyScale60_mobile;
              height: $MyScale60_mobile;
            }
          }
        }

        & .startInputBox {
          width: $MyScale1000_mobile;
          display: flex;
          position: relative;

          & .eye_icon {
            right: 0;
            position: absolute;
            width: $MyScale80_mobile;
            height: $MyScale80_mobile;
            align-self: center;
            z-index: 5;

            & svg {
              height: 100%;
              width: 100%;
            }
          }
        }

        & .loginLogin {
          width: $MyScale650_mobile;
          height: $MyScale120_mobile;
          border-radius: $MyScale60_mobile;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: $MyScale80_mobile;
          & span {
            @include font50_500();
            color: #ffffff !important;
          }
        }

        & .loginData {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: $MyScale80_mobile;

          & .data {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: $MyScale60_mobile;
            width: $MyScale760_mobile;

            & span:first-child {
              height: $MyScale60_mobile;
              width: $MyScale60_mobile;
              border-radius: $MyScale10_mobile;

              & svg {
                height: $MyScale60_mobile;
                width: $MyScale60_mobile;
              }
            }

            & span:last-child {
              width: $MyScale655_mobile;
              @include font30_400();
              line-height: $MyScale30_mobile;

              & a {
                color: #dd1a32;
              }
            }
          }
        }
      }

      .modalLoginSMSCodeMobile {
        margin-top: $MyScale50_mobile;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .loginErr {
          width: $MyScale800_mobile;
          height: $MyScale50_mobile;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin-bottom: $MyScale60_mobile;
          & > span {
            line-height: $MyScale40_mobile;
            @include font40_400();
            color: #dd1a32 !important;
          }
        }

        & .loginSubHeader {
          height: $MyScale60_mobile;
          margin-bottom: $MyScale30_mobile;

          & span {
            @include font50_500();
          }
        }

        & .loginSubHeader2 {
          height: $MyScale60_mobile;
          margin-bottom: $MyScale60_mobile;

          & span {
            @include font40_400();
          }
        }

        & .loginLine {
          width: $MyScale500_mobile;
          height: $MyScale6_mobile;
          margin-bottom: $MyScale77_mobile;
          border-radius: $MyScale3_mobile;

          & span {
            border-radius: $MyScale3_mobile;
            height: $MyScale6_mobile;
          }
        }

        & .disable {
          & input[disabled] {
            pointer-events: none;
          }
        }

        & .loginAutCode {
          height: $MyScale158_mobile;
          width: $MyScale760_mobile;
          border-bottom: $MyScale2_mobile solid rgba(0, 0, 0, 0.4);
          display: flex;
          align-items: flex-end;
          justify-content: center;
          position: relative;
          margin-bottom: $MyScale40_mobile;

          // & > div {
          //   display: flex;
          //   flex-direction: row;

            & input {
              margin-bottom: $MyScale20_mobile;
              // width: $MyScale75_mobile;
              width: $MyScale300_mobile;
              height: $MyScale75_mobile;
              padding: 0;
              padding-left: $MyScale20_mobile;
              text-align: center;
              letter-spacing: $MyScale30_mobile;
              //margin-right: $MyScale12_mobile;
              @include font75_700();
              border: none;
              background-clip: padding-box;
              background-color: #fff;

              text-align: left;

              &:focus {
                appearance: none;
                outline: 0;
              }
            }

            & > input::placeholder {
              letter-spacing: 0;
              transform: translate3d($MyScale20_mobile, $MyScale10_mobile, 0);
              font-size: $MyScale100_mobile;
              color: rgba(0, 0, 0, 0.2) !important;
            }
          // }

          & .loginSvg {
            margin-bottom: $MyScale30_mobile;
            position: absolute;
            height: $MyScale60_mobile;
            width: $MyScale60_mobile;
            border-radius: $MyScale60_mobile;
            right: 0;
            display: flex;
            justify-content: center;
            & .clearSvg {
              width: $MyScale60_mobile;
              height: $MyScale60_mobile;
            }
            & .vectorSvg {
              margin-left: auto;
              width: $MyScale57_mobile;
              height: $MyScale60_mobile;
            }
          }
        }

        & .loginTimer {
          height: $MyScale60_mobile;
          margin-bottom: $MyScale60_mobile;
    
          & span {
            @include font40_400();
            color: rgba(0, 0, 0, 0.4) !important;
          }
        }

        & .loginPrev {
          height: $MyScale60_mobile;
          margin-bottom: $MyScale918_mobile;

          & span {
            text-decoration: underline;
            @include font40_400();
          }
        }
      }

      .modalLoginPwdMobile {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .loginSubHeader {
          width: $MyScale680_mobile;
          text-align: center;
          height: $MyScale100_mobile;
          margin-top: $MyScale70_mobile;
          margin-bottom: $MyScale80_mobile;

          & span {
            line-height: $MyScale40_mobile;
            @include font40_400();
          }
        }

        & .inputBox {
          width: $MyScale1000_mobile;
          display: flex;
          position: relative;

          & .inputLogin {
            height: $MyScale160_mobile;
            display: flex;
            flex-direction: row;
            justify-content: center;

            & .MuiInputBase-root.MuiInput-root:after {
              border-bottom: $MyScale2_mobile solid rgba(0, 0, 0, 0.4);
            }

            & .MuiInputBase-root.MuiInput-root:before {
              border-bottom: $MyScale2_mobile solid rgba(0, 0, 0, 0.2);
            }

            & .MuiInputBase-root.MuiInput-root {
              width: $MyScale760_mobile;

              & input {
                align-self: center;
                padding: 0;
                height: $MyScale100_mobile;
                margin-left: $MyScale40_mobile;
                @include font75_700();
              }

              & > input::placeholder {
                transform: translate3d(0, -$MyScale10_mobile, 0);
                @include font40_400();
                color: rgba(0, 0, 0, 0.4) !important;
              }

              & svg {
                width: $MyScale60_mobile;
                height: $MyScale60_mobile;
              }
            }

            & .MuiInputAdornment-root {
              margin: 0;

              & .groupCheckPass {
                width: $MyScale60_mobile;
                display: flex;
                flex-direction: column;
                & span {
                  height: $MyScale40_mobile;
                  margin-bottom: $MyScale5_mobile;
                }
              }
            }
          }

          & .eye_icon {
            right: 0;
            position: absolute;
            width: $MyScale80_mobile;
            height: $MyScale80_mobile;
            align-self: center;
            z-index: 5;

            & svg {
              height: 100%;
              width: 100%;
            }
          }
        }

        & .loginLogin {
          width: $MyScale650_mobile;
          height: $MyScale120_mobile;
          border-radius: $MyScale60_mobile;
          margin-top: $MyScale80_mobile;
          display: flex;
          align-items: center;
          justify-content: center;
          & span {
            @include font50_500();
            color: #ffffff !important;
          }
        }
      }

      .modalLoginFinishMobile {
        width: $MyScale600_mobile;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .loginSVG {
          width: $MyScale200_mobile;
          height: $MyScale200_mobile;
          margin-top: $MyScale70_mobile;
          margin-bottom: $MyScale80_mobile;
          svg {
            width: 100%;
            height: 100%;
          }
        }

        & .loginSubHeader {
          width: $MyScale800_mobile;
          text-align: center;
          height: $MyScale160_mobile;
          margin-bottom: $MyScale80_mobile;
          display: flex;
          flex-direction: column;

          & span {
            line-height: $MyScale50_mobile;
            @include font40_400();
          }
        }

        & .loginLogin {
          text-decoration: none;
          width: $MyScale650_mobile;
          height: $MyScale120_mobile;
          border-radius: $MyScale60_mobile;
          margin-top: $MyScale80_mobile;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #dd1a32;
          & span {
            @include font50_500();
            color: #ffffff !important;
          }
        }
      }
    }
  }
}
