@use "../settings" as *;

.modalAuthPC {
  & .MuiDialog-paper {
    overflow: visible;
    margin: 0 !important;
    max-width: none !important;
    border-radius: $MyScale40;
    width: $MyScale680;
    height: $MyScale800;

    & .ContainerModalAuthPC {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .closeButton {
        position: absolute;
        top: 0;
        left: -$MyScale80;
        padding: 0;
        background-color: transparent;

        & svg {
          width: $MyScale60;
          height: $MyScale60;
          overflow: visible;
          border-radius: $MyScale60;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      & .authLogin {
        height: $MyScale60;
        margin-top: $MyScale60;
        margin-bottom: $MyScale50;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font50_500();
      }

      & .stack {
        flex-direction: row;
        align-items: center;
        width: $MyScale480;
        margin-bottom: $MyScale50;
      }

      .modalLoginStartPC {
        width: $MyScale640;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        & .loginErr {
          width: $MyScale560;
          text-align: center;
          height: $MyScale40;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: $MyScale15;
          & > span {
            line-height: $MyScale25;
            @include font22_400();
            color: #dd1a32 !important;
          }
        }

        & .inputLogin:not(.lable_position) {
          height: $MyScale80;
          display: flex;
          flex-direction: row;
          justify-content: center;

          & .MuiInputBase-root.MuiOutlinedInput-root {
            width: $MyScale510;
            border-radius: $MyScale20;

            & input {
              width: $MyScale400;
              height: $MyScale60;
              margin-left: $MyScale20;
              @include font30_500();
            }

            & > input::placeholder {
              color: rgba(0, 0, 0, 0.6) !important;
              @include font30_400();
            }

            & input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus {
              -webkit-text-fill-color: rgba(0, 0, 0, 0.8);
              -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
            }

            & fieldset {
              padding-left: $MyScale30;
              & legend {
                width: $MyScale125;
              }
            }
          }

          & .MuiFormLabel-root.MuiInputLabel-root {
            color: rgba(0, 0, 0, 0.4) !important;
            @include font30_400();
            padding-left: $MyScale120;
            top: -$MyScale5;
          }

          & .MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
            color: rgba(0, 0, 0, 0.6) !important;
            @include font30_400();
            padding-left: $MyScale120;
            top: -$MyScale5;
          }

          & .MuiOutlinedInput-notchedOutline {
            border: $MyScale2 solid rgba(0, 0, 0, 0.2);
          }

          & .MuiInputBase-root.MuiOutlinedInput-root.Mui-focused {
            & .MuiOutlinedInput-notchedOutline {
              border: $MyScale3 solid rgba(0, 0, 0, 0.4);
            }
          }
        }

        & .inputLogin.lable_position {
          height: $MyScale80;
          display: flex;
          flex-direction: row;
          justify-content: center;

          & .MuiInputBase-root.MuiOutlinedInput-root {
            width: $MyScale510;
            border-radius: $MyScale20;

            & input {
              width: $MyScale400;
              height: $MyScale60;
              margin-left: $MyScale20;
              @include font30_500();
            }

            & > input::placeholder {
              color: rgba(0, 0, 0, 0.6) !important;
              @include font30_400();
            }

            & fieldset {
              padding-left: $MyScale30;
              & legend {
                width: $MyScale125;
              }
            }
          }

          & .MuiFormLabel-root.MuiInputLabel-root {
            color: rgba(0, 0, 0, 0.4) !important;
            @include font30_400();
            padding-left: $MyScale80;
            top: $MyScale5;
          }

          & .MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
            color: rgba(0, 0, 0, 0.6) !important;
            @include font30_400();
            padding-left: $MyScale120;
            top: -$MyScale5;
          }

          & .MuiOutlinedInput-notchedOutline {
            border: $MyScale2 solid rgba(0, 0, 0, 0.2);
          }

          & .MuiInputBase-root.MuiOutlinedInput-root.Mui-focused {
            & .MuiOutlinedInput-notchedOutline {
              border: $MyScale3 solid rgba(0, 0, 0, 0.4);
            }
          }
        }

        & .margin_bottom_30 {
          margin-bottom: $MyScale30;
        }

        & .check_icon {
          width: $MyScale30;
          height: $MyScale30;
          margin-left: $MyScale18;
          cursor: default;
        }

        & .eye_icon {
          right: -$MyScale5;
          bottom: -$MyScale10;
          position: absolute;
          width: $MyScale60;
          height: $MyScale70;
          z-index: 5;
          cursor: pointer;
          & svg {
            width: $MyScale40;
            height: $MyScale40;
          }
        }

        & .loginBox {
          width: $MyScale480;
          height: $MyScale40;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: $MyScale10;
          margin-bottom: $MyScale40;

          & span {
            @include font22_400();
            color: rgba(0, 0, 0, 0.4) !important;
            cursor: pointer;
          }
        }

        & .loginLogin {
          width: $MyScale480;
          height: $MyScale80;
          border-radius: $MyScale40;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          & span {
            @include font30_400();
            color: #ffffff !important;
          }
        }

        & .loginLoginYa {
          width: $MyScale400;
          height: $MyScale60;
          border-radius: $MyScale30;
          margin-bottom: $MyScale30;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #000;
          cursor: pointer;
          & span {
            @include font22_400();
            color: #ffffff !important;
          }
          & svg {
            width: $MyScale36;
            height: $MyScale36;
            margin-right: $MyScale12;
          }
        }

        & .resetText {
          width: $MyScale340;
          height: $MyScale80;
          @include font22_400();
          text-align: center;
          margin-bottom: $MyScale40;
        }

        //

        & .loginLosePWD {
          display: flex;
          align-items: center;
          height: $MyScale40;
          margin-bottom: $MyScale20;
          margin-top: $MyScale10;
          cursor: pointer;
          & span {
            text-decoration: underline;
            @include font22_400();
            color: rgba(0, 0, 0, 0.4) !important;
          }
        }

        & .loginOR {
          height: $MyScale40;
          & > span {
            @include font22_400();
          }
        }

        & .loginSMS {
          height: $MyScale40;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          & span {
            text-decoration: underline;
            @include font22_400();
            cursor: pointer;
            color: rgba(0, 0, 0, 0.4) !important;
          }
        }
      }

      .modalLoginCreatePC {
        width: $MyScale640;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        & .loginInfo {
          height: $MyScale80;
          margin-bottom: $MyScale10;
          margin-top: -$MyScale40;
          display: flex;
          align-items: center;
          & h2 {
            @include font30_400();
          }
        }

        & .inputLogin:not(.lable_position) {
          height: $MyScale80;
          display: flex;
          flex-direction: row;
          justify-content: center;

          & .MuiInputBase-root.MuiOutlinedInput-root {
            width: $MyScale510;
            border-radius: $MyScale20;

            & input {
              width: $MyScale400;
              height: $MyScale60;
              margin-left: $MyScale20;
              @include font30_500();
            }

            & > input::placeholder {
              color: rgba(0, 0, 0, 0.6) !important;
              @include font30_400();
            }

            & input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus {
              -webkit-text-fill-color: rgba(0, 0, 0, 0.8);
              -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
            }

            & fieldset {
              padding-left: $MyScale30;
              & legend {
                width: $MyScale125;
              }
            }
          }

          & .MuiFormLabel-root.MuiInputLabel-root {
            color: rgba(0, 0, 0, 0.4) !important;
            @include font30_400();
            padding-left: $MyScale120;
            top: -$MyScale5;
          }

          & .MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
            color: rgba(0, 0, 0, 0.6) !important;
            @include font30_400();
            padding-left: $MyScale120;
            top: -$MyScale5;
          }

          & .MuiOutlinedInput-notchedOutline {
            border: $MyScale2 solid rgba(0, 0, 0, 0.2);
          }

          & .MuiInputBase-root.MuiOutlinedInput-root.Mui-focused {
            & .MuiOutlinedInput-notchedOutline {
              border: $MyScale3 solid rgba(0, 0, 0, 0.4);
            }
          }

          & .vectorInput {
            position: absolute;
            height: $MyScale50;
            width: $MyScale50;
            border-radius: $MyScale50;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: $MyScale12;
            //margin-bottom: $MyScale22;
            cursor: pointer;

            // & .clearSvg {
            //   width: $MyScale50;
            //   height: $MyScale50;
            //   cursor: pointer;
            // }
            & .vectorSvg {
              margin-left: auto;
              width: $MyScale46;
              height: $MyScale50;
              cursor: pointer;
            }

            & .vectorSvg_dis {
              margin-left: auto;
              width: $MyScale46;
              height: $MyScale50;
              cursor: pointer;
            }
          }
        }

        & .inputLogin.lable_position {
          height: $MyScale80;
          display: flex;
          flex-direction: row;
          justify-content: center;

          & .MuiInputBase-root.MuiOutlinedInput-root {
            width: $MyScale510;
            border-radius: $MyScale20;

            & input {
              width: $MyScale400;
              height: $MyScale60;
              margin-left: $MyScale20;
              @include font30_500();
            }

            & > input::placeholder {
              color: rgba(0, 0, 0, 0.6) !important;
              @include font30_400();
            }

            & fieldset {
              padding-left: $MyScale30;
              & legend {
                width: $MyScale125;
              }
            }
          }

          & .MuiFormLabel-root.MuiInputLabel-root {
            color: rgba(0, 0, 0, 0.4) !important;
            @include font30_400();
            padding-left: $MyScale80;
            top: $MyScale5;
          }

          & .MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
            color: rgba(0, 0, 0, 0.6) !important;
            @include font30_400();
            padding-left: $MyScale120;
            top: -$MyScale5;
          }

          & .MuiOutlinedInput-notchedOutline {
            border: $MyScale2 solid rgba(0, 0, 0, 0.2);
          }

          & .MuiInputBase-root.MuiOutlinedInput-root.Mui-focused {
            & .MuiOutlinedInput-notchedOutline {
              border: $MyScale3 solid rgba(0, 0, 0, 0.4);
            }
          }

          & .vectorInput {
            position: absolute;
            height: $MyScale50;
            width: $MyScale50;
            border-radius: $MyScale50;
            right: 0;
            display: flex;
            justify-content: center;
            //margin-bottom: $MyScale22;
            margin-right: $MyScale12;
            cursor: pointer;

            & .clearSvg {
              width: $MyScale50;
              height: $MyScale50;
              cursor: pointer;
            }
            & .vectorSvg {
              margin-left: auto;
              width: $MyScale46;
              height: $MyScale50;
              cursor: pointer;
            }
            & .vectorSvg_dis {
              margin-left: auto;
              width: $MyScale46;
              height: $MyScale50;
              cursor: pointer;
            }
          }
        }

        & .margin_bottom_30 {
          margin-bottom: $MyScale30;
        }

        & .check_icon {
          width: $MyScale30;
          height: $MyScale30;
          margin-right: -$MyScale10;
          //margin-left: $MyScale18;
          cursor: default;
        }

        & .eye_icon {
          right: -$MyScale5;
          bottom: -$MyScale10;
          position: absolute;
          width: $MyScale60;
          height: $MyScale70;
          z-index: 5;
          cursor: pointer;
          & svg {
            width: $MyScale40;
            height: $MyScale40;
          }
        }

        & .loginData {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: $MyScale20;

          & .datareklama{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: $MyScale40;
            width: $MyScale455;
            margin-top: $MyScale20;

            & span:first-child {
              height: $MyScale40;
              width: $MyScale40;
              border-radius: $MyScale10;
              cursor: pointer;

              & svg {
                height: $MyScale40;
                width: $MyScale40;
              }
            }

            & span:last-child {
              height: $MyScale40;
              width: $MyScale395;
              @include font18_400();
              line-height: normal;

              & a {
                color: #dd1a32;
              }
            }
          }

          & .data {
            display: flex;
            align-items: center;
            justify-content: space-between;
            //height: $MyScale40;
            width: $MyScale455;

            & span:first-child {
              height: $MyScale40;
              width: $MyScale40;
              border-radius: $MyScale10;
              cursor: pointer;

              & svg {
                height: $MyScale40;
                width: $MyScale40;
              }
            }

            & span:last-child {
              //height: $MyScale120;
              width: $MyScale395;
              @include font18_400();
              line-height: normal;

              & a {
                color: #dd1a32;
              }
            }
          }
        }
      }

      .modalLoginSMSCodePC {
        width: $MyScale580;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .loginErr {
          width: $MyScale560;
          height: $MyScale40;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: $MyScale30;
          text-align: center;
          & > span {
            line-height: $MyScale25;
            @include font22_400();
            color: #dd1a32 !important;
          }
        }

        & .loginSubHeader {
          height: $MyScale60;
          margin-bottom: $MyScale12;

          & span {
            @include font40_400();
          }
        }

        & .loginLine {
          width: $MyScale360;
          height: $MyScale6;
          margin-bottom: $MyScale27;
          border-radius: $MyScale3;

          & span {
            border-radius: $MyScale3;
            height: $MyScale6;
          }
        }

        & .loginSubHeader2 {
          height: $MyScale80;
          margin-bottom: $MyScale28;
          display: flex;
          align-items: center;

          & span {
            @include font30_400();
          }
        }

        & .loginAutCode {
          height: $MyScale77;
          width: $MyScale480;
          border-bottom: $MyScale2 solid rgba(0, 0, 0, 0.4);
          display: flex;
          align-items: flex-end;
          justify-content: center;
          position: relative;
          margin-bottom: $MyScale40;

          & > div {
            display: flex;
            flex-direction: row;
            margin-bottom: $MyScale22;

            & input {
              width: $MyScale50;
              height: $MyScale50;
              padding: 0;
              @include font50_500();
              border: none;
              background-clip: padding-box;
              background-color: #fff;

              &:focus {
                appearance: none;
                outline: 0;
              }
            }

            & > input::placeholder {
              text-align: center;
              font-size: $MyScale80;
              transform: translate3d(0, $MyScale13, 0);
              color: rgba(0, 0, 0, 0.2) !important;
            }
          }

          & .loginSvg {
            position: absolute;
            height: $MyScale50;
            width: $MyScale50;
            border-radius: $MyScale50;
            right: 0;
            display: flex;
            justify-content: center;
            margin-bottom: $MyScale22;
            cursor: pointer;

            & .clearSvg {
              width: $MyScale50;
              height: $MyScale50;
            }
            & .vectorSvg {
              margin-left: auto;
              width: $MyScale46;
              height: $MyScale50;
            }
            & .vectorSvg_dis{
              margin-left: auto;
              width: $MyScale46;
              height: $MyScale50;
            }
          }
        }

        & .loginTimer {
          height: $MyScale80;
          margin-bottom: $MyScale28;
          display: flex;
          align-items: center;

          & span {
            @include font30_400();
            color: rgba(0, 0, 0, 0.4) !important;
          }
        }

        & .loginPrev {
          height: $MyScale40;
          cursor: pointer;

          & span {
            text-decoration: underline;
            @include font30_400();
          }
        }
      }

      .modalLoginPwdPC {
        width: $MyScale620;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .loginSubHeader {
          width: $MyScale500;
          text-align: center;
          height: $MyScale80;
          margin-bottom: $MyScale50;

          & span {
            line-height: $MyScale40;
            @include font30_400();
          }
        }

        & .inputBox {
          width: $MyScale620;
          display: flex;
          position: relative;

          & .inputLogin {
            height: $MyScale80;
            display: flex;
            flex-direction: row;
            justify-content: center;

            & .MuiInputBase-root.MuiInput-root:after {
              border-bottom: $MyScale2 solid rgba(0, 0, 0, 0.4);
            }

            & .MuiInputBase-root.MuiInput-root:before {
              border-bottom: $MyScale2 solid rgba(0, 0, 0, 0.2);
            }

            & .MuiInputBase-root.MuiInput-root {
              width: $MyScale480;

              & input {
                align-self: center;
                padding: 0;
                height: $MyScale40;
                margin-left: $MyScale20;
                @include font40_400();
              }

              & > input::placeholder {
                transform: translate3d(0, -$MyScale4, 0);
                @include font30_400();
                color: rgba(0, 0, 0, 0.4) !important;
              }

              & svg {
                width: $MyScale45;
                height: $MyScale45;
                cursor: pointer;
              }
            }

            & .MuiInputAdornment-root {
              margin: 0;

              & .groupCheckPass {
                width: $MyScale20;
                display: flex;
                flex-direction: column;
                & span {
                  height: $MyScale10;
                  margin-bottom: $MyScale3;
                }
              }
            }
          }
          & .eye_icon {
            right: 0;
            position: absolute;
            width: $MyScale60;
            height: $MyScale60;
            z-index: 5;
            align-self: center;

            & svg {
              height: 100%;
              width: 100%;
              cursor: pointer;
            }
          }
        }

        & .loginLogin {
          width: $MyScale400;
          height: $MyScale80;
          border-radius: $MyScale40;
          margin-top: $MyScale70;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          & span {
            @include font30_400();
            color: #ffffff !important;
          }
        }
      }

      .modalLoginFinishPC {
        width: $MyScale580;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .loginSVG {
          width: $MyScale120;
          height: $MyScale120;
          margin-bottom: $MyScale40;
          svg {
            width: 100%;
            height: 100%;
          }
        }

        & .loginSubHeader {
          width: $MyScale580;
          text-align: center;
          height: $MyScale160;
          margin-bottom: $MyScale40;
          display: flex;
          flex-direction: column;

          & span {
            line-height: $MyScale40;
            @include font30_400();
          }
        }

        & .loginLogin {
          text-decoration: none;
          width: $MyScale400;
          height: $MyScale80;
          border-radius: $MyScale40;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #dd1a32;
          cursor: pointer;
          & span {
            @include font30_400();
            color: #ffffff !important;
          }
        }
      }
    }
  }
}
