@import '../settings';

.modalAlertPC {
  & .MuiDialog-container {
    display: flex;
    align-items: flex-start;

    & .MuiDialog-paper {
      height: $MyScale100;
      overflow: visible;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: none !important;
      border-radius: unset;

      & .MuiDialogContent-root {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        & button {
          position: absolute;
          left: $MyScale60;
          padding: 0;
          width: $MyScale40;
          height: $MyScale40;

          & svg {
            width: 100%;
            height: 100%;
          }
        }
        
        & .containerAlert {
          flex: 1;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          height: 100%;

          & span {
            height: 65%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            @include font30_400();
            color: #fff !important;
          }

          & .MuiLinearProgress-root {
            margin-top: $MyScale15;
            background-color: unset;
            height: $MyScale4;
            width: 50%;
  
            & span {
              background-color: #fff !important;
              opacity: 0.4;
            }
          }
        }

      }
    }
  }
}

.modalAlertMobile {
  & .MuiDialog-container {
    display: flex;
    align-items: flex-start;

    & .MuiDialog-paper {
      height: $MyScale120_mobile;
      overflow: visible;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: none !important;
      border-radius: unset;

      & .MuiDialogContent-root {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        & button {
          position: absolute;
          left: $MyScale40_mobile;
          padding: 0;

          & svg {
            width: $MyScale50_mobile;
            height: $MyScale50_mobile;
          }
        }

        & .containerAlert {
          flex: 1;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          height: 100%;

          & span {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            @include font35_400();
            color: #fff !important;
          }

          & .MuiLinearProgress-root {
            margin-top: $MyScale15_mobile;
            background-color: unset;
            height: $MyScale4_mobile;
            width: 70%;
  
            & span {
              background-color: #fff !important;
              opacity: 0.4;
            }
          }
        }
      }
    }
  }
}
