@use '../../../shared/ui/foundation/formulas' as *;

.contacts-map {
  position: relative;
  width: 100%;
  min-height: ui-fluid-compact(870);
  overflow: hidden;

  @include ui-regular {
    min-height: ui-fluid-regular(520);
  }

  @include ui-expanded {
    min-height: ui-fluid-expanded(945);
    height: 100%;
  }

  &--empty {
    min-height: ui-fluid-compact(320);
    background: #f3f3f3;
  }

  &__canvas {
    width: 100%;
    height: 100%;
    min-height: inherit;
  }

  .ymaps-2-1-79-searchbox-input__input {
    font-family: inherit;
  }

  @media (max-width: 990px) {
    .ymaps-2-1-79-searchbox,
    .ymaps-2-1-79-zoom {
      display: none !important;
    }
  }
}
