@use '../../foundation/formulas' as *;
@use '../../foundation/tokens' as *;

.ui-arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: $ui-surface-medium;
  box-shadow: 0 0 10px $ui-border;
  border: 0;
  border-radius: 50%;
  width: max(44px, ui-fluid-compact(75));
  height: max(44px, ui-fluid-compact(75));
  cursor: pointer;
  transition: all $ui-transition;
  padding: 0;
  z-index: calc($ui-z-header - 1);

  &:hover {
    background-color: $ui-border-table;
  }

  svg {
    width: max(24px, ui-fluid-compact(60));
    height: max(24px, ui-fluid-compact(60));
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @include ui-regular {
    width: ui-fluid-regular(31);
    height: ui-fluid-regular(31);

    svg {
      width: ui-fluid-regular(21);
      height: ui-fluid-regular(21);
    }
  }

  @include ui-expanded {
    width: ui-fluid-expanded(49);
    height: ui-fluid-expanded(49);
    box-shadow: 0 ui-fluid-expanded(4) ui-fluid-expanded(12) rgba(0, 0, 0, 0.15);

    svg {
      width: ui-fluid-expanded(32);
      height: ui-fluid-expanded(32);
    }
  }
}
