@use "../settings" as *;

.akciiPC {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  margin: 0 $MyScale125;

  &.onePage{
    margin-top: $MyScale200;
  }

  & .login {
    height: $MyScale256;
    width: $MyScale1206;
    margin-top: $MyScale320;
    margin-bottom: $MyScale224;
    @include font120_500();
    margin-left: $MyScale34;
  }

  & img {
    border-radius: $MyScale32 $MyScale32 0 0;
    object-fit: contain;
    image-rendering: auto;
    width: 100%;
    height: auto;
  }

  & .containerAccia {
    scroll-margin-top: 100px;

    justify-content: center;
    margin-bottom: $MyScale96;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 0 0 $MyScale32 $MyScale32;

    & .DescItem {
      display: flex;
      margin-top: $MyScale60;
      margin-bottom: $MyScale60;
      justify-content: space-between;
      width: $MyScale2260;

      & .FirstItem {
        width: $MyScale980;
        display: flex;
        flex-direction: column;

        & .title {
          @include font50_500();
          margin-left: $MyScale30;
          margin-bottom: $MyScale30;
        }

        & .List {
          display: flex;
          flex-direction: column;

          & > div {
            display: flex;
            margin-bottom: $MyScale20;
            height: $MyScale280;

            .itemNumber {
              width: $MyScale60;
              margin-top: $MyScale30;
              @include font30_400();
              text-align: end;
            }

            .itemImg {
              width: $MyScale280;

              & img {
                border-radius: 0;
                mix-blend-mode: multiply;
                object-fit: contain;
                image-rendering: auto;
                width: 100%;
                height: auto;
              }
            }

            .itemDesc {
              width: $MyScale600;
              display: flex;
              justify-content: flex-start;
              flex-direction: column;

              & span {
                margin-left: $MyScale40;
                text-align: left;
                display: flex;
                align-items: center;
              }

              & .ItemName {
                min-height: $MyScale100;
                @include font40_400();
              }

              & .ItemDesk {
                min-height: $MyScale110;
                @include font25_400();
                line-height: $MyScale32;
                margin-left: $MyScale40;
                text-align: left;
              }
            }
          }
        }

        .containerBTNitem {
          width: 100%;

          & > button {
            margin-left: $MyScale30;
            width: $MyScale240;
            border-radius: 1.62455vw;
            border: $MyScale3 solid rgba(0, 0, 0, 0.2);
            color: rgba(0, 0, 0, 0.6) !important;
            height: $MyScale70;

            @include font30_400();
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;

            cursor: pointer;

            &:hover {
              background-color: #f2f2f2;
              border: $MyScale2 solid #cccccc;
            }
            &:target {
              background-color: #f2f2f2;
              border: $MyScale2 solid #cccccc;
            }
            &:active {
              background-color: #f2f2f2;
              border: $MyScale2 solid #cccccc;
            }
          }

          & > div {
            margin-left: $MyScale30;
            width: $MyScale240;
            border-radius: $MyScale45;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: $MyScale70;
            margin-bottom: 0 !important;

            & > .minus {
              padding: 0;
              margin-left: 0.2888088vw;
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              background-color: #e6e6e6;

              @include font50_300();
              width: $MyScale60;
              height: $MyScale60;
              border-radius: $MyScale40;
              cursor: pointer;
            }
            & > .plus {
              padding: 0;
              margin-right: 0.2888088vw;
              display: flex;
              justify-content: center;
              align-content: center;
              align-items: center;
              border: none;
              background-color: #e6e6e6;

              @include font50_300();
              width: $MyScale60;
              height: $MyScale60;
              border-radius: $MyScale40;
              cursor: pointer;
            }
            & > span {
              display: flex;
              align-items: center !important;
              text-align: center !important;
              margin-left: 0 !important;
              justify-content: center;
              @include font40_400();
            }
          }

          & > span {
            margin-left: $MyScale30;
            //width: $MyScale240;
            //border-radius: 1.62455vw;
            //border: $MyScale3 solid rgba(0, 0, 0, 0.2);
            color: rgba(0, 0, 0, 0.6) !important;
            height: $MyScale70;

            @include font30_400();
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
          }
        }

        .containerBTN {
          width: 100%;
          margin-top: $MyScale20;

          & > button {
            margin-left: $MyScale30;
            width: $MyScale400;
            min-width: fit-content;
            border-radius: 1.62455vw;
            border: $MyScale3 solid rgba(0, 0, 0, 0.2);
            color: rgba(0, 0, 0, 0.6) !important;
            height: $MyScale80;

            @include font30_400();
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;

            cursor: pointer;

            &:hover {
              background-color: #f2f2f2;
              border: $MyScale2 solid #cccccc;
            }
            &:target {
              background-color: #f2f2f2;
              border: $MyScale2 solid #cccccc;
            }
            &:active {
              background-color: #f2f2f2;
              border: $MyScale2 solid #cccccc;
            }
          }
        }
      }

      & .SecondItem {
        width: $MyScale1080;
        display: flex;
        flex-direction: column;

        & .FullText *{
          @include font40_400();
        }

        & span {
          @include font50_500();
          margin-bottom: $MyScale33;
        }

        & div {
          & p {
            @include font40_400();
          }
        }
      }
    }
  }
}

@include tablet-only {
  .akciiPC {
    margin: 0 tablet-vw(125);

    &.onePage{
      margin-top: tablet-vw(200);
    }

    & .login {
      height: tablet-vw(256);
      width: tablet-vw(1206);
      margin-top: tablet-vw(320);
      margin-bottom: tablet-vw(224);
      margin-left: tablet-vw(34);
    }

    & img {
      border-radius: tablet-vw(32) tablet-vw(32) 0 0;
    }

    & .containerAccia {
      scroll-margin-top: tablet-vw(100);
      margin-bottom: tablet-vw(96);
      border-radius: 0 0 tablet-vw(32) tablet-vw(32);

      & .DescItem {
        margin-top: tablet-vw(60);
        margin-bottom: tablet-vw(60);
        //width: tablet-vw(2260);

        & .FirstItem {
          width: tablet-vw(980);
          margin-right: tablet-vw(60);

          & .title {
            margin-left: tablet-vw(30);
            margin-bottom: tablet-vw(30);
          }

          & .List {
            & > div {
              margin-bottom: tablet-vw(20);
              min-height: tablet-vw(280);
              align-items: flex-start;

              .itemNumber {
                width: tablet-vw(60);
                margin-top: tablet-vw(30);
              }

              .itemImg {
                width: tablet-vw(280);
              }

              .itemDesc {
                width: tablet-vw(600);

                & span {
                  margin-left: tablet-vw(40);
                }

                & span.ItemName {
                  min-height: tablet-vw(70);
                  display: flex;
                  align-items: center;
                }

                & .ItemDesk {
                  margin-left: tablet-vw(40);
                  min-height: 0;
                  line-height: tablet-vw(32);
                  display: block;
                  max-height: calc(#{tablet-vw(32)} * 3);
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: normal;
                  margin-bottom: tablet-vw(20);
                }
              }
            }
          }

          .containerBTNitem {
            & > button {
              margin-left: tablet-vw(30);
              width: tablet-vw(240);
              border-radius: tablet-vw(45);
              border: tablet-vw(3) solid rgba(0, 0, 0, 0.2);
              height: tablet-vw(70);
              line-height: tablet-vw(20) !important;

              &:hover,
              &:target,
              &:active {
                border: tablet-vw(2) solid #cccccc;
              }
            }

            & > div {
              margin-left: tablet-vw(30);
              width: tablet-vw(240);
              border-radius: tablet-vw(45);
              height: tablet-vw(70);

              & > .minus {
                margin-left: tablet-vw(8);
                width: tablet-vw(60);
                height: tablet-vw(60);
                border-radius: tablet-vw(40);
                padding-top: tablet-vw(5) !important;
              }

              & > .plus {
                margin-right: tablet-vw(8);
                width: tablet-vw(60);
                height: tablet-vw(60);
                border-radius: tablet-vw(40);
              }
            }

            & > span {
              margin-left: tablet-vw(30);
              height: tablet-vw(70);
            }
          }

          .containerBTN {
            margin-top: tablet-vw(20);

            & > button {
              margin-left: tablet-vw(30);
              width: tablet-vw(400);
              border-radius: tablet-vw(45);
              border: tablet-vw(3) solid rgba(0, 0, 0, 0.2);
              height: tablet-vw(80);

              &:hover,
              &:target,
              &:active {
                border: tablet-vw(2) solid #cccccc;
              }
            }
          }
        }

        & .SecondItem {
          width: tablet-vw(1080);

          & span {
            margin-bottom: tablet-vw(33);
          }
        }
      }
    }
  }
}
