@import '../global';

.docsPagePC {
  z-index: 3;
  mix-blend-mode: multiply;
  min-height: 50vh;

  & h2 {
    padding-top: calcSize(10);
  }

  @media (min-width: 961px) {
    margin-top: calcSize(248) !important;
    margin-bottom: calcSize(140) !important;
    padding-top: 0px !important;
    margin-left: calcSize(125) !important;
    width: calcSize(1560) !important;
    padding-left: 0px !important;

    & h1,
    h2 {
      @include MyFonts(75, 700);
      text-align: start;
      width: 100%;
      font-weight: 600;
    }
    & p,
    li,
    span {
      @include MyFonts(30, 400);
      line-height: 1.5;
    }
    & strong {
      @include MyFonts(40, 500);
    }
  }
}
