@use '../../../../shared/global' as *;

.banner-list {
  width: 100%;

  & .swiper {
    width: 100%;
    height: calcSize(682);
  }

  & img,
  & video {
    width: 100%;
    height: 100%;
    border-radius: calcSize(80);
    object-fit: cover;
    image-rendering: auto;
    cursor: pointer;
  }

  .swiper-pagination {
    bottom: calcSize(32) !important;
    display: flex;
    justify-content: center;

    & .swiper-pagination-bullet {
      width: calcSize(16);
      height: calcSize(16);
      margin-right: calcSize(32) !important;
      margin-left: 0 !important;
      background-color: rgb(255, 255, 255);
      opacity: 0.4;
    }

    & .swiper-pagination-bullet-active {
      background-color: rgb(255, 255, 255);
      opacity: 1;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: calcSize(60) !important;
    height: calcSize(682) !important;
    top: 0 !important;
    z-index: 1 !important;
    position: absolute !important;
    margin-top: 0 !important;
  }

  & svg {
    width: calcSize(50.67);
    height: calcSize(50.67);
    border-radius: calcSize(50);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .swiper-button-prev {
    left: calcSize(40) !important;
  }

  .swiper-button-next {
    right: calcSize(40) !important;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: '' !important;
  }

  .swiper-button-prev:focus,
  .swiper-button-next:focus,
  .swiper-button-prev:active,
  .swiper-button-next:active {
    outline: none !important;
  }
}

@include tablet {
  .banner-list {
    & .swiper {
      height: auto;
      aspect-ratio: 3.7 / 1;
    }

    & img,
    & video {
      border-radius: 24px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none !important;
    }

    .swiper-pagination {
      bottom: 14px !important;
    }
  }
}

@include mobile {
  .banner-list {
    & .swiper {
      height: auto;
      aspect-ratio: 1.5 / 1;
    }

    & img,
    & video {
      border-radius: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none !important;
    }

    .swiper-pagination {
      bottom: 10px !important;

      & .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
        margin-right: 8px !important;
      }
    }
  }
}
