@import '../global';

.badge {
  position: relative;
  display: flex;

  & > .shadow{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: calcSize(30);
    z-index: 1;
    position: absolute;
    bottom: calcSize(2);
    right: calcSize(2);
  }
  & > .box {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: calcSize(30);
  }
  & span {
    color: #fff!important;
    text-transform: uppercase;
  }

  &.big {
    width: calcSize(190);
    height: calcSize(62);
    & > .shadow {
      width: calcSize(190);
      height: calcSize(62);
    }
    & .box {
      width: calcSize(186);
      height: calcSize(58);
    }
    & span{
      @include MyFonts(26, 400);
      line-height: calcSize(26);
      padding-top: calcSize(2);
    }
  }

  &.small {
    width: calcSize(80);
    height: calcSize(30);
    & > .shadow {
      width: calcSize(80);
      height: calcSize(30);
    }
    & .box {
      width: calcSize(77);
      height: calcSize(26);
    }
    & span{
      @include MyFonts(12, 400);
      line-height: calcSize(12);
    }
  }
  
}
