@import '../settings';

body {
  overflow: unset !important;
}

.Contact_{
  position: relative;
  margin-top: 9vw !important;
  min-height: 900px;
  height: 85%;
  & .Contact {
    background: #ffffff;
    box-shadow: 10px 20px 40px 15px rgba(0, 0, 0, 0.15);
    border-radius: 2.8vw;
    z-index: 1;
    position: absolute;
    top: 1.8vw;
    right: 4.5vw;
    width: 21.5vw;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    padding: 2vw 3.7vw;
    padding-bottom: 3.2vw;
  
    & button.chooseCity {
      width: 100%;
      height: 3.2vw;
      border-radius: 120px;
      white-space: nowrap;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.25);
      text-transform: lowercase;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      margin-top: 1.3vw;
      & span {
        @include font50_500();
        padding-left: 1.5vw;
        &:first-letter {
          text-transform: uppercase;
        }
      }
      & span:last-child{
        padding-right: 1vw;
        & svg{
          @include font50_500();
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  
    & .listAddrPoint {
      width: 100%;
      margin-top: 2.5vw;
  
      & h2 {
        @include font30_400();
      }
  
      & svg.MapPointIcon path:first-child {
        fill: $colorMain;
        fill-opacity: 1;
      }
  
      & ul {
        margin-top: 0.7vw;
        & div {
          padding-left: 0;
          margin: 0.3vw 0;
          & div {
            margin-left: 1vw;
            & p {
              @include font40_400();
              &:hover {
                color: $colorMain;
              }
            }
          }
          &:hover {
            background-color: #ffffff;
          }
        }
        
      }
      & hr{
        height: 1px;
        width: 100%;
        background-color: #e5e5e5;
        margin-top: 1.5vw;
      }
    }
  
    & .listInfo {
      width: 100%;
      align-items: flex-start;
      margin-top: 2vw;
      & span {
        @include font30_400();
        margin-bottom: 10px;
        
      }
      & h2 {
        @include font60_600();
        margin-bottom: 1.1vw;
        margin-top: 0.8vw;
      }
      & hr {
        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
        height: 1px;
        background-color: #e5e5e5;
      }
    }
  
    & .switch {
      width: 100%;
      margin-top: 0.4vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
  
      & > span{
        @include font30_400();
      }
    }
  }
}


#ForMap {
  min-height: 900px;
  @media (max-width: 960px) {
    margin-bottom: 40px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

.my-hint {
  position: absolute;
  left: -140px;
  top: 43px;
  width: 17vw;
  background: #ffffff;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
  @include font22_400();
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 16px;
  line-height: 12px;
  & img {
    width: 100%;
  }
}

.my-img {
  position: absolute;
  left: -28px;
  top: -24px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #da1a32;
  & img {
    width: 50px;
  }
}

#chooseCityContact {
  & div.MuiPaper-root.MuiMenu-paper {
    border-radius: 10px;
    width: 21.6vw;
    background: #ececec;
    box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.2);
    & ul {
      width: 100%;
      padding: 0;
      & li {
        width: 100%;
        &:hover {
          background-color: #ffffff;
        }
        & a {
          width: 100%;
          min-width: max-content;
          text-decoration: none;
          
          width: 100%;
          display: block;
          text-align: center;
          @include font30_400();
          &:hover {
            color: $colorMain;
          }
        }
      }
    }
    // @media (max-width: 800px) {
    //   width: calc(100% - 100px);
    //   margin-top: 60px;
    // }
  }
}
