@import '../settings';

.Contact_{
  position: relative;
  margin-top: $MyScale128!important;
  min-height: $MyScale900;
  height: 85%;
  z-index: 3;
  mix-blend-mode: multiply;

  & .Contact {
    background: #ffffff;
    box-shadow: $MyScale10 $MyScale20 $MyScale40 $MyScale15 rgba(0, 0, 0, 0.15);
    border-radius: $MyScale80;
    z-index: 1;
    position: absolute;
    top: $MyScale60;
    right: $MyScale125;
    width: calc($MyScale800 - $MyScale100*2 );
    display: flex;
    flex-direction: column !important;
    align-items: center;
    padding: $MyScale91;
    padding-left: $MyScale100;
    padding-right: $MyScale100;
    padding-bottom: $MyScale72;
  
    & button.chooseCity {
      width: 100%;
      height: $MyScale90;
      border-radius: $MyScale45;
      white-space: nowrap;
      box-sizing: border-box;
      border: $MyScale2 solid rgba(0, 0, 0, 0.25);
      text-transform: lowercase;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 0;
      & span {
        @include font50_500();
        padding-left: $MyScale50;
        &:first-letter {
          text-transform: uppercase;
        }
      }
      & span:last-child{
        padding-right: $MyScale44;
        & svg{
          @include font50_500();
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  
    & .listAddrPoint {
      width: 100%;
      margin-top: $MyScale60;
  
      & h2 {
        @include font30_400();
        height: $MyScale50;
        line-height: $MyScale50;
      }
  
      & svg.MapPointIcon path:first-child {
        fill: $colorMain;
        fill-opacity: 1;
      }
  
      & ul {
        
        & > div {
          margin-top: $MyScale40;
          padding: 0;
          & svg{
            width: $MyScale50;
            height: $MyScale66;
            & > g > path:first-child{
              fill-opacity: 1;
              fill: rgba(221, 30, 51, 1);
            }
          }
          & > div {
            margin-left: $MyScale40;
            height: $MyScale60;
            
            & p {
              @include font40_400();
              &:hover {
                color: $colorMain;
              }
            }
          }
          &:hover {
            background-color: #ffffff;
          }
        }
        
      }
      & hr{
        height: $MyScale2;
        width: 100%;
        background-color: #e5e5e5;
        margin-top: $MyScale80;
      }
    }
  
    & .listInfo {
      width: 100%;
      align-items: flex-start;
      margin-top: $MyScale50;
      & *:nth-child(3) {
        margin-top: $MyScale20;
      }
      & span {
        @include font30_400();
        height: $MyScale50;
        line-height: $MyScale50;
        display: block;
      }
      & h2 {
        @include font60_500();
        height: $MyScale100;
        line-height: $MyScale100;
      }
      & hr {
        margin-top: $MyScale40;
        margin-bottom: $MyScale28;
        height: $MyScale2;
        background-color: #e5e5e5;
      }
    }
  
    & .switch {
      width: 100%;
      height: $MyScale100;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
  
      & > span{
        @include font30_400();
      }
    }
  }
}

// для фото при выборе точки на карте, на случай если эти фото добавят
// .my-hint {
//   position: absolute;
//   left: -$MyScale220;
//   top: 60px;
//   width: $MyScale500;
//   height: $MyScale380;
//   background: #ffffff;
//   box-shadow: $MyScale5 $MyScale10 $MyScale30 rgba(0, 0, 0, 0.25);
//   border-radius: $MyScale30;
  
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   flex-direction: column;
//   & img {
//     height: $MyScale220;
//     width: $MyScale440;
//     margin-left: $MyScale30;
//     margin-right: $MyScale30;
//     margin-top: $MyScale30;
//     margin-bottom: $MyScale20;
//   }
//   & span{
//     @include font30_400();
//     margin-left: $MyScale50;
//     margin-right: $MyScale50;
//     margin-bottom: $MyScale30;
//     height: $MyScale80;
//     line-height: $MyScale40;
//   }
//   /*&::after {
//     content: "";
//     position: absolute;
//     //left: 100%;
//     top: 0px;
//     border: $MyScale70 solid transparent;
//     border-bottom: $MyScale140 solid rgba(87, 220, 53, 0.3);
//   }*/
// }

.my-img {
  position: absolute;
  left: -12px;
  top: -20px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #da1a32;
  outline: #da1a32 7px solid;
  outline-offset: 0;
  transition-duration: 1s;
  & img {
    width: 100%;
    height: 100%;
    transition-duration: 1s;
  }
}

#chooseCityContact {
  & div.MuiPaper-root.MuiMenu-paper {
    border-radius: $MyScale20!important;
    margin-top: $MyScale20!important;
    width: $MyScale680;
    right: $MyScale190;
    left: auto!important;
    background: #ececec;
    box-shadow: $MyScale10 $MyScale10 $MyScale30 $MyScale5 rgba(0, 0, 0, 0.2);
    
    & ul {
      padding: 0;

      & li {
        padding: 0;
        height: $MyScale80;

        &:hover {
          background-color: #ffffff;
        }

        & a {
          width: 100%;
          height: 100%;
          text-decoration: none;
          
          display: flex;
          align-items: center;
          justify-content: center;
          @include font30_400();
          &:hover {
            color: $colorMain;
          }
          
        }
      }
    }
  }
}

#chooseCityContact_ {
  & div.MuiPaper-root.MuiMenu-paper {
    border-radius: $MyScale20!important;
    margin-top: $MyScale20!important;
    width: $MyScale680!important;
    box-shadow: $MyScale10 $MyScale10 $MyScale30 $MyScale5 rgba(0, 0, 0, 0.2);
    right: $MyScale190;
    left: auto!important;
    & ul {
      //width: 100%;
      padding: 0;
      & li {
        height: $MyScale100;
        width: $MyScale600;
        @include font30_400();
        text-align: center;
        //border-bottom: $MyScale3 solid rgba(0, 0, 0, 0.20);
        //margin-left: $MyScale40;
        //margin-right: $MyScale40;
        padding: 0;
        &:hover {
          //background-color: #ececec;
        }
        & a {
          width: 100%;
          min-width: max-content;
          text-decoration: none;
          
          width: 100%;
          display: block;
          text-align: center;
          @include font30_400();
          &:hover {
            color: $colorMain;
          }
        }
      }
    }
    // @media (max-width: 800px) {
    //   width: calc(100% - 100px);
    //   margin-top: 60px;
    // }
  }
}
