@import '../global';

.blockShadow {
  width: 100%;
  height: calcSize(80);
  position: fixed;
  top: calcSize(128);
  background: linear-gradient(
    180deg,
    rgba(115, 115, 115, 0.1) 0%,
    rgba(83, 92, 84, 0) 100%
  );
  mix-blend-mode: multiply;
  transition: all 0.1s ease 0s;
  z-index: 2;
}

.NavBarPC {
  height: calcSize(128);
  background-color: #fff !important;
  box-shadow: none !important;

  & a {
    text-decoration: none;
  }

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    padding: 0;
    margin-left: calcSize(125);
    margin-right: calcSize(125);

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    & .logoPC {
      width: calcSize(373.55);
      height: calcSize(112);
      margin-right: calcSize(20);
      display: flex;
      margin-left: calcSize(32);
      cursor: pointer;

      & img {
        width: auto;
        height: auto;
      }
    }

    & .headerCat {
      width: calcSize(192);
      height: calcSize(64);
      line-height: calcSize(40);
      margin-right: calcSize(16);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        & p {
          color: #dd1a32;
        }
        & svg path {
          stroke: #dd1a32;
          stroke-opacity: 1;
        }
      }

      &:active {
        & p {
          color: #dd1a32;
        }
        & svg path {
          stroke: #dd1a32;
          stroke-opacity: 1;
        }
      }

      & p {
        margin: 0;
        width: calcSize(120);
      }

      & svg {
        width: calcSize(20);
        height: calcSize(20);
        margin-bottom: calcSize(8);
        & path {
          stroke: $ColorText;
          stroke-opacity: 1;
        }
      }
    }

    & .akcia {
      margin-right: calcSize(16);
      & p {
        margin: 0;
      }
    }

    & .city {
      margin-right: calcSize(48);
      & p {
        margin: 0;
      }
    }
  }
}
