@import "../settings";

.PAGEabout{ 
    margin-top: 64px!important;
    z-index: 3;
    mix-blend-mode: multiply;

    @media (min-width: 800px) {
        margin-top: $MyScale380!important;
        margin-bottom: 140px!important;
        padding-top: 0px!important;

        margin-left: $MyScale125!important;
        width: $MyScale1560!important;
        padding-left: 0px!important;
    }

    & h1, h2{
        @include font75_700();
        text-align: start;
        width: 100%;
    }
    & h2{
        padding-top: $MyScale10;
    }

    & img{
        border-radius: $MyScale20;
    }
    & a{
        text-decoration: none;
        color: $colorMain;
    }
    
    @media (max-width: 960px) {
        margin-top: 64px!important;
        margin-bottom: 64px; 
        margin-left: 0px;
        padding-left: 24px!important;
        width: calc(100% - 24px);
    }
    & .MyAccordion{
        box-shadow: none;
        border-radius: 0!important;
        border-bottom: 1px solid #e5e5e5;
        margin: 0px !important;
    }
    & .about > p:last-child{
        text-align: center;
    }
    
    & p, li{
        @include font30_400();
        line-height: 1.5;
    }
}
