@use "../settings" as *;

.PAGEabout{
    margin-top: 64px!important;
    z-index: 3;
    mix-blend-mode: multiply;

    & img{
        border-radius: $MyScale20;
    }
    & a{
        text-decoration: none;
        color: $colorMain;
    }

    & h2{
        padding-top: $MyScale10;
    }

    @media (min-width: 961px) {
        margin-top: $MyScale380!important;
        margin-bottom: 140px!important;
        padding-top: 0px!important;

        margin-left: $MyScale125!important;
        width: $MyScale1560!important;
        padding-left: 0px!important;

        
        & h1, h2{
            @include font75_700();
            text-align: start;
            width: 100%;
            font-weight: 600;
        }
        & p, li, span{
            @include font30_400();
            line-height: 1.5;
        }
    }
    @media (max-width: 960px) {
        //margin-top: $MyScale100_mobile!important;
        padding-top: 0px!important;
        padding-left: 0px!important;
        margin-left: $MyScale100_mobile !important;
        margin-bottom: 64px; 
        margin-left: $MyScale100_mobile;
        width: $MyScale970_mobile;

        .arrow {
            margin-top: $MyScale40_mobile;
            margin-bottom: $MyScale40_mobile;
            height: $MyScale60_mobile;
            display: flex;

            & svg {
            width: $MyScale60_mobile;
            height: $MyScale60_mobile;
            }
        }

        & h1, h2{
            @include font75_700();
            text-align: start;
            width: 100%;
            font-weight: 600;
        }

        & p, li, a{
            @include font35_400();
        }
        & p, li, span{
            line-height: 1.5;
        }
        & a{
            color: $colorMain;
            line-height: 2rem;
            font-weight: bold;
            cursor: pointer;
            //display: table;
            text-decoration: none;
        }
    }
}

.PAGEabout__{ 
    margin-top: 64px!important;
    z-index: 3;
    mix-blend-mode: multiply;

    @media (min-width: 800px) {
        margin-top: $MyScale280!important;
        margin-bottom: 140px!important;
        padding-top: 0px!important;

        margin-left: $MyScale125!important;
        width: $MyScale1560!important;
        padding-left: 0px!important;
    }

    & h1, h2{
        @include font75_700();
        text-align: start;
        width: 100%;
    }
    & h2{
        padding-top: $MyScale10;
    }

    & img{
        border-radius: $MyScale20;
    }
    & a{
        text-decoration: none;
        color: $colorMain;
    }
    
    @media (max-width: 960px) {
        margin-top: 64px!important;
        margin-bottom: 64px; 
        margin-left: 0px;
        padding-left: 24px!important;
        width: calc(100% - 24px);
    }
    & .MyAccordion{
        box-shadow: none;
        border-radius: 0!important;
        border-bottom: 1px solid #e5e5e5;
        margin: 0px !important;
    }
    & .about > p:last-child{
        text-align: center;
    }
    
    & p, li{
        @include font30_400();
        line-height: 1.5;

        @media (max-width: 960px) {
            @include font35_400();
        }
    }
}
