@use "../settings" as *;

.pageDocumentMobile {
  margin-top: $MyScale200_mobile !important;
  min-height: 50vh;

  .containerDocumentMobile {
    width: 100%;
    display: flex;
    margin-top: $MyScale120_mobile;
    margin-bottom: $MyScale200_mobile;
    justify-content: center;

    .listDocumentMobile {
      display: flex;
      flex-direction: column;

      & a {
        text-decoration: none;

        .linkDocumentMobile {
          width: $MyScale920_mobile;
          height: $MyScale160_mobile;
          border-bottom: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
          display: flex;
          align-items: center;
          justify-content: space-between;

          & span {
            @include font50_500();
            margin-left: $MyScale40_mobile;
          }

          & svg {
            width: $MyScale15_mobile;
            height: $MyScale30_mobile;
            margin-right: $MyScale42_24_mobile;
          }
        }

      }
    }
  }
}
