@import '../global';

.modalBannerPC {
  & .MuiDialog-paper {
    border-radius: calcSize(32);
    overflow: visible;
    margin: calcSize(128) 0;
    max-width: none !important;
    width: calcSize(2520);

    .BannerPC {
      & .MuiButtonBase-root.MuiIconButton-root {
        top: 0;
        left: calcSize(-80) !important;
      }

      & .ImgItem {
        position: relative;

        & span {
          left: calcSize(160);
          bottom: calcSize(40);
          position: absolute;
          height: calcSize(80);
          width: calcSize(400);
          color: #fff;
          display: flex;
          align-items: center;
          cursor: pointer;
          & svg {
            width: calcSize(25);
            height: calcSize(25);
          }
        }
      }

      & .DescItem {
        display: flex;
        margin-top: calcSize(60);
        margin-bottom: calcSize(60);
        justify-content: space-between;
        width: calcSize(2260);

        & .FirstItem {
          width: calcSize(980);
          display: flex;
          flex-direction: column;

          & .Title {
            margin-left: calcSize(30);
            margin-bottom: calcSize(30);
          }

          & .List {
            display: flex;
            flex-direction: column;
          }

          .containerBTN {
            width: 100%;

            & > button {
              margin-left: calcSize(30);
              width: calcSize(400);
              border-radius: calcSize(45);
              border: calcSize(3) solid rgba(0, 0, 0, 0.2);
              color: rgba(0, 0, 0, 0.6) !important;
              height: calcSize(80);

              @include MyFonts(30, 400);
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;

              cursor: pointer;

              &:hover {
                background-color: #f2f2f2;
                border: calcSize(2) solid #cccccc;
              }
              &:target {
                background-color: #f2f2f2;
                border: calcSize(2) solid #cccccc;
              }
              &:active {
                background-color: #f2f2f2;
                border: calcSize(2) solid #cccccc;
              }
            }
          }
        }

        & .SecondItem {
          width: calcSize(1080);
          display: flex;
          flex-direction: column;

          & div {
            & p {
              @include MyFonts(40, 400);
              letter-spacing: normal;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}

.BannerFontPC {
  & .ItemTitle {
    @include MyFonts(50, 500);
  }

  & .ItemName {
    @include MyFonts(40, 400);
  }

  & .ItemOther {
    @include MyFonts(30, 400);
  }

  & .ItemSpan {
    @include MyFonts(40, 500);
  }

  & .ItemDesk {
    @include MyFonts(25, 400);
  }

  & .ItemTime {
    @include MyFonts(22, 400);
  }
}
