@import '../settings';

.footerMobile {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  position: relative;
  margin-top: $MyScale40_mobile !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .ContainerMobileFooter {
    height: 109.40170940171vw;
    margin: $MyScale100_mobile 10.683760683761vw 10.25641025641vw
      10.25641025641vw !important;
    display: flex;
    flex-direction: column;
    width: 79.059829059829vw;

    & .icon {
      width: 100%;
      margin-bottom: $MyScale100_mobile;
      height: $MyScale100_mobile;
      display: flex;
      flex-direction: row;

      & a {
        width: $MyScale100_mobile;
        height: $MyScale100_mobile;
        margin-right: $MyScale60_mobile;
        

        & svg {
          width: 100%;
          height: 100%;
        }
      }
     
    }

    & .row {
      display: flex;

      & .column {
        display: flex;
        flex-direction: column;
        width: 37.606837606838vw;
        height: 34.188034188034vw;

        & span {
          @include font35_700();
          text-transform: uppercase;
          color: rgba(82, 82, 82, 1);
          margin-bottom: $MyScale40_mobile;
        }

        & a {
          @include font35_400();
          text-decoration: none;
          color: rgba(82, 82, 82, 1);
          margin-bottom: $MyScale40_mobile;
        }
      }
    }

    & .copy {
      height: 10.25641025641vw;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      @include font30_400();
      color: rgba(0, 0, 0, 0.4) !important;
      padding-right: 0.42735042735043vw;
    }
  }

  & .FooterLegalMobile {
    height: $MyScale600_mobile;
    width: 100%;
    background: #ffffff;
    box-shadow: 0vw -0.36101083032491vw 1.8050541516245vw 0px rgba(0, 0, 0, 0.05);
    border-radius: $MyScale40_mobile $MyScale40_mobile 0 0;
    position: fixed;
    bottom: 0;
    transition: all 0.5s ease 0s;
    z-index: 5;

    & .containerLegalMobile {
      display: flex;
      flex-direction: column;
      height: $MyScale600_mobile;
      align-items: center;
      margin: $MyScale50_mobile 8.5470085470085vw $MyScale40_mobile
        8.5470085470085vw !important;

      & .line {
        height: 0.76923076923077vw;
        width: 12.820512820513vw;
        background: #fff;
        border-radius: 0.42735042735043vw;
        margin-bottom: $MyScale70_mobile;
      }

      & .text {
        width: 100%;
        height: $MyScale200_mobile;
        @include font35_400();
        position: relative;
        margin-bottom: $MyScale70_mobile;
        p {
          margin: 0;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          text-align: center;
          & .link {
            text-decoration: underline;
            color: rgba(221, 26, 50, 1);
          }
        }
      }

      & .buttonAccept {
        width: 37.606837606838vw;
        height: 6.8376068376068vw;
        background: rgba(221, 26, 50, 1);
        border-radius: 1.7094017094017vw;
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
          @include font35_400();
          color: #ffffff !important;
        }
      }
    }
  }
}

.containerArrowBasket {
  position: sticky;
  display: flex;
  justify-content: space-between;
  z-index: 1000;

  .ArrowMobile {
    width: $MyScale120_mobile;
    height: $MyScale120_mobile;
    background-color: rgba(221, 26, 50, 1);
    border-radius: $MyScale120_mobile;
    transition: all 0.5s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      width: $MyScale60_mobile;
      height: $MyScale60_mobile;
    }
  }

  .BasketFooterMobile {
    width: $MyScale420_mobile;
    height: $MyScale120_mobile;
    background-color: rgba(221, 26, 50, 1);
    border-radius: $MyScale60_mobile;
    transition: all 0.5s ease 0s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

    & span:first-child {
      display: flex;
      align-items: center;
      margin-left: $MyScale45_mobile;
      width: $MyScale60_mobile;
      height: $MyScale45_mobile;
      & svg {
        width: 100%;
        height: 100%;
      }
    }

    & span:last-child {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $MyScale220_mobile;
      height: $MyScale60_mobile;
      margin-right: $MyScale52_5_mobile;
      color: #ffffff !important;
      @include font50_500();
    }
  }

  .BasketFooterMobileHidden {
    display: none;
  }
}

.ordersFooter {
  z-index: 1000;
  position: sticky;
  width: $MyScale1090_mobile;
  height: $MyScale280_mobile;
  border-radius: $MyScale40_mobile;
  background: #fff;
  box-shadow: 0px $MyScale4_mobile $MyScale100_mobile 0px rgba(0, 0, 0, 0.25);
  left: $MyScale40_mobile;
  display: flex;
  justify-content: center;
  align-items: center;

  .ordersSpan {
    width: $MyScale595_mobile;
    height: $MyScale130_mobile;
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    justify-content: space-between;
    margin-right: $MyScale10_mobile;

    & span {
      height: $MyScale60_mobile;
      &:first-letter {
        text-transform: capitalize;
      }
    }

    & span:nth-child(1) {
      @include font50_500();
    }

    & span:nth-child(2) {
      @include font40_400();
    }
  }

  & .divBTN {
    width: $MyScale320_mobile;
    height: $MyScale90_mobile;
    border-radius: $MyScale45_mobile;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    @include font40_400();
  }
}

.containerOrders {
  z-index: 1000;
  position: sticky;
  height: $MyScale480_mobile;

  .ordersArray {
    width: 100%;
    display: flex;
    align-items: center;
    height: $MyScale480_mobile;
    position: absolute;
    overflow-x: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .orders {
      display: flex;
      flex-direction: column;
      height: $MyScale280_mobile;
      border-radius: $MyScale40_mobile;
      background: #fff;
      box-shadow: 0px $MyScale4_mobile $MyScale100_mobile 0px
        rgba(0, 0, 0, 0.25);
      margin-left: $MyScale40_mobile;
      padding-left: $MyScale65_mobile;
      text-transform: lowercase;

      & span {
        &:first-letter {
          text-transform: capitalize;
        }
      }

      & span:nth-child(1) {
        margin-top: $MyScale35_mobile;
        width: $MyScale500_mobile;
        height: $MyScale60_mobile;
        @include font50_500();
      }

      & span:nth-child(2) {
        width: $MyScale400_mobile;
        height: $MyScale60_mobile;
        @include font30_400();
      }

      & span:nth-child(3) {
        width: $MyScale320_mobile;
        height: $MyScale90_mobile;
        border-radius: $MyScale45_mobile;
        background: rgba(0, 0, 0, 0.05);
        text-align: center;
        @include font40_400();
        line-height: $MyScale90_mobile;
      }
    }
  }
}
