@import '../settings';

.footerPC {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  position: relative;
  margin-top: 2.1660649819495vw !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .ContainerPCFooter {
    height: 28.880866425993vw;
    margin: 3.2490974729242vw 4.5126353790614vw 4.3321299638989vw 4.5126353790614vw !important;
    display: flex;
    align-items: flex-start;

    & .column {
      display: flex;
      flex-direction: column;
      width: 15.884476534296vw;
      height: 21.660649819495vw;
      margin-right: 1.4440433212996vw;

      & span {
        @include font30_700();
        padding: 1.0830324909747vw 0 0.54151624548736vw 0;
        text-transform: uppercase;
        color: rgba(82, 82, 82, 1);
      }

      & a {
        @include font30_400();
        text-decoration: none;
        padding: 0.54151624548736vw 0;
        color: rgba(82, 82, 82, 1);
      }
    }

    & .container {
      height: 100%;
      width: 15.523465703971vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;

      & .icon {
        width: 100%;

        & svg {
          width: 3.6101083032491vw;
          height: 3.6101083032491vw;
          margin-right: 2.1660649819495vw;
        }
      }

      & .copy {
        display: flex;
        justify-content: flex-end;
        @include font22_400();
        color: rgba(0, 0, 0, 0.4) !important;
      }
    }
  }

  & .FooterLegal {
    height: 8.6642599277978vw;
    width: 56.317689530686vw;
    background: #ffffff;
    box-shadow: 0vw -0.36101083032491vw 1.8050541516245vw 0px rgba(0, 0, 0, 0.05);
    border-radius: 1.4440433212996vw 1.4440433212996vw 0 0;
    position: fixed;
    bottom: 0;
    transition: all 0.5s ease 0s;

    & .containerLegal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1.4440433212996vw 2.8880866425993vw !important;

      & .text {
        width: 36.101083032491vw;
        height: 5.7761732851986vw;
        @include font30_400();
        position: relative;
        p {
          margin: 0;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          & .link {
            text-decoration: underline;
            color: rgba(221, 26, 50, 1);
          }
        }
      }

      & .buttonAccept {
        width: 10.108303249097vw;
        height: 2.8880866425993vw;
        background: rgba(221, 26, 50, 1);
        border-radius: 0.72202166064982vw;
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
          @include font30_400();
          color: #ffffff;
        }
      }
    }
  }
}

.ArrowPC {
  z-index: 1000;
  width: 4.3321299638989vw;
  height: 4.3321299638989vw;
  background-color: rgba(221, 26, 50, 1);
  border-radius: 4.3321299638989vw;
  box-shadow: 0vw 0.25270758122744vw 0.90252707581227vw rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.5s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 91.15523465704vw;
  position: sticky;
  bottom: 2.1660649819495vw;

  & svg {
    width: 2.1660649819495vw;
    height: 2.1660649819495vw;
  }
}

.ArrowHidden {
  display: none;
}
