@import '../settings';

.footerPC {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  position: relative;
  margin-top: $MyScale50 !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .ContainerPCFooter {
    display: flex;
    align-items: flex-start;

    & .column:nth-child(4) {
      margin-right: $MyScale210;
    }

    & .column {
      display: flex;
      flex-direction: column;
      width: $MyScale440;
      min-height: $MyScale600;
      margin-right: $MyScale40;
      margin-top: $MyScale120;

      & span {
        @include font30_700();
        padding: 1.0830324909747vw 0 0.54151624548736vw 0;
        text-transform: uppercase;
        color: rgba(82, 82, 82, 1);
      }

      & a {
        @include font30_400();
        text-decoration: none;
        padding: 0.54151624548736vw 0;
        color: rgba(82, 82, 82, 1);
      }
    }

    & .container {
      margin-top: $MyScale90;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;

      & .icon {
        width: 100%;
        display: flex;
        flex-direction: row;

        & a {
          width: $MyScale100;
          height: $MyScale100;
          margin-right: $MyScale60;

          & svg {
            width: 100%;
            height: 100%;
          }
        }

      }

      
    }
  }
  & .ContainerCopyFooter{
    //height: $MyScale280;
    width: 100%;
    & div.copy {
      margin-top: $MyScale50;
      margin-bottom: $MyScale110;
      height: $MyScale120;
      margin-right: $MyScale125;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      & span{
        @include font22_400();
        color: rgba(0, 0, 0, 0.40);
        position: unset;
      }
    }
  }

  

  & .FooterLegal {
    width: $MyScale1560;
    background: #ffffff;
    box-shadow: 0vw -0.36101083032491vw 1.8050541516245vw 0px rgba(0, 0, 0, 0.05);
    border-radius: 1.4440433212996vw 1.4440433212996vw 0 0;
    position: fixed;
    bottom: 0;
    transition: all 0.5s ease 0s;
    z-index: 5;

    & .containerLegal {
      display: flex;
      align-items: center;
      & .text {
        width: $MyScale995;

        margin-top: $MyScale80;
        margin-bottom: $MyScale80;
        margin-left: $MyScale120;
        p {
          margin: 0;
          @include font30_400();
          line-height: $MyScale40;
          & .link {
            text-decoration: underline;
            color: rgba(221, 26, 50, 1);
          }
        }
      }

      & .buttonAccept {
        margin-left: $MyScale45;
        width: $MyScale280;
        height: $MyScale80;
        background: rgba(221, 26, 50, 1);
        border-radius: $MyScale20;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        & span {
          @include font30_400();
          color: #ffffff!important;
          cursor: pointer;
        }
      }
    }
  }
}

.ArrowPC {
  z-index: 1000;
  width: $MyScale120;
  height: $MyScale120;
  background-color: rgba(221, 26, 50, 1);
  border-radius: $MyScale120;
  box-shadow: 0vw 0.25270758122744vw 0.90252707581227vw rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  left: $MyScale2525;
  position: sticky;
  bottom: $MyScale60;

  & svg {
    width: $MyScale60;
    height: $MyScale60;
  }

}

.ArrowHidden {
  display: none;
}
