@import '../settings';

.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  position: relative;
  margin-top: 2.1660649819495vw !important;

  & .Container {
    height: 27.797833935018vw;
    margin: 4.3321299638989vw 4.5126353790614vw 3.971119133574vw 4.5126353790614vw !important;
    display: flex;
    align-items: flex-start;

    & .column {
      display: flex;
      flex-direction: column;
      width: 15.884476534296vw;
      height: 21.660649819495vw;
      margin-right: 1.4440433212996vw;

      & span {
        @include font30_700();
        padding: 0.54151624548736vw 0;
        text-transform: uppercase;
        color: rgba(82, 82, 82, 1);
      }

      & a {
        @include font30_400();
        text-decoration: none;
        padding: 0.54151624548736vw 0;
        color: rgba(82, 82, 82, 1);
      }
    }

    & .container {
      height: 27.797833935018vw;
      width: 15.136823104693vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;

      & .icon {
        width: 13.790613718412vw;
        display: flex;
        justify-content: space-between;

        & svg {
          fill: rgba(145, 143, 144, 1);
        }
      }

      & .copy {
        display: flex;
        justify-content: flex-end;
        @include font22_400();
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  & .FooterLegal {
    height: 14.440433212996vw;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px -10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 1.4440433212996vw;
    position: fixed;
    bottom: 0;

    & .containerLegal {
      display: flex;
      justify-content: space-between;
      margin: 2.8880866425993vw 4.5126353790614vw 5.7761732851986vw 4.5126353790614vw !important;

      & .text {
        width: 54.873646209386vw;
        height: 5.7761732851986vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include font30_400();
      }

      & .buttonDetail {
        width: 15.884476534296vw;
        height: 4.3321299638989vw;
        background: rgba(0, 0, 0, 0.07);
        border-radius: 0.72202166064982vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        & span {
          @include font40_400();
        }
      }

      & .buttonAccept {
        width: 15.884476534296vw;
        height: 4.3321299638989vw;
        background: rgba(221, 26, 50, 1);
        border-radius: 0.72202166064982vw;
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
          @include font40_500();
          color: #ffffff;
        }
      }
    }
  }
}

.ArrowPC{
  z-index: 1000;
  width: 4.3321299638989vw;
  height: 4.3321299638989vw;
  background-color: rgba(221, 26, 50, 1);
  border-radius: 4.3321299638989vw;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.5s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 91.15523465704vw;
  position: sticky;

  & svg {
    width: 2.1660649819495vw;
    height: 2.1660649819495vw;
  }
}

.ArrowPCHidden{
  display: none;
}
