@use '../../shared/ui/foundation/formulas' as *;

.preview-page-layout {
  --preview-page-frame-top-space: #{ui-fluid-compact(148)};
  --preview-page-frame-bottom-space: #{ui-fluid-compact(48)};
  --preview-page-frame-inline-space: #{ui-fluid-compact(20)};
  min-height: 100dvh;

  @include ui-regular {
    --preview-page-frame-top-space: #{ui-fluid-regular(124)};
    --preview-page-frame-bottom-space: #{ui-fluid-regular(56)};
    --preview-page-frame-inline-space: 0px;
  }

  @include ui-expanded {
    --preview-page-frame-top-space: #{ui-fluid-expanded(102)};
    --preview-page-frame-bottom-space: #{ui-fluid-expanded(72)};
    --preview-page-frame-inline-space: 0px;
  }
}
