@import '../global';

.dopText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calcSize(895);
  min-height: calcSize(200);
  background: rgba(0, 0, 0, 0.05);
  border-radius: calcSize(20);
  @include MyFonts(30, 400);
  text-align: center;
}

tr.dopText {
  padding: 0 calcSize(180) !important;
}

span.dopText {
  margin: calcSize(20) calcSize(35) 0 calcSize(40);
  padding: calcSize(40);
  line-height: calcSize(40);
}
