@charset "utf-8";

$Roboto: var(--inter-font);
$ColorText: rgba(0, 0, 0, 0.8);
$ColorMain: #cc0033;

@function calcSize($size) {
  @return calc(100 * calc($size / 2770)) + vw;
}

@function calcSize_mobile($size) {
  @return calc(100 * calc($size / 870)) + vw;
}

@function calcSize_pad($size) {
  @return ($size * 0.09765625vw);
}

@mixin MyFonts($size: 32, $weight: 400) {
  font-size: calcSize($size) !important;
  font-family: $Roboto !important;
  color: $ColorText;

  font-style: normal;
  font-weight: $weight;
}

@mixin MyFonts_mobile($size: 32, $weight: 400) {
  font-size: calcSize_mobile($size) !important;
  font-family: $Roboto !important;
  color: $ColorText;

  font-style: normal;
  font-weight: $weight;
}

@mixin fonsNew($size: 1rem, $family: $Roboto) {
  font-size: $size !important;
  font-family: $family !important;
  color: $ColorText;
}

@mixin mobile {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin smallTablet {
  @media (min-width: 600px) and (max-width: 800px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 801px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}
