@use "../settings" as *;

.dopAddrInfo{
  
  text-align: left;
  align-self: flex-start;

  @media (max-width: 800px) {
    padding-top: $MyScale30_mobile;
    @include font32_400();
    color: rgba(0, 0, 0, 0.4) !important;
  }
  @media (min-width: 801px) {
    padding-top: 0;
    @include font26_400();
    color: rgba(0, 0, 0, 0.4) !important;
  }
}

#cartMenuMobile {
  & .MuiDrawer-paper {
    max-height: calc(100% - $MyScale200_mobile);
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
    overflow-y: auto;

    .ContainerCartList {
      margin: $MyScale40_mobile $MyScale125_mobile 0 $MyScale125_mobile;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .Line {
        height: $MyScale10_mobile;
        width: $MyScale150_mobile;
        background: rgba(0, 0, 0, 0.2);
        border-radius: $MyScale5_mobile;
        margin-bottom: $MyScale80_mobile;
      }

      & .loginHeader {
        height: $MyScale120_mobile;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & span {
          @include font75_700();
        }
      }

      & .loginPay {
        width: $MyScale920_mobile;
        height: $MyScale120_mobile;
        border-radius: $MyScale80_mobile;
        border: $MyScale6_mobile solid rgba(0, 0, 0, 0.7);
        margin-bottom: $MyScale26_mobile;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
          width: $MyScale191_mobile;
          height: $MyScale70_mobile;
        }
      }

      & .CartMessage {
        width: 100%;
        height: $MyScale200_mobile;
        margin-bottom: $MyScale120_mobile;
        border: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
        border-radius: $MyScale40_mobile;
        display: flex;
        align-items: center;
        justify-content: center;

        & textarea {
          height: $MyScale120_mobile;
          width: 90%;
          border: 0 none #FFF;
          overflow: hidden;
          outline: none;
          @include font40_400();
        }

        // & .message {
        //   height: $MyScale100_mobile !important;
        //   height: 100%;

        //   & .MuiInputBase-root.MuiOutlinedInput-root {
        //     display: flex;
        //     align-items: center;
        //     border: none;
        //     border-radius: 0;
        //     padding: 0;
            

        //     & input {
        //       width: $MyScale800_mobile;
        //       margin: $MyScale50_mobile;
        //       padding: 0;
        //       @include font40_400();
        //       line-height: normal;
        //       white-space: normal;
        //     }

        //     & fieldset {
        //       border: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
        //       border-radius: $MyScale40_mobile;
        //       height: $MyScale200_mobile;
        //       margin-bottom: $MyScale80_mobile;
        //       padding: 0;
        //       top: 0;
        //       & legend {
        //         line-height: 0;
        //       }
        //     }
        //   }
        // }
      }

      & ul {
        width: 100%;
        padding: 0;
        & li {
          min-height: $MyScale163_mobile;
          border-bottom: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
          padding: 0;

          & .containerDiv {
            margin-left: $MyScale40_mobile;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: $MyScale25_mobile 0;

            & .containerSpan {
              display: flex;
              align-items: center;
              height: 100%;

              & span:nth-child(1) {
                @include font50_500();
                margin-right: $MyScale50_mobile;
                text-align: left;
              }
              & span:nth-child(2) {
                @include font40_400();
                color: rgba(0, 0, 0, 0.4) !important;
                text-align: left;
              }
            }

            & div {
              display: flex;
              align-items: center;
              width: 100%;

              & span {
                @include font50_500();
              }

              & .circle {
                margin-left: auto;
                margin-right: $MyScale20_mobile;
                min-width: $MyScale100_mobile;
                height: $MyScale100_mobile;
                border-radius: $MyScale100_mobile;
                background: rgba(0, 0, 0, 0.07);
                display: flex;
                justify-content: center;
                align-items: center;
                & svg {
                  width: $MyScale60_mobile;
                  height: $MyScale60_mobile;
                }
              }
            }

          }
        }
      }

      & .CartButton {
        width: $MyScale650_mobile;
        height: $MyScale120_mobile;
        border-radius: $MyScale60_mobile;
        margin-bottom: $MyScale172_mobile;
        padding: 0;
        text-transform: lowercase;

        span {
          line-height: $MyScale50_mobile;
          text-align: center;
          @include font50_500();
          color: #fff !important;
          &:first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.shadowSpan {
  -webkit-mask-image: linear-gradient(
    to right,
    #f2f2f2 0%,
    rgba(255, 255, 255, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    #f2f2f2 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.maxWidthSpan {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
