@use "../settings" as *;

.cartMenuMobileDataTime {
  & .MuiDialog-container {
    display: flex;
    align-items: flex-end;

    & .MuiDialog-paper {
      border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
      overflow: visible;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: none !important;

      & .MuiDialogContent-root {
        padding: 0;
        overflow: 'hidden';

        .ContainerCartList {
          margin-bottom: $MyScale178_mobile;
          display: flex;
          flex-direction: column;
          align-items: center;

          & .Line {
            height: $MyScale10_mobile;
            width: $MyScale150_mobile;
            margin-top: $MyScale40_mobile;
            background: rgba(0, 0, 0, 0.2);
            border-radius: $MyScale5_mobile;
            margin-bottom: $MyScale80_mobile;
          }

          & .loginHeader {
            margin-bottom: $MyScale86_mobile;
            height: $MyScale120_mobile;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include font75_700();
          }

          .sandbox__carousel {
            position: relative;
            display: flex;
            flex-direction: row;
          }

          .embla {
            --slide-size: 33.33%;
          }
    
          .embla_time {
            --slide-size: 100%;
          }
          
          .embla__viewport {
            overflow: hidden;
          }

          .embla__container {
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            touch-action: pan-x;
            height: $MyScale480_mobile;
          }

          .embla__slide {
            flex: 0 0 var(--slide-size);
            min-width: 0;
            position: relative;
            @include font75_700();
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .btnDataTime {
            width: $MyScale650_mobile;
            height: $MyScale120_mobile;
            border-radius: $MyScale80_mobile;
            margin-top: $MyScale160_mobile;
            padding: 0;
            text-transform: lowercase;
    
            span {
              display: flex;
              align-items: center;
              text-align: center;
              @include font50_500();
              color: #fff!important;
              text-transform: capitalize;
            }
          }

          .divBackground {
            position: absolute;
            width: $MyScale1010_mobile;
            height: $MyScale160_mobile;
            background: rgba(0, 0, 0, 0.05);
            border-radius: $MyScale40_mobile;
            pointer-events: none;
            left: $MyScale125_mobile;
            top: $MyScale496_mobile;
          }
        }
      }
    }
  }
}
