@use "../settings" as *;

.cartMailFormPC {
  .MuiDialog-paper {
    overflow: visible;
    margin: $MyScale50 0 !important;
    max-width: none !important;
    border-radius: $MyScale40;
    height: $MyScale900;

    .MuiDialogContent-root {
      padding: 0;
      border-radius: $MyScale40;
      width: $MyScale1000;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;

      .closeButton {
        position: absolute;
        top: 0;
        left: -3.3vw;
        padding: 0;
        background-color: transparent;

        & svg {
          width: $MyScale60;
          height: $MyScale60;
          overflow: visible;
          border-radius: $MyScale60;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      .mailHeader {
        height: $MyScale80;
        display: flex;
        align-items: center;
        text-align: center;
        @include font50_500();
      }

      .mailHeader_2 {
        margin-top: $MyScale80;
      }

      .mailHeader_3 {
        margin-bottom: $MyScale40;
      }

      .mailText {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $MyScale840;
        height: $MyScale60;
        line-height: $MyScale34;
        @include font30_400();
      }

      .mailInput {
        margin-top: $MyScale60;
        margin-bottom: $MyScale60;

        .mail {
          margin: 0;
          width: $MyScale700 !important;
          height: $MyScale80;

          & .MuiOutlinedInput-notchedOutline {
            border: $MyScale2 solid rgba(0, 0, 0, 0.2);
          }

          & .Mui-focused .MuiOutlinedInput-notchedOutline {
            border: $MyScale2 solid $colorMain;
          }

          & .MuiInputBase-root.MuiOutlinedInput-root {
            border-radius: $MyScale40;
            padding: 0;
            margin: 0;
            height: 100%;

            & input {
              padding: 0 $MyScale40;
              @include font30_400();
              line-height: $MyScale30;
            }

            & fieldset {
              padding: 0;
              top: 0;
              & legend {
                line-height: 0;
              }
            }
          }
        }
      }

      .mailBTN {
        cursor: pointer;
        border: 0;
        padding: 0;
        width: $MyScale560;
        height: $MyScale80;
        border-radius: $MyScale40;
        background: rgb(204, 0, 51);
        @include font30_400();
        color: #fff !important;
        margin-top: $MyScale60;
        box-shadow:
          0px $MyScale3 $MyScale1 (-$MyScale2) rgba(0, 0, 0, 0.2),
          0px $MyScale2 $MyScale2 0px rgba(0, 0, 0, 0.14),
          0px $MyScale1 $MyScale5 0px rgba(0, 0, 0, 0.12);

        &:hover {
          -webkit-text-decoration: none;
          text-decoration: none;
          background-color: rgb(142, 0, 35);
          box-shadow:
            0px $MyScale2 $MyScale4 (-$MyScale1) rgba(0, 0, 0, 0.2),
            0px $MyScale4 $MyScale5 0px rgba(0, 0, 0, 0.14),
            0px $MyScale1 $MyScale10 0px rgba(0, 0, 0, 0.12);
        }
      }
    }
  }
}

.cartMailFormMobile {
  & .MuiDrawer-paper {
    max-height: calc(100% - $MyScale200_mobile);
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
    overflow-y: auto;

    .container {
      margin-top: $MyScale40_mobile;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 $MyScale40_mobile;

      & .line {
        height: $MyScale10_mobile;
        width: $MyScale150_mobile;
        background: rgba(0, 0, 0, 0.2);
        border-radius: $MyScale5_mobile;
        margin-bottom: $MyScale80_mobile;
      }

      & .mailHeader {
        height: $MyScale120_mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font75_700();
      }

      & .mailHeader_2 {
        margin-bottom: $MyScale80_mobile;
      }

      & .mailText {
        display: flex;
        align-items: center;
        height: $MyScale80_mobile;
        text-align: center;
        @include font40_400();
      }

      & .mailText_2 {
        margin-bottom: $MyScale100_mobile;
      }

      & .mailInput {
        margin-bottom: $MyScale160_mobile;

        .mail {
          margin: 0;
          height: $MyScale120_mobile;
          width: $MyScale920_mobile !important;

          & .MuiOutlinedInput-notchedOutline {
            border: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
          }

          & .Mui-focused .MuiOutlinedInput-notchedOutline {
            border: $MyScale3_mobile solid $colorMain;
          }

          & .MuiInputBase-root.MuiOutlinedInput-root {
            border-radius: $MyScale60_mobile;
            padding: 0;
            margin: 0;
            height: 100%;

            & input {
              padding: 0 $MyScale60_mobile;
              @include font40_400();
              line-height: $MyScale40_mobile;
            }

            & fieldset {
              padding: 0;
              top: 0;
              & legend {
                line-height: 0;
              }
            }
          }
        }
      }

      .mailButton {
        width: $MyScale650_mobile;
        height: $MyScale120_mobile;
        border-radius: $MyScale60_mobile;
        margin-bottom: $MyScale205_mobile;
        padding: 0;
        text-transform: lowercase;

        & span {
          display: flex;
          align-items: center;
          text-align: center;
          @include font50_500();
          color: #fff !important;
          text-transform: capitalize;
        }
      }

    }
  }
}
