@import '../settings';

.AccountMobile {
  margin-top: $MyScale200_mobile;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;

  & .accountMain {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .accountLogin {
    width: $MyScale280_mobile;
    height: $MyScale280_mobile;
    border-radius: $MyScale280_mobile;
    color: #fff !important;
    @include font110_400();
    margin-top: $MyScale40_mobile;
    
    & svg {
      width: $MyScale200_mobile;
      height: $MyScale200_mobile;

      & path {
        fill: #fff;
      }
    }
  }

  & .accountName {
    height: $MyScale120_mobile;
    @include font75_700();
    margin-top: $MyScale40_mobile;
  }

  & .accountPhone {
    height: $MyScale60_mobile;
    @include font50_500();
    color: rgba(0, 0, 0, 0.4) !important;
    margin-bottom: $MyScale126_mobile;
  }

  & .accountData {
    width: $MyScale920_mobile;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: $MyScale40_mobile;
    margin-bottom: $MyScale122_mobile;

    & a {
      width: $MyScale440_mobile;
      height: $MyScale540_mobile;
      border-radius: $MyScale40_mobile;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-decoration: none;

      & span {
        margin-top: $MyScale51_mobile;
        margin-left: $MyScale50_mobile;
        width: $MyScale340_mobile;
        @include font50_500();
      }

      & svg {
        margin-bottom: $MyScale30_mobile;
        width: $MyScale200_mobile;
        height: $MyScale200_mobile;
      }
    }
  }

  & .accountButton {
    width: $MyScale650_mobile;
    height: $MyScale120_mobile;
    border-radius: $MyScale60_mobile;
    border: $MyScale3_mobile solid #dd1a32;
    text-transform: lowercase;
    margin-bottom: $MyScale112_mobile;
    & span {
      @include font50_500();
      color: #dd1a32 !important;
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}

#AccountModal {
  z-index: 1300;

  & .MuiDrawer-paper {
    max-height: calc(100% - $MyScale200_mobile);
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
    .ContainerAccountModal {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: auto;

      & .Line {
        height: $MyScale10_mobile;
        width: $MyScale150_mobile;
        background: rgba(0, 0, 0, 0.2);
        border-radius: $MyScale5_mobile;
        margin-bottom: $MyScale80_mobile;
        margin-top: $MyScale40_mobile;
      }

      & .loginHeader {
        height: $MyScale120_mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font75_700();
      }

      & .listColor {
        display: flex;
        width: $MyScale919_6_mobile;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: $MyScale34_mobile;
        margin-bottom: $MyScale220_mobile;

        & .itemColor {
          border-radius: $MyScale5_mobile;
          display: flex;
          align-items: center;
          justify-content: center;

          & svg {
            width: $MyScale80_mobile;
            height: $MyScale71_5_mobile;
          }
        }
      }

      & .infoExit {
        height: $MyScale400_mobile;
        width: $MyScale910_mobile;
        display: flex;
        line-height: $MyScale55_mobile;
        margin-bottom: $MyScale60_mobile;
        justify-content: space-between;

        & span {
          text-align: center;
          @include font40_400();
        }
      }

      & .buttonModalClose {
        width: $MyScale650_mobile;
        height: $MyScale120_mobile;
        border-radius: $MyScale60_mobile;
        margin-bottom: $MyScale40_mobile;
        padding: 0;
        text-transform: lowercase;

        & span {
          display: flex;
          align-items: center;
          text-align: center;
          @include font50_500();
          color: #fff !important;
          text-transform: capitalize;
        }
      }

      & .buttonModalExit {
        width: $MyScale650_mobile;
        height: $MyScale120_mobile;
        border-radius: $MyScale60_mobile;
        margin-bottom: $MyScale230_mobile;
        padding: 0;
        text-transform: lowercase;
        border: $MyScale3_mobile solid #dd1a32;

        & span {
          display: flex;
          align-items: center;
          text-align: center;
          @include font50_500();
          color: #dd1a32 !important;
          text-transform: capitalize;
        }
      }
    }
  }
}
