@import '../settings';

.MuiInputBase-root {
  & div:focus {
    background-color: #fff;
  }
}

.city_menu {
  & .MuiMenu-paper {
    border-radius: $MyScale20 !important;
    margin-top: $MyScale20 !important;
    width: $MyScale780 !important;

    & ul {
      padding: 0;
      & > li {
        height: $MyScale100;
        @include font30_400();
        display: flex;
        justify-content: center;
        align-items: center;
        //border-bottom: $MyScale3 solid rgba(0, 0, 0, 0.20);
        //margin-left: $MyScale40;
        //margin-right: $MyScale40;
      }
    }
  }
}

.autocompletePC {

  & .MuiAutocomplete-popper {
    // max-height: $MyScale1000;
    //width: $MyScale780 !important;
    width: $MyScale1200 !important;
    border-radius: $MyScale20 !important;
  
    margin-top: $MyScale20 !important;
    box-shadow: 0px $MyScale20 $MyScale40 $MyScale10 rgba(0, 0, 0, 0.25);
  
    & .MuiPaper-root {
      border-radius: $MyScale20 !important;
      background-color: transparent;
      //margin-top: $MyScale20!important;
    }
    & .MuiAutocomplete-listbox {
      max-height: $MyScale800;
      padding: 0 !important;
      border-radius: $MyScale20 !important;
      background-color: #fff;
    }
  }
  
  & .MuiAutocomplete-option {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center !important;
    height: $MyScale200;
  
    & span:nth-child(1) {
      @include font40_400();
      margin-bottom: $MyScale15;
    }
    & span:nth-child(2) {
      @include font30_400();
      color: rgba(0, 0, 0, 0.4) !important;
    }
    //border-bottom: $MyScale3 solid rgba(0, 0, 0, 0.20);
    //margin-left: $MyScale40;
    //margin-right: $MyScale40;
  }
}

.autocompleteMobile {
  
  & .MuiAutocomplete-option {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center !important;
    height: $MyScale200_mobile !important;

    & span:nth-child(1) {
      @include font40_400();
      margin-bottom: $MyScale15;
    }
    & span:nth-child(2) {
      @include font30_400();
      color: rgba(0, 0, 0, 0.4) !important;
    }
    
  }
}





.modalAddrPC {
  & .MuiDialogContent-root {
    padding: 0;
  }
  & .MuiDialog-paper {
    border-radius: $MyScale40;
    overflow: visible;
    margin: 0;
    width: $MyScale1960;
    max-width: none !important;
  }

  & .MuiFormControl-root {
    & input,
    .MuiSelect-select {
      height: $MyScale40;
      padding: $MyScale20 !important;
      padding-top: 0 !important;
      @include font30_400();
    }
    & .MuiInputBase-root::before {
      border-width: $MyScale3;
      border-color: rgba(0, 0, 0, 0.2);
    }
  }
  & .container {
    padding: 0;

    & .closeButton {
      position: absolute;
      top: 0;
      left: -$MyScale80;
      padding: 0;
      background-color: transparent;

      & svg {
        width: $MyScale60;
        height: $MyScale60;
        overflow: visible;
        border-radius: $MyScale60;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  & .mainGrid {
    width: 100%;
    display: flex;
    flex-direction: row;

    & > .map {
      width: 50%;
      overflow: hidden;
      border-top-left-radius: $MyScale40;
      border-bottom-left-radius: $MyScale40;
    }
    & > .form {
      width: 50%;

      & .nameAddr {
        width: $MyScale680;
        height: $MyScale120;
        margin-top: $MyScale60;
        margin-left: $MyScale170;
        display: flex;
        align-items: center;
        & .MuiInputBase-root {
        }
        & .MuiInputBase-root::before,
        .MuiInputBase-root::after {
          border-width: 0;
          height: 0;
        }
        & .MuiInputBase-root > input {
          height: $MyScale120;
          padding: $MyScale20 !important;
          padding-top: 0 !important;
          @include font50_500();
        }
        & > span {
          @include font50_500();
          color: rgba(0, 0, 0, 0.4);
        }
        & svg {
          width: $MyScale60;
          height: $MyScale60;
          margin-left: $MyScale30;
        }
      }

      & .city {
        margin-left: $MyScale150;
        margin-top: $MyScale30;
        width: $MyScale700;
      }
      & .street {

        & .MuiFormControl-root {
          & .MuiInputBase-root::after {
          border-width: $MyScale3;
          border-color: rgba(0, 0, 0, 0.2);
          }
        }
        
        margin-left: $MyScale150;
        margin-top: $MyScale60;
        width: $MyScale700;
      }
      & .street_dop_3 {
        margin-left: $MyScale150;
        margin-top: $MyScale60;
        width: $MyScale700;
        & > div {
          width: $MyScale220 !important;
          &:nth-child(1) {
            margin-right: $MyScale20;
          }
          &:nth-child(2) {
            margin-right: $MyScale20;
          }
        }
      }
      & .street_dop_2 {
        margin-left: $MyScale150;
        margin-top: $MyScale60;
        width: $MyScale700;
        & > div {
          width: $MyScale220 !important;
          &:nth-child(1) {
            margin-right: $MyScale20;
          }
          &:nth-child(2) {
            margin-right: $MyScale20;
          }
        }
      }
      & .comment {
        margin-left: $MyScale150;
        margin-top: $MyScale60;
        width: $MyScale700;
      }
      & .chooseMain {
        margin-left: $MyScale150;
        margin-top: $MyScale30;
        padding-bottom: $MyScale30;
        width: $MyScale700;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: $MyScale3 solid rgba(0, 0, 0, 0.2);
        & > label {
          margin-right: $MyScale20;
        }
        & > div {
          margin-left: $MyScale20;
          display: flex;
          flex-direction: row;
          align-items: center;
          & > span {
            @include font30_400();
            padding-right: $MyScale20;
          }
          & > div {
            width: $MyScale80;
            height: $MyScale80;
            background-color: rgba(0, 0, 0, 0.07);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $MyScale390;
            & > svg {
              width: $MyScale48;
              height: $MyScale48;
            }
          }
        }
      }
      & .btnSave {
        margin-left: $MyScale150;
        margin-top: $MyScale60;
        margin-bottom: $MyScale60;
        & > div {
          width: $MyScale400;
          height: $MyScale80;
          background-color: $colorMain;
          border-radius: $MyScale40;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          & > span {
            @include font30_400();
            color: #fff!important;
          }
        }
      }
    }
  }
}

.modalGetAddrPC {

  & .MuiDialog-paper {
    border-radius: $MyScale40;
    overflow: visible;
    margin: 0;
    width: $MyScale1960;
    max-width: none !important;
    height: $MyScale1125;

    & .MuiFormControl-root {
      & input {
        height: $MyScale40;
        padding: $MyScale40 !important;
        //padding-top: 0 !important;
        @include font40_400();
      }
      & .MuiInputBase-root::before {
        border-width: $MyScale3;
        border-color: rgba(0, 0, 0, 0.2);
      }
    }

    & .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0;
  
      & .closeButton {
        position: absolute;
        top: 0;
        left: -$MyScale80;
        padding: 0;
        background-color: transparent;
  
        & svg {
          width: $MyScale60;
          height: $MyScale60;
          overflow: visible;
          border-radius: $MyScale60;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      & span {
        //align-self: center;
        @include font75_700();
      }
  
      & .street {
        margin-top: $MyScale80;
        width: $MyScale1200;
      }
    }
  }
 
}
