
@import "../settings";

.date_d_menu{
    & .MuiMenu-paper{
        border-radius: $MyScale20!important;
        margin-top: $MyScale20!important;
        width: $MyScale240!important;

        & ul{
            padding: 0;
            & > li{
                height: $MyScale100;
                width: $MyScale240;
                @include font30_400();
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.date_m_menu{
    & .MuiMenu-paper{
        border-radius: $MyScale20!important;
        margin-top: $MyScale20!important;
        width: $MyScale400!important;

        & ul{
            padding: 0;
            & > li{
                height: $MyScale100;
                width: $MyScale400;
                @include font30_400();
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.Profile{ 
    margin-top: 64px!important;
    z-index: 3;
    mix-blend-mode: multiply;

    @media (min-width: 800px) {
        margin-top: $MyScale280!important;
        margin-bottom: 140px!important;
        padding-top: 0px!important;

        margin-left: $MyScale125!important;
        width: $MyScale1560!important;
        padding-left: 0px!important;
    }

    & h1, h2{
        @include fontH1();
        text-align: start;
        width: 100%;
        color: rgba(0, 0, 0, 0.8)!important;
    }
    & .mainContainer{
        padding-top: 0!important; 
        padding-bottom: 36px!important; ;
    }
    
    @media (max-width: 960px) {
        margin-top: 64px!important;
        margin-bottom: 64px; 
        padding-left: 24px!important;
        width: calc(100% - 24px);
    }

    & > div:first-child{
        height: $MyScale100;
    }

    

    & .main_data{
        margin-top: $MyScale80;
        display: flex;
        flex-direction: row;
        & > div:first-child{
            width: $MyScale280;
            margin-left: $MyScale80;
            margin-right: $MyScale120;
            & > span{
                width: $MyScale280;
                height: $MyScale280;
                border-radius: $MyScale280;
                background-color: #6FBEF8;
                display: flex;
                justify-content: center;
                align-items: center;
                @include font110_400();
                color: #fff !important;

                & svg {
                  width: $MyScale140;
                  height: $MyScale140;

                  & path {
                    fill: #fff;
                  }
                }
            }
        }
        & > div:last-child{
            width: $MyScale1080;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            & > div:nth-child(1), div:nth-child(3){
                margin-right: $MyScale60;   
            }
            & > div{
                width: $MyScale510;
                height: $MyScale80;
                display: flex;
                align-items: center;
                & .MuiInputBase-sizeSmall{
                    height: $MyScale80;
                    z-index: 3;
                    & > input{
                        height: $MyScale80;
                        padding-left: $MyScale40;
                        @include font30_400();
                    }
                    & > input[readonly]{
                        cursor: default;
                    }
                }
                & fieldset{
                    border-radius: $MyScale80;
                    border-width: $MyScale3;
                }
            }
        }
    }

    & .check_data{
        margin-top: $MyScale60;
        & > div{
            width: $MyScale1080;
            margin-left: $MyScale480;
            & > div{
                & > label{
                    margin: 0;
                }
                width: 100%;
                height: $MyScale80;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                & > span{
                    @include font30_400();
                }
                &:last-child{
                    margin-top: $MyScale20;
                }
            }
        }
    }

    & .date_data{
        margin-top: $MyScale100;
        display: flex;
        flex-direction: row;
        & > div:first-child{
            width: $MyScale440;
            margin-right: $MyScale40;
            & > div{
                width: $MyScale390;
                height: $MyScale208;
                margin-top: $MyScale20;
                background-color: rgba(87, 220, 53, 0.3);
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                &::after {
                    content: "";
                    position: absolute;
                    left: 100%;
                    top: 0px;
                    border: 3.76vw solid transparent;
                    border-left: $MyScale50 solid rgba(87, 220, 53, 0.3);
                }
                & > span{
                    @include font30_400();
                    padding: 0px 1.55vw;
                    line-height: 1.4;
                }
            }
        }
        & > div:last-child{
            width: $MyScale1080;
            & > div{
                width: 100%;   
                
            }
            & > div:first-child{
                height: $MyScale80;
                display: flex;
                align-items: center;
                @include font30_400();
            }
            & > div:last-child{
                @include font22_400();
                margin-top: $MyScale20;
                height: $MyScale60;
                display: flex;
                align-items: center;
            }
            & > div:not(:last-child):not(:first-child){
                display: flex;
                flex-direction: row;
                height: $MyScale80;
                & .MuiInputBase-sizeSmall{
                    height: $MyScale80;
                    & > input{
                        height: $MyScale80;
                        @include font30_400();
                    }
                    & > div{
                        text-align: center;
                    }
                }
                & fieldset{
                    border-radius: $MyScale40;
                    border-width: $MyScale3;
                }

                & > div:first-child{
                    width: $MyScale160;
                    height: $MyScale80;
                    margin-right: $MyScale20;
                    & .MuiSelect-select.MuiSelect-outlined.MuiInputBase-input{
                        @include font30_400();
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    & svg{
                        width: $MyScale60;
                        height: $MyScale60;
                        top: auto;
                    }
                }
                & > div:last-child{
                    width: $MyScale320;
                    height: $MyScale80;
                    & .MuiSelect-select.MuiSelect-outlined.MuiInputBase-input{
                        @include font30_400();
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    & svg{
                        width: $MyScale60;
                        height: $MyScale60;
                        top: auto;
                    }
                }
            }
        }
    }

    & .bank_table{
        margin-top: 4vw;
        & .headTable{
            @include font40_500();
        }
        & .headAddTable{
            padding-right: 0;
            text-align: end;
            & > div{
                border: $MyScale3 solid #e5e5e5;
                border-radius: 2vw;
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc($MyScale300 - $MyScale3 * 2);
                height: $MyScale80;
                & span{
                    @include font30_400();
                }
            }
        }
        & td{
            @include font30_400();
        }
        & tr > th:first-child, tr > td:first-child{
            padding-left: 0;
        }
        & tr > td:last-child{
            padding-right: 0;
            text-align: end;
            width: 2.4vw;
            & svg{
                width: $MyScale60!important;
                height: $MyScale60!important;
                vertical-align: text-top;
            }
        }
        .chooseCart{
            text-align: end;
            & span{
                @include font30_400();
                background-color: rgba(0, 0, 0, 0.05);
                padding: 0.5vw 2vw;
                border-radius: 2vw;
            }
        }
        & thead th{
            padding-bottom: 1.6vw;
        }
        & tbody tr{
            height: 4.3vw;
        }
    }

    & .addr_table{
        margin-top: $MyScale100;
        & .headTable{
            @include font40_500();
        }
        & .headAddTable{
            padding-right: 0;
            text-align: end;
            & > div{
                border: $MyScale3 solid #e5e5e5;
                border-radius: $MyScale40;
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc($MyScale300 - $MyScale3 * 2);
                height: calc($MyScale80 - $MyScale3 * 2);
                cursor: pointer;
                & span{
                    @include font30_400();
                }
            }
            
        }
        & td{
            @include font30_400();
        }
        & tr > td:nth-child(1){
            width: $MyScale300;
            padding-right: $MyScale20;
            padding-left: 0;
        }
        & tr > td:nth-child(2){
            width: $MyScale720;
            padding-right: $MyScale20;
            padding-left: 0;
        }
        & tr > td:nth-child(3){
            width: $MyScale240;
            padding-right: $MyScale20;
            padding-left: 0;
        }
        & tr > td:nth-child(4){
            width: $MyScale160;
            padding-right: $MyScale40;
            padding-left: 0;
        }
        & tr > td:nth-child(5){
            width: $MyScale60;
            padding-right: 0;
            padding-left: 0;
        }
        & tr > th:first-child, tr > td:first-child{
            padding-left: 0;
        }
        & tr > td:last-child{
            padding-right: 0;
            text-align: end;
            & svg{
                width: $MyScale60!important;
                height: $MyScale60!important;
                vertical-align: text-top;
                cursor: pointer;
                &:hover > path{
                    stroke: $colorMain;
                    stroke-opacity: 1;
                }
            }
        }
        .ChangeAddr{
            text-align: end;
            & span{
                @include font30_400();
                cursor: pointer;
                &:hover{
                    color: $colorMain;
                    text-decoration: underline;
                }
            }
        }
        .ChooseAddr{
            text-align: end;
            & > div{
                height: $MyScale60;
                width: $MyScale240;
                border-radius: $MyScale30;
                background: rgba(0, 0, 0, 0.05);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & span{
                @include font30_400();
            }
        }
        & thead th{
            padding-bottom: $MyScale23;
            padding-top: 0;
            height: $MyScale80;
        }
        & tbody tr{
            height: $MyScale120;
        }
    }

    & .log_out{
        padding-top: $MyScale160;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & span, a{
            @include font30_400();
            cursor: pointer;
        }
        & span{
            text-decoration-line: underline;
            color: $colorMain;
        }
        & a{
            color: $colorMain;
            border: 1px solid $colorMain;
            border-radius: $MyScale40;
            width: calc($MyScale400 - 2px);
            height: calc($MyScale80 - 2px);
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    }
}
