@import '../settings';

.ProfileMobile {
  margin-top: $MyScale200_mobile;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;

  & .profileMain {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .profileLogin {
    display: flex;
    width: $MyScale920_mobile;
    height: $MyScale100_mobile;
    margin-top: $MyScale30_mobile;
    margin-bottom: $MyScale90_mobile;

    & a {
      margin-top: $MyScale10_mobile;

      & svg {
        width: $MyScale60_mobile;
        height: $MyScale60_mobile;
      }
    }

    & span {
      width: 100%;
      align-self: center;
      text-align: center;
      @include font75_700();
    }
  }

  & .profileData {
    margin-bottom: $MyScale160_mobile;
    flex-direction: column;

    & .dataItem_ {
      display: flex;
      width: $MyScale920_mobile;
      border-bottom: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
      //justify-content: center;
      align-items: center;
      justify-content: space-between;

      & > *{
        border-width: 0!important;
        outline: 0;
      }

      & input{
        @include font50_500();
      }

      & .dateText {
        width: $MyScale400_mobile;
        height: $MyScale120_mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font30_400();
        -webkit-clip-path: polygon(11.7% 0%, 100% 0%, 100% 100%, 11.7% 100%, 0% 50%);
        clip-path: polygon(11.7% 0%, 100% 0%, 100% 100%, 11.7% 100%, 0% 50%);
        background: rgba(87, 220, 53, 0.15);
        padding-left: $MyScale100_mobile;
        padding-right: $MyScale40_mobile;
      }

      & .dateText_{
        width: $MyScale400_mobile;
        height: $MyScale120_mobile;
        padding-left: $MyScale100_mobile;
        padding-right: $MyScale40_mobile;
      }
      
      & svg {
        margin-right: $MyScale17_mobile;
        width: $MyScale80_mobile;
        height: $MyScale80_mobile;
      }
    }

    & .dataItem {
      width: $MyScale920_mobile;
      height: $MyScale160_mobile;
      border-bottom: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
      justify-content: space-between;

      & .itemSpan {
        @include font50_500();
        color: rgba(0, 0, 0, 0.4) !important;
        margin-left: $MyScale40_mobile;
      }

      & .notDate {
        @include font40_400();
        margin-left: $MyScale40_mobile;
      }

      & .itemSwitch {
        display: flex;
        align-items: center;
        @include font40_400();
        height: $MyScale100_mobile;
        width: $MyScale600_mobile;
        margin-left: $MyScale40_mobile;
      }

      & .dateText {
        width: $MyScale300_mobile;
        height: $MyScale120_mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font30_400();
        -webkit-clip-path: polygon(11.7% 0%, 100% 0%, 100% 100%, 11.7% 100%, 0% 50%);
        clip-path: polygon(11.7% 0%, 100% 0%, 100% 100%, 11.7% 100%, 0% 50%);
        background: rgba(87, 220, 53, 0.15);
        padding-left: $MyScale100_mobile;
        padding-right: $MyScale140_mobile;
      }

      & .MuiFormControl-root.MuiTextField-root {
        width: $MyScale780_mobile !important;
        height: $MyScale60_mobile;
        margin-left: $MyScale40_mobile;
        display: flex;
        align-items: center;
        & .MuiInputBase-sizeSmall {
          height: $MyScale60_mobile;
          width: 100%;
          z-index: 3;
          & > input {
            height: $MyScale60_mobile;
            padding: 0;
            @include font50_500();
          }
          & > input::placeholder {
            @include font40_400();
          }
        }
        & fieldset {
          padding: 0;
          border: none;
        }
      }

      & svg {
        margin-right: $MyScale17_mobile;
        width: $MyScale80_mobile;
        height: $MyScale80_mobile;
      }
    }

    & div:nth-child(6),
      div:nth-child(7) {
      height: $MyScale240_mobile;
    }
  }

  & .profileDelete {
    height: $MyScale60_mobile;
    text-decoration: underline;
    color: #dd1a32 !important;
    @include font40_400();
    margin-bottom: $MyScale414_mobile;
  }
}
