
@import "../settings";

.Promokody{ 
    margin-top: 64px!important;

    @media (min-width: 800px) {
        margin-top: 13vw!important;
        margin-bottom: 140px!important;

        margin-left: 4.5%!important;
        width: 56.35%!important;
        padding-left: 0px!important;
    }

    & h1, h2{
        @include fontH1();
        text-align: start;
        width: 100%;
        padding-bottom: 20px;
        color: rgba(0, 0, 0, 0.8)!important;
    }
    & .mainContainer{
        padding-top: 0!important; 
        padding-bottom: 36px!important; ;
    }
    
    @media (max-width: 960px) {
        margin-top: 64px!important;
        margin-bottom: 64px; 
        padding-left: 24px!important;
        width: calc(100% - 24px);
    }

    & > div:last-child{
        display: flex;
        flex-flow: row wrap!important;
        margin-top: 6%;
    }
    & .promoCard{
        display: flex;
        flex-direction: column;
        background-color: rgba(233, 71, 35, 0.3);
        border-radius: 3vw;
        margin-top: 10px;
        margin-bottom: 10px;

        @media (max-width: 960px) {
            width: 100%;
        }
        @media (min-width: 961px) {
            width: calc(50% - 20px);
            &:nth-child(odd) {
                margin-right: 20px;
            } 
            &:nth-child(even) {
                margin-left: 20px;
            } 
        }
        & span{
            text-align: center;
        }
       
        .title{
            @include font50_500();
            width: 65%;
            padding-left: 17.5%;
            padding-top: 8.3%;
            letter-spacing: 0.038vw;
        }
        
        & .text{
            @include font30_400();
            margin-top: 5.5%;
            margin-left: 5%;
            margin-right: 5%;
            letter-spacing: 0.038vw;
        }
        & .endText{
            @include font30_400();
            margin-top: 5.5%;
            margin-left: 5%;
            margin-right: 5%;
            letter-spacing: 0.038vw;
        }
        & .endDate{
            @include font50_500();
            color: rgba(221, 26, 50, 1)!important;
            line-height: 1.3;
        }
        & .name{
            @include font50_500();
            @media (max-width: 960px) {
                height: 5.79vh;
                border-radius: 1.3vh;
            }
       
            background-color: rgba(233, 71, 35, 0.5);
            border-radius: 1.3vw;
            height: 5.79vw;
            width: 84%;
            margin: 2.8% 4% 8% 8%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}