
@import "../settings";

.Promokody{ 
    margin-top: 64px!important;
    z-index: 3;
    mix-blend-mode: multiply;
    
    @media (min-width: 800px) {
        margin-top: $MyScale380!important;
        margin-bottom: 140px!important;
        padding-top: 0px!important;

        margin-left: $MyScale125!important;
        width: $MyScale1560!important;
        padding-left: 0px!important;
    }

    & h1, h2{
        @include fontH1();
        text-align: start;
        width: 100%;
        height: $MyScale100;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.8)!important;
    }
    & .mainContainer{
        padding-top: 0!important; 
        padding-bottom: 36px!important; ;
    }
    
    @media (max-width: 960px) {
        margin-top: 64px!important;
        margin-bottom: 64px; 
        padding-left: 24px!important;
        width: calc(100% - 24px);
    }

    & > div:last-child{
        display: flex;
        flex-flow: row wrap!important;
        margin-top: $MyScale80;
    }
    & .promoCard{
        display: flex;
        flex-direction: column;
        background-color: rgba(233, 71, 35, 0.3);
        border-radius: $MyScale80;
        margin-top: $MyScale40;
        width: $MyScale760;

        &:nth-child(odd) {
            margin-right: $MyScale40;
        }
        
        & span{
            text-align: center;
        }
       
        .title{
            @include font50_500();
            width: $MyScale680;
            padding-left: $MyScale40;
            margin-top: $MyScale60;
            letter-spacing: 0.038vw;
        }
        
        & .text{
            @include font30_400();
            margin-top: $MyScale40;
            margin-left: $MyScale40;
            margin-right: $MyScale40;
            letter-spacing: 0.038vw;
        }
        & .endText{
            @include font30_400();
            margin-top: $MyScale40;
            margin-left: $MyScale40;
            margin-right: $MyScale40;
            letter-spacing: 0.038vw;
        }
        & .endDate{
            @include font50_500();
            color: rgba(221, 26, 50, 1)!important;
            line-height: 1.3;
        }
        & .name{
            & > span{
                @include font50_500();
            }
            margin-left: $MyScale60;
            margin-bottom: $MyScale60;
            margin-top: $MyScale20;
            background-color: rgba(233, 71, 35, 0.5);
            border-radius: $MyScale40;
            height: $MyScale160;
            width: $MyScale640;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}