@use "../settings" as *;

.modalOrderDelPC {
  & .MuiDialog-container {
    display: flex;
    align-items: center;
    justify-content: center;

    & .MuiDialog-paper {
      border-radius: $MyScale40;
      overflow: visible;
      margin: 0;
      width: $MyScale1000;
      max-width: none !important;

      & .MuiDialogContent-root {
        display: flex;
        justify-content: center;

        & .container {
          width: $MyScale700;

          & .closeButton {
            position: absolute;
            top: 0;
            left: -$MyScale80;
            padding: 0;
            background-color: transparent;

            & svg {
              width: $MyScale60;
              height: $MyScale60;
              overflow: visible;
              border-radius: $MyScale60;
              background-color: rgba(0, 0, 0, 0.5);
            }
          }
          & .header_status {
            height: $MyScale120;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: $MyScale80;
            & > h1 {
              @include font50_500();
            }
          }

          & .header_text {
            height: $MyScale120;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            & > span {
              @include font30_400();
            }
          }
          & .header_table {
            & span {
              @include font30_400();
              padding: $MyScale20 $MyScale40_8;
            }
            & > div.active {
              background-color: rgba(0, 0, 0, 0.05);
            }
            & > div {
              margin-top: $MyScale20;
              height: $MyScale80;
              border-radius: $MyScale40;
              border: $MyScale2 solid rgba(0, 0, 0, 0.2);
              display: flex;
              align-items: center;
              cursor: pointer;
            }
          }
          & .header_custom_text {
            margin-top: $MyScale20;
            margin-bottom: $MyScale60;

            .message {
              margin: 0;
              width: $MyScale700 !important;
              height: $MyScale120;

              & .MuiOutlinedInput-notchedOutline {
                border: $MyScale2 solid rgba(0, 0, 0, 0.2);
              }

              & .Mui-focused .MuiOutlinedInput-notchedOutline {
                border: $MyScale2 solid $colorMain;
              }

              
              & .MuiInputBase-root.MuiOutlinedInput-root {
                border-radius: $MyScale40;
                padding: 0;
                margin: 0;
                height: 100%;

                .MuiInputBase-inputMultiline {
                  padding: 0 $MyScale40 !important;
                  @include font30_400();
                  line-height: $MyScale30;
                }

                & fieldset {
                  padding: 0;
                  top: 0;
                  & legend {
                    line-height: 0;
                  }
                }
              }
            }
          }
          & .header_btn {
            margin-bottom: $MyScale160;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > button {
              border-radius: $MyScale40;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0;
              border: 0;
              @include font30_400();
              cursor: pointer;
            }

            & > button:first-child {
              height: $MyScale74;
              width: $MyScale324;
              border: $MyScale3 solid $colorMain;
              background-color: #fff;
              color: $colorMain;
            }

            & > button:last-child {
              height: $MyScale80;
              width: $MyScale330;
              background-color: $colorMain;
              color: #ffff;
            }
          }
        }
      }
    }
  }
}

@include tablet-only {
  .modalOrderDelPC {
    & .MuiDialog-container {
      & .MuiDialog-paper {
        border-radius: tablet-vw(40);
        width: tablet-vw(1000);

        & .MuiDialogContent-root {
          border-radius: tablet-vw(40) !important;

          & .container {
            width: tablet-vw(700);

            & .closeButton {
              left: tablet-vw(-80);

              & svg {
                width: tablet-vw(60);
                height: tablet-vw(60);
                border-radius: tablet-vw(60);
              }
            }

            & .header_status {
              height: tablet-vw(120);
              margin-top: tablet-vw(80);
            }

            & .header_text {
              height: tablet-vw(120);
            }

            & .header_table {
              & span {
                padding: tablet-vw(20) tablet-vw(40.8);
              }

              & > div {
                margin-top: tablet-vw(20);
                height: tablet-vw(80);
                border-radius: tablet-vw(40);
                border: tablet-vw(2) solid rgba(0, 0, 0, 0.2);
              }
            }

            & .header_custom_text {
              margin-top: tablet-vw(20);
              margin-bottom: tablet-vw(60);

              .message {
                width: tablet-vw(700) !important;
                height: tablet-vw(120);

                & .MuiOutlinedInput-notchedOutline {
                  border: tablet-vw(2) solid rgba(0, 0, 0, 0.2);
                }

                & .Mui-focused .MuiOutlinedInput-notchedOutline {
                  border: tablet-vw(2) solid $colorMain;
                }

                & .MuiInputBase-root.MuiOutlinedInput-root {
                  border-radius: tablet-vw(40);

                  .MuiInputBase-inputMultiline {
                    padding: 0 tablet-vw(40) !important;
                    line-height: tablet-vw(30);
                  }
                }
              }
            }

            & .header_btn {
              margin-bottom: tablet-vw(160);

              & > button {
                border-radius: tablet-vw(40);
              }

              & > button:first-child {
                height: tablet-vw(74);
                width: tablet-vw(324);
                border: tablet-vw(3) solid $colorMain;
              }

              & > button:last-child {
                height: tablet-vw(80);
                width: tablet-vw(330);
              }
            }
          }
        }
      }
    }
  }
}
