
@import "../settings";

.Zakazy{ 
    margin-top: 64px!important;
    z-index: 3;
    mix-blend-mode: multiply;
    
    @media (min-width: 800px) {
        margin-top: $MyScale380!important;
        margin-bottom: 140px!important;
        padding-top: 0px!important;

        margin-left: $MyScale125!important;
        width: $MyScale1560!important;
        padding-left: 0px!important;
    }

    & h1, h2{
        @include fontH1();
        text-align: start;
        width: 100%;
        padding-bottom: 20px;
        color: rgba(0, 0, 0, 0.8)!important;
    }
    & .mainContainer{
        padding-top: 0!important; 
        padding-bottom: 36px!important; ;
    }
    
    @media (max-width: 960px) {
        margin-top: 64px!important;
        margin-bottom: 64px; 
        padding-left: 24px!important;
        width: calc(100% - 24px);
    }

    & > div:last-child{
        display: flex;
        flex-flow: row wrap!important;
        margin-top: 5%;

        & > div{
            width: 100%;
            box-shadow: none;
            margin-bottom: 50px;

            &::before{
                opacity: 0;
            }
        }
        
    }
    & .blockTitle{
        padding: 0px;
        height: 4.9vw;
        & span{
            @include fontH1();
            color: rgba(0, 0, 0, 0.8)!important;
        }
    }
    & .blockTable{
        padding: 0;
        @media (max-width: 960px) {
            overflow: scroll;
        }
        & th{
            padding-left: 0;
            padding-top: 0;
            padding-bottom: 8px;
            border-width: 3px;
            @include font22_400();
            @media (max-width: 960px) {
                border-width: 2px;
            }
            white-space: nowrap;
        }
        & td{
            padding-left: 0;
            border-width: 3px;
            padding-top: 2%;
            padding-bottom: 2%;
            white-space: nowrap;
            @include font30_400();
            @media (max-width: 960px) {
                border-width: 2px;
            }
            & span{
                cursor: pointer;
                white-space: nowrap;
                border: 3px solid #e5e5e5;
                padding: 0.7vw 2.7vw;
                border-radius: 1.5vw;
                @include font30_400();
                @media (max-width: 960px) {
                    border: 2px solid #e5e5e5;
                    border-radius: 60px;
                }
            }
            &:first-child > div{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: -1.5px;
                & svg{
                    padding-right: 20px;
                    width: 2.2vw;
                    height: 2.2vw;
                    @media (max-width: 960px) {
                        width: 30px;
                        height: 30px;
                        padding-right: 10px;
                    }
                }
            }
            &:last-child{
                text-align: right;
                padding-right: 0;
            }
        }
    }
}