@import '../settings';

.ZakazyMobile {
  margin-top: $MyScale200_mobile;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;

  & .zakazyMain {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  & .zakazyLogin {
    display: flex;
    width: $MyScale920_mobile;
    height: $MyScale100_mobile;
    margin-top: $MyScale30_mobile;
    margin-bottom: $MyScale30_mobile;

    & a {
      margin-top: $MyScale10_mobile;

      & svg {
        width: $MyScale60_mobile;
        height: $MyScale60_mobile;
      }
    }

    & .loginContainer {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 auto;

      & span {
        @include font75_700();
      }

      & svg {
        width: $MyScale80_mobile;
        height: $MyScale80_mobile;
      }
    }
  }

  & .zakazyList {
    padding: 0;
    width: $MyScale920_mobile;

    & .zakazyHead {
      display: flex;
      height: $MyScale60_mobile;
      border-bottom: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);

      & span {
        text-align: center;
        height: $MyScale40_mobile;
        width: $MyScale180_mobile;
        @include font30_400();
      }

      span:nth-child(1) {
        margin-left: $MyScale40_mobile;
        margin-right: $MyScale10_mobile;
      }

      span:nth-child(2) {
        width: $MyScale170_mobile;
      }

      span:nth-child(3) {
        width: $MyScale170_mobile;
        margin-right: $MyScale60_mobile;
      }

      span:nth-child(4) {
        text-align: left;
      }
    }

    & .zakazyItem {
      display: flex;
      height: $MyScale160_mobile;
      border-bottom: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
      align-items: center;

      & span {
        @include font50_500();
      }

      span:nth-child(1) {
        margin-left: $MyScale40_mobile;
        margin-right: $MyScale30_mobile;
        width: $MyScale200_mobile;
      }

      svg:nth-child(2) {
        width: $MyScale80_mobile;
        height: $MyScale80_mobile;
        margin-right: $MyScale60_mobile;
      }

      span:nth-child(3) {
        width: $MyScale200_mobile;
        margin-right: $MyScale20_mobile;
      }

      & .zakazyGroup {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span:nth-child(1) {
          margin: 0;
          width: $MyScale218_mobile;
        }

        svg {
          margin: 0;
          width: $MyScale21_mobile;
          height: $MyScale35_mobile;
        }

        & .zakazyEllipse {
          display: flex;
          justify-content: space-between;
          height: $MyScale60_mobile;
          width: $MyScale100_mobile;
          margin-right: $MyScale40_mobile;

          svg {
            width: $MyScale20_mobile;
            height: $MyScale20_mobile;
          }

          svg:nth-child(1) {
            align-self: center;
          }

          svg:nth-child(3) {
            align-self: center;
            margin-bottom: $MyScale20_mobile;
          }
        }
      }
    }
  }
}

.ZakazyModalYear {
  & .MuiDialog-container {
    display: flex;
    align-items: flex-end;

    & .MuiDialog-paper {
      border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
      overflow: visible;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: none !important;
      max-height: calc(100% - $MyScale200_mobile);

      & .MuiDialogContent-root {
        padding: 0;
        overflow: 'hidden';

        .ContainerZakazyModalYear {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: $MyScale172_mobile;

          & .Line {
            height: $MyScale10_mobile;
            width: $MyScale150_mobile;
            background: rgba(0, 0, 0, 0.2);
            border-radius: $MyScale5_mobile;
            margin-bottom: $MyScale80_mobile;
            margin-top: $MyScale40_mobile;
          }

          & .loginHeader {
            height: $MyScale120_mobile;
            margin-bottom: $MyScale26_mobile;
            display: flex;
            align-items: center;
            justify-content: center;
            @include font75_700();
          }

          & ul {
            width: $MyScale920_mobile;
            padding: 0;
            & li {
              height: $MyScale160_mobile;
              border-bottom: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
              padding: 0;
              & span {
                margin-left: $MyScale40_mobile;
                @include font50_500();
              }
            }
          }
        }
      }
    }
  }
}

#ZakazyModalOrder {
  & .MuiDrawer-paper {
    max-height: calc(100% - $MyScale200_mobile);
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
    overflow-y: auto;

    .ContainerZakazyModalOrder {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .Line {
        height: $MyScale10_mobile;
        width: $MyScale150_mobile;
        background: rgba(0, 0, 0, 0.2);
        border-radius: $MyScale5_mobile;
        margin-bottom: $MyScale110_mobile;
        margin-top: $MyScale40_mobile;
      }

      & .zakazyLogin {
        height: $MyScale100_mobile;
        width: $MyScale920_mobile;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $MyScale20_mobile;

        & span {
          @include font75_700();
        }

        & svg {
          height: $MyScale100_mobile;
          width: $MyScale100_mobile;
        }
      }

      & .zakazyTimeText {
        height: $MyScale80_mobile;
        width: $MyScale920_mobile;
        display: flex;
        align-items: flex-end;
        margin-bottom: $MyScale60_mobile;

        & span:nth-child(1) {
          @include font50_500();
        }

        & span:nth-child(2) {
          color: rgba(0, 0, 0, 0.4) !important;
          @include font40_400();
          line-height: $MyScale50_mobile;
        }
      }

      & .zakazySvgGroup {
        height: $MyScale120_mobile;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $MyScale80_mobile;
        position: relative;

        & .zakazyCircle {
          height: $MyScale120_mobile;
          width: $MyScale120_mobile;
          border-radius: $MyScale120_mobile;
          display: flex;
          align-items: center;
          justify-content: center;

          & svg {
            height: $MyScale80_mobile;
            width: $MyScale80_mobile;
          }
        }

        & > span {
          width: $MyScale133_mobile;
          height: $MyScale6_mobile;
          border-radius: $MyScale3_mobile;
        }
      }

      & .zakazyDivider {
        height: $MyScale6_mobile;
        border-radius: $MyScale6_mobile;
        width: $MyScale920_mobile;
        background: rgba(0, 0, 0, 0.8);
      }

      & .zakazy_dop_1 {
        height: $MyScale120_mobile;
        width: $MyScale920_mobile;
        border-bottom: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;

        & span {
          @include font50_500();
        }

        & svg {
          height: $MyScale80_mobile;
          width: $MyScale80_mobile;
        }

        & svg:nth-child(1) {
          margin-left: $MyScale20_mobile;
          margin-right: $MyScale20_mobile;
        }

        & span:nth-child(2) {
          width: $MyScale200_mobile;
          margin-right: $MyScale10_mobile;
        }

        & svg:nth-child(3) {
          margin-right: $MyScale40_mobile;
        }

        & span:nth-child(4) {
          width: $MyScale460_mobile;
        }
      }

      & .zakazy_dop_2 {
        width: $MyScale920_mobile;
        min-height: $MyScale130_mobile;
        display: flex;
        padding-top: $MyScale20_mobile;
        padding-bottom: $MyScale23_mobile;
        align-items: center;

        & span {
          @include font50_500();
        }

        & svg:nth-child(1) {
          height: $MyScale80_mobile;
          width: $MyScale80_mobile;
          margin-left: $MyScale10_mobile;
          margin-right: $MyScale20_mobile;
        }

        & span:nth-child(2) {
          max-width: $MyScale700_mobile;
        }

        & .divGroup {
          max-width: $MyScale700_mobile;
          min-height: $MyScale60_mobile;
          margin-right: $MyScale20_mobile;

          & span {
            margin-right: $MyScale20_mobile;
          }

          & .svgGroup {
            margin-top: $MyScale10_mobile;
            margin-bottom: $MyScale5_mobile;
            height: $MyScale20_mobile;
            width: $MyScale207_mobile;
          }
        }

        & .svgEye {
          margin-left: auto;
          margin-right: $MyScale10_mobile;
          height: $MyScale80_mobile;
          width: $MyScale80_mobile;
        }
      }

      & .zakazySum {
        height: $MyScale96_mobile;
        width: $MyScale920_mobile;
        display: flex;
        justify-content: space-between;
        border-bottom: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);

        & span {
          height: $MyScale60_mobile;
        }

        & span:nth-child(1) {
          display: flex;
          align-items: center;
          @include font40_500();
          margin-left: $MyScale10_mobile;
        }

        & span:nth-child(2) {
          @include font50_500();
        }
      }

      & .zakazyOrder {
        width: $MyScale920_mobile;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);

        & span {
          display: flex;
          align-items: center;
          height: $MyScale60_mobile;
          @include font40_400();
        }

        & span:nth-child(1) {
          width: $MyScale80_mobile;
          margin-left: $MyScale10_mobile;
        }

        & span:nth-child(2) {
          width: $MyScale600_mobile;
        }

        & span:nth-child(3) {
          justify-content: flex-end;
          width: $MyScale200_mobile;
        }
      }

      & .zakazyBTN {
        width: $MyScale690_mobile;
        height: $MyScale120_mobile;
        border-radius: $MyScale60_mobile;
        margin-bottom: $MyScale232_mobile;
        border: $MyScale3_mobile solid #dd1a32;
        text-transform: lowercase;
        & span {
          @include font50_500();
          color: #dd1a32 !important;
          &:first-letter {
            text-transform: capitalize;
          }
        }
      }

      & .zakazyRepeat {
        width: $MyScale690_mobile;
        height: $MyScale120_mobile;
        border-radius: $MyScale60_mobile;
        margin-bottom: $MyScale232_mobile;
        background: #dd1a32;
        text-transform: lowercase;
        & span {
          @include font50_500();
          color: #fff !important;
          &:first-letter {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

.ZakazyModalOrderDelete {
  z-index: 9999;

  & .MuiPaper-root {
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
    overflow: visible;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none !important;
    max-height: calc(100% - $MyScale200_mobile);

    & .MuiDialogContent-root {
      padding: 0;
      overflow: 'hidden';

      .ContainerZakazyModalOrderDelete {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .Line {
          height: $MyScale10_mobile;
          width: $MyScale150_mobile;
          background: rgba(0, 0, 0, 0.2);
          border-radius: $MyScale5_mobile;
          margin-bottom: $MyScale80_mobile;
          margin-top: $MyScale40_mobile;
        }

        & .loginHeader {
          height: $MyScale120_mobile;
          margin-bottom: $MyScale60_mobile;
          display: flex;
          align-items: center;
          justify-content: center;
          @include font75_700();
        }

        & .loginText {
          height: $MyScale200_mobile;
          width: $MyScale920_mobile;
          display: flex;
          flex-direction: column;
          align-items: center;
          @include font40_400();
          margin-bottom: $MyScale5_mobile;
        }

        & .zakazyAnswer {
          height: $MyScale120_mobile;
          width: $MyScale860_mobile;
          border-radius: $MyScale60_mobile;
          border: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
          margin-bottom: $MyScale20_mobile;
          display: flex;
          align-items: center;
          @include font40_400();
          padding-left: $MyScale60_mobile;
        }

        & .zakazyText {
          margin-bottom: $MyScale65_mobile;

          .message {
            margin: 0;
            height: $MyScale180_mobile;
            width: $MyScale920_mobile !important;

            & .MuiOutlinedInput-notchedOutline {
              border: $MyScale3_mobile solid rgba(0, 0, 0, 0.2);
            }

            & .Mui-focused .MuiOutlinedInput-notchedOutline {
              border: $MyScale3_mobile solid $colorMain;
            }

            & .MuiInputBase-root.MuiOutlinedInput-root {
              border-radius: $MyScale60_mobile;
              padding: 0;
              margin: 0;
              height: 100%;

              & textarea {
                padding: 0 $MyScale60_mobile;
                @include font40_400();
                line-height: $MyScale40_mobile;
              }

              & fieldset {
                padding: 0;
                top: 0;
                & legend {
                  line-height: 0;
                }
              }
            }
          }
        }

        & .dopText {
          height: $MyScale120_mobile;
          width: $MyScale920_mobile;
          margin-top: $MyScale50_mobile;
          display: flex;
          flex-direction: column;
          align-items: center;
          @include font40_400();
          margin-bottom: $MyScale75_mobile;
        }

        & .buttonBack {
          width: $MyScale650_mobile;
          height: $MyScale120_mobile;
          border-radius: $MyScale60_mobile;
          margin-bottom: $MyScale40_mobile;
          padding: 0;
          text-transform: lowercase;

          & span {
            @include font50_500();
            color: #fff !important;
            &:first-letter {
              text-transform: capitalize;
            }
          }
        }

        & .buttonDelete {
          width: $MyScale650_mobile;
          height: $MyScale120_mobile;
          border-radius: $MyScale60_mobile;
          margin-bottom: $MyScale550_mobile;
          padding: 0;
          text-transform: lowercase;
          border: $MyScale3_mobile solid #dd1a32;

          & span {
            @include font50_500();
            color: #dd1a32 !important;
            &:first-letter {
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}
