@import "./settings";

.PAGEabout{ 
    margin-top: 64px!important;

    @media (min-width: 800px) {
        margin-top: 140px!important;
        margin-bottom: 140px!important;

        margin-left: 4.51%;
        width: 56.32%;
    }

    

    & h1, h2{
        @include fonsNew(2rem, var(--inter-font));
        text-align: start;
        width: 100%;
        font-weight: 600;
        padding-bottom: 20px;
        
    }
    & h2{
        padding-top: 10px;
    }

    & img{
        border-radius: 20px;
    }
    & a{
        text-decoration: none;
        color: $colorMain;
    }
    
    @media (max-width: 960px) {
        margin-top: 64px!important;
        margin-bottom: 64px; 
        margin-left: 0px;
        padding-left: 48px!important;
        width: calc(100% - 24px);
        
        & h1, h2{
            @include fonsNew(1.7rem, var(--inter-font));
        }
    }
    & .MyAccordion{
        box-shadow: none;
        border-radius: 0!important;
        border-bottom: 1px solid #e5e5e5;
        margin: 0px !important;
    }
    & .about > p:last-child{
        text-align: center;
    }
    
    & p, li{
        @include fonsNew(0.925rem, var(--inter-font));
        font-weight: 400;
        line-height: 1.5;
    }
}