@import "./settings";

.PAGEabout{ 
    margin-top: 64px!important;

    @media (min-width: 800px) {
        margin-top: 140px!important;
        margin-bottom: 140px!important;

        padding-left: 10%;
        padding-right: 10%;
    }

    & h1{
        @include fonsNew(2rem, var(--inter-font));
        text-align: start;
        width: 100%;
        font-weight: 600;
    }
    & h2{
        @include fonsNew(1.1rem, var(--inter-font));
    }
    & .mainContainer{
        padding-top: 0!important; 
        padding-bottom: 36px!important;
    }
    @media (min-width: 960px) {
        margin-left: 8.35% !important; 
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    @media (max-width: 960px) {
        margin-top: 64px!important;
        margin-bottom: 64px; 
        margin-left: 0px;
        width: calc(100% - 24px);
        
        & h1{
            @include fonsNew(1.7rem, var(--inter-font));
            text-align: center;
        }
    }
    & .MyAccordion{
        box-shadow: none;
        border-radius: 0!important;
        border-bottom: 1px solid #e5e5e5;
        margin: 0px !important;
    }
    & .about > p:last-child{
        text-align: center;
    }
    
    & p, li{
        @include fonsNew(0.925rem, var(--inter-font));
        font-weight: 400;
        line-height: 1.5;
    }
}
