@import "./settings";

.MuiSnackbarContent-root.MuiPaper-elevation6{
    box-shadow: none;
}
.Actii{
    margin-top: 64px!important;
    @media (min-width: 800px) {
        margin-top: 13vw!important;
        margin-bottom: 140px!important;

        margin-left: 4.5%!important;
        margin-right: 4.5%!important;
        width: 91%!important;
        padding-left: 0px!important;
    }
    
    & h1, h2{
        @include fontH1();
        color: rgba(0, 0, 0, 0.8)!important;
        text-align: center;
        margin-bottom: 20px!important;
    }
    & img{
        border-radius: 25px; 
        width: 100%;
        height: auto;
    }
    & .mainContainer{
        padding-top: 0!important; 
        padding-bottom: 36px!important; ;
    }
    @media (max-width: 960px) {
        margin-top: 64px!important;
        margin-bottom: 64px; 
        margin-left: 0px;
        width: calc(100% - 24px);
    }
}
.modalActii{
    & h6, h2{
        text-align: center;
        @include fontH2_custom();
    }
    & .modalActiiContent{
        overflow: auto;
        //padding-top: 0!important;
        & *{
            @include font30_400();
        }
    }
    & .MuiDialog-paper{
        margin: 12px!important;
        border-radius: 25px;
        overflow: visible;
    }
    & .AkciiActivePromo{
        @include fonsNew(1rem, var(--inter-font));
        background-color: $colorMain;
        color: #fff;
    }
}