@use "./settings" as *;

.badgecontainer{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    & > .badge:not(:first-child){
        margin-top: 5px;
    }
}

.badge{
    &.container{
        //position: absolute;
        //top: 20px;
        //left: 20px;
        position: relative;
        &.mobile{
            top: 0;
            left: -10px;
        }
    }
    & > .shadow{
        width: 114px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 30px;
        padding-left: 15px;
        padding-right: 15px;
        &.small{
            width: 84px;
            height: 34px;
        }
        &.smallshort{
            width: 44px;
            height: 34px;
        }
        &.bigshort{
            width: 64px;
            height: 44px;
        }
    }
    & > .box{
        width: 110px;
        height: 40px;
        border-radius: 30px;
        display: flex;
        justify-content: center; 
        align-items: center;
        position: absolute;
        top: 2px;
        left: 2px;
        padding-left: 15px;
        padding-right: 15px;
        & > span{
            @include fonsNew(1rem, var(--inter-font));
            color: #fff!important;
            text-transform: uppercase;
        }
        &.small{
            width: 80px;
            height: 30px;
            & > span{
                @include fonsNew(0.75rem, var(--inter-font));
            }
        }   
        &.smallshort{
            width: 40px;
            height: 30px;
            & > span{
                @include fonsNew(0.75rem, var(--inter-font));
            }
        }  
        &.bigshort{
            width: 60px;
            height: 40px;
        }
    }     
}