@use './settings' as *;

.badgecontainer {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > .badge:not(:first-child) {
    margin-top: 5px;
  }
}

.badge.container {
  position: relative;
  width: fit-content;
  height: fit-content;

  &.mobile {
    left: -10px;
  }

  & > .shadow {
    display: none;
  }

  & > .box {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 5px;
    padding: 5px 7px;
    white-space: nowrap;

    & > .MuiTypography-root {
      display: block;
      margin: 0;
      padding: 0;
      color: #fff;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0;
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap;
    }

    &.small,
    &.smallshort {
      border-radius: 4px;
      padding: 4px 6px;

      & > .MuiTypography-root {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}

@include mobile-only {
  .badgecontainer {
    top: 10px;
    left: 10px;

    & > .badge:not(:first-child) {
      margin-top: 10px;
    }
  }

  .badge.container.mobile {
    left: 0;
  }
}

@include tablet-only {
  .badgecontainer {
    top: tablet-vw(20);
    left: tablet-vw(20);

    & > .badge:not(:first-child) {
      margin-top: tablet-vw(5);
    }
  }

  .badge.container.pc > .box.big,
  .badge.container.pc > .box.bigshort {
    border-radius: 4px;
    padding: 4px 6px;

    & > .MuiTypography-root {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
