@import "./settings";

.MuiAccordionSummary-content span{
    padding: 0!important;
}
.Contact{
    margin-top: 64px!important;
    @media (min-width: 800px) {
        margin-top: 140px!important;
    }
    & h1{
        @include fonsNew(2rem, $Roboto);
    }
    & h2{
        @include fonsNew(1.3rem, $Roboto);
    }
    & span, h2, a{
        padding-left: 12px;
        padding-right: 12px;
    }
    & span, a{
        @include fonsNew(0.9rem, $Roboto);
        width: max-content;
        text-decoration: none;
        @media (max-width: 500px) {
            @include fonsNew(1rem, $Roboto);
        }
    }
    & .p20{
        padding-bottom: 20px;
    }
    & > div:first-child{
        text-align: center;
    }
    & > div:not(:first-child):not(:last-child){
        display: flex;
        flex-direction: column;
    }
    .Accordion{
        padding-left: 12px;
        padding-right: 12px;
        & .MuiAccordionSummary-content{
            width: 100%;
            display: block;
        }
        & > div{
            box-shadow: none!important;
            & > div{
                padding: 0;
            }
        }
        & .AccordionDesc{
            & b, span{
                @include fonsNew(0.8rem, $Roboto);
            }
        }
        & .MuiTouchRipple-root{
            display: none;
        }
    }
    @media (min-width: 960px) {
        margin-left: 8.35% !important; 
        flex-grow: 0;
        max-width: 83.333333%; 
        flex-basis: 83.333333%;
    }
    @media (max-width: 960px) {
        margin-top: 64px!important;
        margin-bottom: 64px;
        & > div{
            margin-left: 0px;
            width: calc(100% - 24px);
        }
        & h1{
            @include fonsNew(1.7rem, var(--inter-font));
            text-align: center;
        }
    }
}

#ForMap{
    min-height: 400px;
    height: 40%;
    width: calc(100% - 104px);
    @media (max-width: 960px) {
        margin-bottom: 40px;
        margin-left: 12px;
        margin-right: 12px; 
    }
}
.my-hint{
    width: 220px;
    @include fonsNew(0.9rem, $Roboto);
    display: inline-block;
    position: relative;
    left: -120px;
    top: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    padding: 16px;
}