@import './settings';

.DocsBreadcrumbs {
  margin-top: $MyScale300 !important;
  margin-left: $MyScale160 !important;
  width: $MyScale840;

  @media (max-width: 800px) {
    display: none;
  }

  & > div {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: $MyScale80 !important;
    display: grid;
    position: sticky;
    top: $MyScale300 !important;

    & > span {
      margin-top: $MyScale80;
      margin-left: $MyScale80;
      margin-right: $MyScale80;
      height: $MyScale40;
      line-height: $MyScale40;
      @include font30_700();
      text-transform: uppercase;

      @media (max-width: 800px) {
        @include font35_700();
      }
    }
    & > div {
      margin-top: $MyScale80;
      margin-left: $MyScale80;
      margin-right: $MyScale80;
      height: $MyScale40;
      & > span {
        @include font30_700();
        text-transform: uppercase;

        @media (max-width: 800px) {
          @include font35_700();
        }
      }
    }

    & > ul {
      margin-left: $MyScale60;
      margin-right: $MyScale80;
      margin-top: $MyScale20;
      margin-bottom: $MyScale70;
      min-height: $MyScale300;
      padding-left: $MyScale45;

      & > li.activeMarker {
        color: $colorMain;
      }

      & > li {
        min-height: $MyScale60;
        line-height: $MyScale60;
        @include font30_400();

        @media (max-width: 800px) {
          @include font35_400();
        }
        & > a {
          @include font30_400();
          text-decoration: none;
          cursor: pointer;

          @media (max-width: 800px) {
            @include font35_400();
          }
        }
        & > a.active {
          color: $colorMain;
        }
        & > a:not(.active) {
          color: $colorText;
        }
      }
    }
  }
}
