@import "./settings";

.DocsBreadcrumbs{
    @media (max-width: 799px) {
        display: none;
    }
    margin-top: 64px!important;
    
    @media (min-width: 800px) {
        display: block;
        //margin-top: 15vw!important;
        margin-top: 10vw!important;
        margin-bottom: 140px!important;

        margin-left: 5.78%!important;
        margin-right: 4.5%!important;
        width: 28.87%!important;
        padding-left: 0px!important;
    }

    & > div{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.07);
        border-radius: 3vw;
        display: grid;
        position: sticky;
        top: 180px;

        & > span{
            @include fonsNew(1.14vw, var(--inter-font));
            font-weight: 700;
            padding: 10% 5% 0px 10%;
            text-transform: uppercase;
        }
        
        & > ul{
            padding: 3% 0% 10% 13%;
            line-height: 1.8;
            margin: 0;
            & > li{
                @include fonsNew(1.14vw, var(--inter-font));
                font-weight: 400;
                letter-spacing: -0.045vw;
                & > a.active{
                    color: $colorMain;
                    text-decoration: none;
                    cursor: pointer;
                }
                & > a:not(.active){
                    color: $colorText;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}