@import "./settings";

.footer{
    background-color: rgba(0, 0, 0, 0.07);
    width: calc(100% - 9.02%);
    padding-left: 4.51%;
    padding-right: 4.51%;

    & > div:first-child{
        padding-top: 60px;
        padding-bottom: 25px;
        
    }
    & > div:last-child{
        padding-bottom: 60px;
    }
    

    & > div > div:not(:last-child){
        display: flex;
        flex-direction: column;
    }
    & > div > div:last-child{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    & span:not(.copy){
        @include fonsNew(0.925rem, $Roboto);
        font-weight: 700;
        padding: 15px 0px 15px 0px
    }
    & span.copy{
        @include fonsNew(0.825rem, $Roboto);
        font-weight: 400;
    }
    & a{
        @include fonsNew(0.925rem, $Roboto);
        font-weight: 300;
        text-decoration: none;
        padding: 15px 0px 15px 0px
    }
    & svg{
        fill: rgba(145, 143, 144, 1);
        width: 50px;
        height: 50px;
        padding: 0 30px;
    }
}