@charset "utf-8";
@import "./settings";

body{
    margin: 0px;
    //padding: 0px !important;
}
#__next > div{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.itemAutocomplited{
    @include font30_700();
    @media (max-width: 800px) {
        @include font40_400();
    }
}