@import "./settings";

.headerNewMobile{
    z-index: 1200!important;
    background-color: #fff!important;
    & > div{
        padding: 0px!important;
        margin: 0px 20px 0px 20px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 0px){
            height: 60px;
            min-height: 60px;
        }
    }
}
.headerNew{
    z-index: 1200!important;
    background-color: #fff!important;
    & img{
        width: 100%;
        height: auto;
    }
    & > div{
        padding: 0px!important;
        margin: 0px!important;
        @media (min-width: 0px){
            height: 100px;
            min-height: 100px;
        }
        & .headerCat:not(.activeCat){
            @include fonsNew(1.25rem, $Roboto);
            font-weight: 300;
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover{
                border-radius: 15px;
                background-color: #f9ebce;
            }
        }
        & .headerCat.activeCat{
            @include fonsNew(1.25rem, $Roboto);
            font-weight: 400;
            border-radius: 15px;
            background-color: #F9BC23;
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover{
                border-radius: 15px;
                font-weight: 400;
                background-color: #e1b242;
            }
        }
        & .headerProfile{
            height: 56px;
            border-radius: 120px;
            background-color: #fff;
            border: 2px solid #F9BC23;
            cursor: pointer;
            & span{
                @include fonsNew(0.95rem, $Roboto);
                font-weight: 300;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:hover{
                background-color: #fdf8ed;
            }
            &:target{
                background-color: #f9ebce;
            }
        }
        & .headerCart.count{
            justify-content: space-between;
            & span{
                margin-left: 22px;
            }
            & > div{
                margin-right: 12px;
            }
        }
        & .headerCart{
            height: 60px;
            border-radius: 120px;
            background-color: #F9BC23;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            & span{
                @include fonsNew(1.25rem, $Roboto);
                font-weight: 400;
            }
            &:hover{
                background-color: #e1b242;
            }
            &:target{
                background-color: #cf9f37;
            }
            & > div{
                background-color: $colorMain;
                border-radius: 120px;
                @include fonsNew(1.25rem, $Roboto);
                font-weight: 400;
                color: #fff;

                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}