.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}


@import "./settings";


.HomeSubCatList{
    height: 100%;
    background-color: #fff;
    position: sticky; 
    top: 110px;
    z-index: 1000;
    //padding-top: 10px;
    padding-bottom: 10px;
    & > .subHeaderBlock{
        height: 100%;
        width: 100%;
        margin-left: 20px;
        overflow-x: auto;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        scrollbar-width: none;
        display: flex;
        flex-direction: row;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        & > a:last-child > span{
            margin-right: 20px;
        }
        & > a > span{
            @include fonsNew(0.875rem, var(--inter-font));
            text-align: center;
            height: 30px;
            border-radius: 10px;
            margin-right: 5px;
            padding-left: 18px;
            padding-right: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        & > a > span:not(.activeCat){
            background-color: rgba(#F9BC23, 0.6);
            font-weight: 400;
        }
        & > a > span.activeCat{
            background-color: #F9BC23;
            font-weight: 700;
        }
    }
}
.HomeCatList{
    height: 100%;
    background-color: #fff;
    position: sticky; 
    top: 60px;
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
    & > .subHeaderBlock{
        margin-left: 20px;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        flex-direction: row;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        & > a:last-child > span{
            margin-right: 20px;
        }
        & > a > span{
            @include fonsNew(0.875rem, var(--inter-font));
            text-align: center;
            height: 30px;
            border-radius: 10px;
            margin-right: 5px;
            padding-left: 18px;
            padding-right: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        & > a > span:not(.activeCat){
            background-color: rgba(#F9BC23, 0.6);
            font-weight: 400;
        }
        & > a > span.activeCat{
            background-color: #F9BC23;
            font-weight: 700;
        }
    }
    
}

.TEST123{
  font-family: var(--inter-font);
  font-size: 0.9rem;
  font-weight: 400;
  color: #525252;
}

.hidddenText5{
  font-family: var(--inter-font);
  font-size: 0.925rem;
  color: #525252;
}

.swiper-wrapper._h2_{
    height: auto!important;
}
.modalActii.Item .MuiTabs-scroller.MuiTabs-fixed > div{
    justify-content: flex-start!important;
}
.modalActii.Item .MuiPaper-rounded{
    border-radius: 30px!important;
}
.modalActii.Item .modalActiiContent{
    & span:not(.dopItemName):not(.ItemDesc), p:not(.dopItemName):not(.ItemDesc), b:not(.dopItemName):not(.ItemDesc){
        //@include fonsNew(0.8rem, var(--inter-font));
    }
}
.OpenItemPCSet .MuiDialog-paper{
    overflow-y: visible;
    //height: 44%;
    //margin-top: 17%;
}
.OpenItemPCSet .MuiDialog-scrollPaper{
    align-items: flex-end!important;
}
.InfoScroll{
    &::-webkit-scrollbar-thumb{
        background-color: #525252;
    }
}
.modalActiiContentNew{
    &::-webkit-scrollbar-thumb{
        background-color: #525252;
    }
    &::-webkit-scrollbar{
        background-color: transparent;
    }
    &::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.hidddenText3{
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.ModalItemButtonCart{
    &:hover{
        background-color: rgba(249, 188, 35, 0.1)!important;;
    }
    &:not(:hover){
        background-color: #fff!important;
    }
}
.imgSVG{
    height: 30px;
    width: 20px;
    position: absolute;
    left: 33px;
    bottom: -13px;
    & svg{
        margin-top: 12px;
        margin-left: 2px;
    }
}
.Category{
    & h1, h2{
        @include fonsNew(2rem, var(--inter-font));
        text-align: center;
        font-weight: 600;
        width: 100%;
    }
    & h3{
        //@include fonsNew(1.2rem, var(--inter-font));
        //font-weight: bold;
    }
}
.ItemDialog:not(.OpenItemMobInfo){
    & .MuiDialog-paperFullScreen{
        margin-top: 100px;
        overflow: initial!important;
    }
    & .MainItem_mobile{
        margin-top: 30px!important;
    }
    & span, p, b{
        //@include fonsNew(1rem, var(--inter-font));
    }
}
.blurBacground div{
    background-color: transparent;
    box-shadow: none!important;
}
.ItemDialog div{
    box-shadow: none!important;
}
.fohover{
    & .NONHOVERED{
        display: grid;
    }
    & .HOVERED{
        display: none;
    }
    &:hover{
        & .NONHOVERED{
            display: none!important;
        }
        & .HOVERED{
            display: grid!important;
        }
    }
}

.swiper_mobile{
    padding-top: 60px!important;
    margin-bottom: 20px!important;
    & .swiper-slide-prev{
        //margin-right: 5vw!important;
        //width: calc(80vw - 0px) !important;
        //margin-left: -43vw !important;
    }
    & ._h2_:not(._count_1) .swiper-slide-active{
        width: 100%;
        //width: calc(80vw - 0px )!important;
        //margin-right: 5vw!important;
    }
    & .swiper-slide-next{
        //margin-right: 5vw!important;
        //width: calc(80vw - 0px )!important;
    }
}

.swiper_pc{
    margin-top: 60px!important;
    @media (min-width: 800px) {
        margin-top: 100px!important;
    }
    margin-bottom: 20px!important;
    & .swiper-slide-prev{
       // margin-right: 5vw!important;
        //width: calc(80vw - 0px) !important;
        //margin-left: -48.5vw !important;
    }
    & ._h2_:not(._count_1) .swiper-slide-active{
        width: 100%;
        //width: calc(80vw - 0px )!important;
        //margin-right: 5vw!important;
    }
    & .swiper-slide-next{
        //margin-right: 5vw!important;
        //width: calc(80vw - 0px )!important;
    }
}
.IconButtonClose svg{
    width: inherit;
    height: inherit;
    fill: #fff;
    color: #fff;
    overflow: visible;
}
.swiper-button-prev{
    width: 100px!important;
    height: 100%!important;
    top: 0!important;
    z-index: 1!important;
    position: absolute!important;
}
.swiper-button-next{
    width: 100px!important;
    height: 100%!important;
    top: 0!important;
    right: 0!important;
    z-index: 1!important;
    position: absolute!important;
}
.swiper-button-next:after, .swiper-button-prev:after{
    color: transparent;
}

.swiper-pagination-bullet{
    font-size: 0;
    width: 2px;
    height: 2px;
    padding: 6px;
    margin-right: 20px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #fff;
}
.swiper-pagination-bullet-active{
    font-size: 0;
    width: 2px;
    height: 2px;
    padding: 6px;
    border-radius: 50%;
    margin-right: 20px;
    opacity: 1;
    background-color: #fff;
}

.swiper-pagination-bullets{
    text-align: center;
    position: absolute;
    z-index: 1;
    margin: auto;
    left: 0;
    bottom: 20px;
    right: 0;
}

.CardItem{
    max-width: 345px; 
    min-height: 300px;
    display: flex; 
    flex-direction: column!important; 
    align-items: stretch;
    justify-content: space-between;
    &:hover img{
        transform: translate(0,5px);
        -webkit-transform: translate(0,5px);
        -o-transform: translate(0,5px);
        -moz-transform: translate(0,5px);
        
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
        -moz-transition: all 0.2s ease-in-out; /** Firefox **/
        -o-transition: all 0.2s ease-in-out; /** Opera **/
    }
    & > div:first-child{
        padding: 0;
    }
    & img{
        /*max-width: 100%;
        width: auto;
        padding: 0px 1.2vw;*/
        width: 100%;
        height: auto;
    }
    & .CardInfoItem{
        @include fonsNew(0.7rem, var(--inter-font));
        color: #666;
        text-align: justify;
    }
    & .CardCountItem{
        @include fonsNew(1rem, var(--inter-font));
    }
    & a{
        color: #000;
        text-decoration: none;
    }
    & .CardNameItem{
        @include fonsNew(1.7rem, var(--inter-font));
        font-weight: 500;
        text-align: center;
        color: #525252;
    }
    & .CardInfoWeiItem{
        @include fonsNew(0.8rem, var(--inter-font));
    }
    & .CardPriceItem{
        @include fonsNew(1.2rem, var(--inter-font));
        display: flex;
        align-items: flex-end;
        font-weight: bold;
        position: relative;
        & > svg{
            padding-bottom: 4px;
            font-size: 1.2rem;
            padding-left: 2px;
        }
    }
    & .CardPriceItem_old{
        @include fonsNew(1rem, var(--inter-font));
        display: flex;
        align-items: center;
        font-weight: bold;
        position: relative;
        right: 10%;
        color: #bbbdc0;
        & > svg{
            padding-bottom: 4px;
            font-size: 1.2rem;
            padding-left: 2px;
            fill: #bbbdc0;
        }
    }
    & .CardPriceItem_old:before {
        border-bottom: 2px solid #bbbdc0;
        position: absolute;
        top: 0px;
        content: "";
        width: 60%;
        right: 34px;
        height: 50%;
        transform: rotate(15deg);
    }
    & .CardInCardItem{
        width: 100%;
        text-align: center;
        @include fonsNew(0.8rem, var(--inter-font));
        fill: $colorMain;
        border-radius: inherit!important;
        text-transform: none;
    }
    & .CardAction{
        flex-direction: column;
        align-items: flex-end!important;
        padding: 1.2vw!important;
        width: calc(100% - 2.4vw);
    }
}
.CardItem_mobile{
    & .SecondBox{
        display: flex;
        flex-direction: column;
        z-index: 1;
        & > div{
            margin-top: auto;
            display: flex;
            flex-direction: row; 
            align-items: flex-end;
            justify-content: space-between;
            padding-top: 5px;
        }
    }
    & .CardNameItem{
        @include fonsNew(1.2rem, var(--inter-font));
        font-weight: bold;
    }
    & .CardInfoWeiItem{
        @include fonsNew(0.8rem, var(--inter-font));
    }
    & .CardPriceItem{
        @include fonsNew(1.2rem, var(--inter-font));
        display: flex;
        align-items: flex-end;
        & > svg{
            padding-bottom: 5px;
            font-size: 1rem;
            padding-left: 2px;
        }
    }
    & .CardPriceItem_old{
        @include fonsNew(0.8rem, var(--inter-font));
        display: flex;
        align-items: center;
        font-weight: 100;
        position: relative;
        color: #bbbdc0;
        & > svg{
            padding-bottom: 5px;
            font-size: 1rem;
            padding-left: 2px;
            fill: #bbbdc0;
        }
    }
    & .CardPriceItem_old:before {
        border-bottom: 1px solid #bbbdc0;
        position: absolute;
        top: 0px;
        content: "";
        width: 70%;
        right: 20px;
        height: 50%;
        transform: rotate(15deg);
    }
    & .CardInCardItem{
        width: 100%;
        text-align: center;
        @include fonsNew(0.8rem, var(--inter-font));
        fill: $colorMain;
        border-radius: inherit!important;
    }
    & .CardInfoItem{
        @include fonsNew(0.7rem, var(--inter-font));
        text-align: justify;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }
    & .CardInfoItem_{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }
    & > div:first-child{
        display: flex;
        justify-content: center;
        align-items: center;
    }
} 
/*#cat10 .CardItem_mobile img, 
#cat13 .CardItem_mobile img, 
#cat12 .CardItem_mobile img, 
#cat9 .CardItem_mobile img, 
#cat6 .CardItem_mobile img, 
#cat7 .CardItem_mobile img{
    margin-right: 10px;
    left: -18%!important;
    width: 130%!important;
    display: block;
    position: relative;
    z-index: 1;
}*/
.alice-carousel{
    margin-top: 50px!important;
    height: max-content;
    @media (max-width: 1280px){
        margin-top: 83px!important;
    }
    & .alice-carousel__stage-item img{
        width: 100%;
    }
    & .alice-carousel__prev-btn, .alice-carousel__next-btn{
        position: absolute;
        top: 0;
        width: 20%!important;
        height: calc(100% - 38px);
    }
    & .alice-carousel__prev-btn-wrapper, .alice-carousel__next-btn-wrapper{
        width: 100%;
        height: 100%;
    }
    & .alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
        font-size: 2rem;
        color: #fff!important;
        width: 100%;
        height: 100%;
        display: flex!important;
        justify-content: center;
        align-items: center;
        padding: 0px!important;
        & > span{
            opacity: 0;
        }
    }
    & .alice-carousel__next-btn{
        right: 0;
    }
    & .alice-carousel__dots{
        margin: 15px 3px 5px!important;    
    }
    & .alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
        background-color: $colorMain!important;
        opacity: 1;
    }
    & .alice-carousel__dots-item:not(.__custom) {
        background-color: $colorMain!important;
        opacity: 0.5;
    }
}
.MainItems.mainContainer{
    & > div{
        max-height: auto;
    }
    @media (min-width: 1280px) {
        margin-left: 5% !important; 
    }
    @media (min-width: 960px){
        margin-left: 0;
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
    @media (min-width: 1280px) {
        margin-left: 5% !important; 
        flex-grow: 0;
        max-width: 90%;
        flex-basis: 90%;
    }
}
.itemMiniText{
    display: flex;
    flex-direction: column;
    & .dopItemName{
        @include fonsNew(0.8rem, var(--inter-font));
    }
    & .ItemDesc{
        @include fonsNew(0.7rem, var(--inter-font));
    }
}

.OpenItemPC .MuiDialog-paper{
    overflow-y: visible!important;
}
.IconButtonClose > span{
    width: 100%!important;
    height: auto!important;
}