@charset "utf-8"; 

$Roboto: var(--inter-font);
$Ubuntu: 'Ubuntu';
$colorMain: #CC0033;
$colorText: #525252;

@mixin fonsNew($size: 1rem, $family: $Roboto) {
    font-size: $size;
    font-family: $family!important;
    color: $colorText;
}