@charset "utf-8"; 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$Roboto: 'Roboto';
$Ubuntu: 'Ubuntu';
$colorMain: #CC0033;
$colorText: #525252;

@mixin fonsNew($size: 1rem, $family: $Ubuntu) {
    font-size: $size;
    font-family: $family!important;
    color: $colorText;
}