@charset "utf-8";

$Roboto: var(--inter-font);
$Ubuntu: 'Ubuntu';
$colorMain: #cc0033;
$colorText: rgba(0, 0, 0, 0.8);

$MyScale5_17: 0.18663vw;
$MyScale11: 0.361vw;
$MyScale20: 0.722021vw;
$MyScale23: 0.83032vw;
$MyScale27: 0.974729vw;
$MyScale30: 1.08303vw;
$MyScale37: 1.33574007vw;
$MyScale40: 1.444043vw;
$MyScale40_8: 1.472924vw;
$MyScale43: 1.552346vw;
$MyScale49: 1.76894vw;
$MyScale60: 2.16606vw;
$MyScale66_6: 2.407vw;
$MyScale80: 2.8881vw;
$MyScale100: 3.6102vw;
$MyScale120: 4.3322vw;
$MyScale123: 4.4405vw;
$MyScale140: 5.05415vw;
$MyScale160: 5.776173vw;
$MyScale163: 5.884476vw;
$MyScale180: 6.4982vw;
$MyScale200: 7.2204vw;
$MyScale206_67: 7.4610108vw;
$MyScale330: 11.913357vw;
$MyScale400: 14.44043vw;
$MyScale1000: 36.1011vw;

$MyMaxWidth: 1170px;
//$MyMaxWidth: 600px;

@mixin fonsNew($size: 1rem, $family: $Roboto) {
  font-size: $size;
  font-family: $family !important;
  color: $colorText;
}

@mixin fontH1() {
  font-style: normal;
  font-weight: 700;

  @include fonsNew(2.6vw, var(--inter-font));

  @media (max-width: 960px) {
    @include fonsNew(1.7rem, var(--inter-font));
  }
}

@mixin fontH2_custom() {
  font-style: normal;
  font-weight: 700;

  @include fonsNew(2vw, var(--inter-font));

  @media (max-width: 960px) {
    @include fonsNew(1.2rem, var(--inter-font));
  }
}

@mixin font20_400() {
  font-style: normal;
  font-weight: 400;

  @include fonsNew(0.7vw, var(--inter-font));

  @media (max-width: 960px) {
    @include fonsNew(1rem, var(--inter-font));
  }
}

@mixin font22_400() {
  font-style: normal;
  font-weight: 400;

  @include fonsNew(0.7942238267148vw, var(--inter-font));

  @media (max-width: $MyMaxWidth) {
    @include fonsNew(1.8803418803419vw, var(--inter-font));
  }
}

@mixin font22_400_() {
  font-style: normal;
  font-weight: 400;

  @include fonsNew(0.85vw, var(--inter-font));

  @media (max-width: 960px) {
    @include fonsNew(1rem, var(--inter-font));
  }
}

@mixin font25_400() {
  font-style: normal;
  font-weight: 400;

  @include fonsNew(0.9vw, var(--inter-font));

  @media (max-width: 960px) {
    @include fonsNew(1rem, var(--inter-font));
  }
}

@mixin font30_700() {
  font-style: normal;
  font-weight: 700;

  @include fonsNew(1.0830324909747vw, var(--inter-font));

  @media (max-width: $MyMaxWidth) {
    @include fonsNew(2.5641025641026vw, var(--inter-font));
  }
}

@mixin font30_400() {
  font-style: normal;
  font-weight: 400;

  @include fonsNew(1.0830324909747vw, var(--inter-font));

  @media (max-width: $MyMaxWidth) {
    @include fonsNew(2.5641025641026vw, var(--inter-font));
  }
}

@mixin font35_400() {
  font-style: normal;
  font-weight: 400;

  @include fonsNew(1.2635379061372vw, var(--inter-font));

  // @media (max-width: 960px) {
  //   @include fonsNew(1.15rem, var(--inter-font));
  // }
}

@mixin font50_500() {
  font-style: normal;
  font-weight: 500;

  @include fonsNew(1.8050541516245vw, var(--inter-font));

  @media (max-width: $MyMaxWidth) {
    @include fonsNew(4.2735042735043vw, var(--inter-font));
  }
}

@mixin font50_400() {
  font-style: normal;
  font-weight: 400;

  @include fonsNew(1.73vw, var(--inter-font));

  @media (max-width: 960px) {
    @include fonsNew(1.73rem, var(--inter-font));
  }
}

@mixin font50_300() {
  font-style: normal;
  font-weight: 300;

  @include fonsNew(1.73vw, var(--inter-font));

  @media (max-width: 960px) {
    @include fonsNew(1.73rem, var(--inter-font));
  }
}

@mixin font40_400() {
  font-style: normal;
  font-weight: 400;

  @include fonsNew(1.4440433212996vw, var(--inter-font));

  @media (max-width: $MyMaxWidth) {
    @include fonsNew(3.4188034188034vw, var(--inter-font));
  }
}

@mixin font40_500() {
  font-style: normal;
  font-weight: 500;

  @include fonsNew(1.4440433212996vw, var(--inter-font));

  // @media (max-width: 960px) {
  //   @include fonsNew(1.4rem, var(--inter-font));
  // }
}

@mixin font60_300() {
  font-style: normal;
  font-weight: 300;

  @include fonsNew(2.2vw, var(--inter-font));

  @media (max-width: 960px) {
    @include fonsNew(2.2rem, var(--inter-font));
  }
}

@mixin font60_600() {
  font-style: normal;
  font-weight: 600;

  @include fonsNew(2.2vw, var(--inter-font));

  @media (max-width: 960px) {
    @include fonsNew(2.2rem, var(--inter-font));
  }
}

@mixin font75_700() {
  font-style: normal;
  font-weight: 700;

  @include fonsNew(2.7075812274368vw, var(--inter-font));

  @media (max-width: $MyMaxWidth) {
    @include fonsNew(6.4102564102564vw, var(--inter-font));
  }
}

@mixin font110_400() {
  font-style: normal;
  font-weight: 400;

  @include fonsNew(4vw, var(--inter-font));

  @media (max-width: 960px) {
    @include fonsNew(4rem, var(--inter-font));
  }
}

@mixin font120_700() {
  font-style: normal;
  font-weight: 700;

  //@include fonsNew(4vw, var(--inter-font));

  @media (max-width: $MyMaxWidth) {
    @include fonsNew(10.25641025641vw, var(--inter-font));
  }
}
