.ui-mui-switch {
  --ui-switch-track-off: rgba(0, 0, 0, 0.12);
  --ui-switch-track-on: #57dc35;

  .MuiSwitch-switchBase {
    transition-duration: 300ms;
    color: #fff;

    &.Mui-checked {
      color: #fff;

      & + .MuiSwitch-track {
        background-color: var(--ui-switch-track-on);
        opacity: 1;
        border-color: transparent;
      }
    }
  }

  .MuiSwitch-thumb {
    box-shadow: none;
  }

  .MuiSwitch-track {
    border-radius: 999px;
    background-color: var(--ui-switch-track-off);
    opacity: 1;
  }
}

.ui-mui-switch--tone-neutral {
  --ui-switch-track-on: rgba(0, 0, 0, 0.7);
}
